<div class="card m-0">
  <div class="card-header actionbar">
    <div>
      <cds-icon shape="building"></cds-icon>
      <span>
        Betreiber:
        {{ this.betreiberForm.value.allgemein?.name | ellipsize: 100 }}
      </span>
    </div>
    <div>
      <div class="btn-group list-action-buttons">
        <button
          (click)="reset()"
          class="btn btn-sm btn-secondary-outline"
          [disabled]="this.betreiberForm.pristine"
        >
          <cds-icon shape="times" aria-hidden="true"></cds-icon>
          Verwerfen
        </button>
        <button
          (click)="save()"
          class="btn btn-sm btn-primary"
          [disabled]="this.betreiberForm.pristine"
        >
          <cds-icon shape="floppy" aria-hidden="true"></cds-icon>
          Speichern
        </button>
      </div>
    </div>
  </div>
  <div class="card-block">
    <clr-tabs clrLayout="horizontal" *ngIf="hasBetreiber">
      <clr-tab>
        <button clrTabLink id="allgemein">
          Allgemein
          <cds-icon
            class="is-error"
            *ngIf="allgemeinForm.invalid"
            shape="error-standard"
            status="danger"
            aria-label="Validierungsfehler"
          ></cds-icon>
        </button>
        <clr-tab-content *clrIfActive="true">
          <app-spb-betreiber-allgemein
            [form]="allgemeinForm"
            [saveAttempt]="saveAttempt"
          >
          </app-spb-betreiber-allgemein>
        </clr-tab-content>
      </clr-tab>

      <clr-tab>
        <button clrTabLink id="adresse" data-cy="tabAdresse">
          Adresse
          <cds-icon
            class="is-error"
            *ngIf="adresseForm.invalid"
            shape="error-standard"
            status="danger"
            aria-label="Validierungsfehler"
          ></cds-icon>
        </button>
        <clr-tab-content *clrIfActive>
          <app-spb-adresse
            [form]="adresseForm"
            [saveAttempt]="saveAttempt"
            [isoCodes]="isoCodes"
          >
          </app-spb-adresse>
        </clr-tab-content>
      </clr-tab>
    </clr-tabs>
    <div class="alert alert-warning alert-sm" *ngIf="!hasBetreiber">
      <div class="alert-item static">
        <span class="alert-text"> Noch kein Betreiber im Stammdatenpool! </span>
      </div>
    </div>
  </div>
  <div class="card-footer">
    <button
      *ngIf="canDelete"
      aria-label="Auf Behördenzustand zurücksetzen"
      title="Auf Behördenzustand zurücksetzen"
      class="btn btn-icon btn-secondary"
      (click)="delete()"
      [disabled]="betreiberForm.disabled"
    >
      <cds-icon shape="undo" aria-hidden="true"></cds-icon>
    </button>
  </div>
  <div class="card-footer" style="font-size: 10px" *ngIf="hasBetreiber">
    Erfassung am:
    <em>{{ betreiber.ersteErfassung | date: "short" }}</em> | letzte Änderung
    am:
    <em>{{ betreiber.letzteAenderung | date: "short" }}</em>
  </div>
</div>
