<div class="card m-0">
  <div class="card-header actionbar">
    <div>
      <cds-icon shape="factory"></cds-icon>
      <span>
        Anlagenteil:
        {{ vergleich.allgemein.name.spl | ellipsize: 100 }}
      </span>
    </div>
    <div>
      <div class="btn-group list-action-buttons">
        <button class="btn btn-sm btn-secondary-outline" (click)="back()">
          <cds-icon shape="times" aria-hidden="true"></cds-icon>
          Abbrechen
        </button>
        <button
          class="btn btn-sm btn-primary"
          [disabled]="!canUebernehmen()"
          (click)="uebernahmeDialogOpen = true"
          data-cy="uebernehmen"
        >
          <cds-icon shape="floppy" aria-hidden="true"></cds-icon>
          Übernehmen
        </button>
      </div>
    </div>
  </div>
  <div class="card-block" *ngIf="vergleich.hasChanges">
    <clr-accordion clrAccordionMultiPanel="true">
      <clr-accordion-panel data-cy="allgemeinAccordion">
        <clr-accordion-title
          >Allgemein ({{ countAllgemein() }})
        </clr-accordion-title>
        <clr-accordion-content *clrIfExpanded>
          <div class="clr-row">
            <div class="clr-col-3"></div>
            <div class="clr-col-4">SPL</div>
            <div class="clr-col-4">SPB</div>
            <div class="clr-col-1">Übernahme</div>
          </div>
          <app-vergleichszeile
            label="Nummer"
            [spl]="vergleich.allgemein.anlagenteilNr.spl"
            [spb]="vergleich.allgemein.anlagenteilNr.spb"
            [isEqual]="vergleich.allgemein.anlagenteilNr.equal"
            [(checkValue)]="nummerUebernehmen"
          ></app-vergleichszeile>
          <app-vergleichszeile
            label="Name"
            [spl]="vergleich.allgemein.name.spl"
            [spb]="vergleich.allgemein.name.spb"
            [isEqual]="vergleich.allgemein.name.equal"
            [(checkValue)]="nameUebernehmen"
          ></app-vergleichszeile>
          <app-vergleichszeile
            label="Inbetriebnahme"
            [spl]="vergleich.allgemein.inbetriebnahme.spl"
            [spb]="vergleich.allgemein.inbetriebnahme.spb"
            [isEqual]="vergleich.allgemein.inbetriebnahme.equal"
            [(checkValue)]="inbetriebnahmeUebernehmen"
          ></app-vergleichszeile>
          <app-vergleichszeile
            label="Betriebsstatus"
            [spl]="vergleich.allgemein.betriebsstatus.spl?.ktext"
            [spb]="vergleich.allgemein.betriebsstatus.spb?.ktext"
            [isEqual]="vergleich.allgemein.betriebsstatus.equal"
            [(checkValue)]="betriebsstatusUebernehmen"
          ></app-vergleichszeile>
          <app-vergleichszeile
            label="Seit"
            [spl]="vergleich.allgemein.betriebsstatusSeit.spl | date"
            [spb]="vergleich.allgemein.betriebsstatusSeit.spb | date"
            [isEqual]="vergleich.allgemein.betriebsstatusSeit.equal"
            [(checkValue)]="betriebsstatusSeitUebernehmen"
          ></app-vergleichszeile>
          <app-vergleichszeile
            label="Geo-Punkt"
            [spl]="getGeoPunktText(vergleich.allgemein.geoPunkt.spl)"
            [spb]="getGeoPunktText(vergleich.allgemein.geoPunkt.spb)"
            [isEqual]="vergleich.allgemein.geoPunkt.equal"
            [(checkValue)]="geoPunktUebernehmen"
          ></app-vergleichszeile>
        </clr-accordion-content>
      </clr-accordion-panel>

      <clr-accordion-panel>
        <clr-accordion-title>
          Leistungen ({{ countLeistungen() }})
        </clr-accordion-title>
        <clr-accordion-content *clrIfExpanded>
          <app-vergleichstabelle-leistungen
            [leistungen]="vergleich.leistungen"
            [isEqual]="countLeistungen() === 0"
            [(checkValue)]="leistungenUebernehmen"
          ></app-vergleichstabelle-leistungen>
        </clr-accordion-content>
      </clr-accordion-panel>
    </clr-accordion>
  </div>
  <div class="card-block" *ngIf="!vergleich.hasChanges">
    <span>
      Es existieren keine Änderungen des Anlagenteils durch den Betreiber oder
      die Änderungen wurden bereits übernommen.
    </span>
  </div>
</div>

<app-uebernahme-dialog
  [(open)]="uebernahmeDialogOpen"
  (uebernehmenOut)="uebernehmen($event)"
></app-uebernahme-dialog>
