<div class="card m-0">
  <div class="card-header">
    <cds-icon shape="building"></cds-icon>
    Stammdaten
  </div>
  <div class="card-block">
    <div class="clr-form clr-form-compact">
      <div class="clr-form-control">
        <label class="clr-control-label"
          >Betriebsstätten-Nr
          <app-tooltip>Betriebsstättennummer </app-tooltip>
        </label>
        <div class="clr-control-inline">
          {{ betriebsstaettenInfos.betriebsstaetteNr }}
        </div>
      </div>
      <div class="clr-form-control">
        <label class="clr-control-label"
          >Local-ID
          <app-tooltip
            >Local ID für InspireId eines fallweise generierten Objektes
            ProductionInstallation oder ProductionInstallationPart
          </app-tooltip>
        </label>
        <div class="clr-control-inline">
          {{ betriebsstaettenInfos.localId }}
        </div>
      </div>
      <div class="clr-form-control">
        <label class="clr-control-label">Name</label>
        <div class="clr-control-inline">{{ betriebsstaettenInfos.name }}</div>
      </div>
      <div class="clr-form-control">
        <label class="clr-control-label">Ort</label>
        <div class="clr-control-inline">{{ betriebsstaettenInfos.ort }}</div>
      </div>
    </div>
  </div>

  <div class="card-block">
    <div class="clr-form clr-form-compact">
      <div class="clr-form-control">
        <label class="clr-control-label"
          >{{ isAnlagenBericht ? "Anlage-Nr" : "Anlagenteil-Nr" }}
          <app-tooltip>{{
            isAnlagenBericht ? "Anlagennummer" : "Anlagenteil-Nummer"
          }}</app-tooltip>
        </label>
        <div class="clr-control-inline">{{ anlagenInfos.anlageNr }}</div>
      </div>
      <div class="clr-form-control">
        <label class="clr-control-label"
          >Local-ID
          <app-tooltip
            >Local ID für InspireId eines fallweise generierten Objektes
            ProductionInstallation oder ProductionInstallationPart
          </app-tooltip>
        </label>
        <div class="clr-control-inline">{{ anlagenInfos.localId }}</div>
      </div>
      <div class="clr-form-control">
        <label class="clr-control-label">Name</label>
        <div class="clr-control-inline">{{ anlagenInfos.name }}</div>
      </div>
      <div class="clr-form-control">
        <label class="clr-control-label">4. BImSchV</label>
        <div class="clr-control-inline">{{ anlagenInfos.bimschv4 }}</div>
      </div>
      <div class="clr-form-control">
        <label class="clr-control-label">Betriebsstatus</label>
        <div class="clr-control-inline">{{ anlagenInfos.betriebsstatus }}</div>
      </div>
      <div class="clr-form-control">
        <label class="clr-control-label">Betriebsstatus seit</label>
        <div class="clr-control-inline">
          {{ anlagenInfos.betriebsstatusSeit | date: "mediumDate" }}
        </div>
      </div>
      <div class="clr-form-control">
        <label class="clr-control-label">Genehmigungsbehörde</label>
        <div class="clr-control-inline">
          {{ anlagenInfos.genehmigungsBehoerde }}
        </div>
      </div>
      <div class="clr-form-control">
        <label class="clr-control-label">Überwachungssbehörde</label>
        <div class="clr-control-inline">
          {{ anlagenInfos.ueberwachungsBehoerde }}
        </div>
      </div>
      <div class="clr-form-control">
        <label class="clr-control-label">IED-Haupttätigkeit</label>
        <div class="clr-control-inline">{{ anlagenInfos.iedTaetigkeit }}</div>
      </div>
      <div class="clr-form-control">
        <label class="clr-control-label">PRTR-Haupttätigkeit</label>
        <div class="clr-control-inline">{{ anlagenInfos.prtrTaetigkeit }}</div>
      </div>
      <div class="clr-form-control">
        <label class="clr-control-label">13. BImSchV</label>
        <div class="clr-control-inline">
          {{ anlagenInfos.bimschv13 ? "Ja" : "Nein" }}
        </div>
      </div>
      <div class="clr-form-control">
        <label class="clr-control-label">17. BImSchV</label>
        <div class="clr-control-inline">
          {{ anlagenInfos.bimschv17 ? "Ja" : "Nein" }}
        </div>
      </div>
      <div class="clr-form-control">
        <label class="clr-control-label"
          >FWL [MW]
          <app-tooltip
            >Gesamtfeuerungswärmeleistung in Megawatt. Leistung mit Bezug=FWL
            und Einheit=MW
          </app-tooltip>
        </label>
        <div class="clr-control-inline">
          {{ anlagenInfos.fwl | number }}
        </div>
      </div>
    </div>
  </div>
  <div class="card-footer">
    <button
      *ngIf="isAnlagenBericht"
      class="btn btn-sm btn-link"
      [routerLink]="[
        '/stammdaten/jahr',
        betriebsstaettenInfos.berichtsjahr,
        'betriebsstaette',
        'land',
        betriebsstaettenInfos.land,
        'nummer',
        betriebsstaettenInfos.betriebsstaetteNr,
        'anlage',
        'nummer',
        anlagenInfos.anlageNr
      ]"
    >
      Zu den Stammdaten
    </button>
    <button
      *ngIf="!isAnlagenBericht"
      class="btn btn-sm btn-link"
      [routerLink]="[
        '/stammdaten/jahr',
        betriebsstaettenInfos.berichtsjahr,
        'betriebsstaette',
        'land',
        betriebsstaettenInfos.land,
        'nummer',
        betriebsstaettenInfos.betriebsstaetteNr,
        'anlage',
        'nummer',
        this.anlagenNummer,
        'anlagenteil',
        'nummer',
        anlagenInfos.anlageNr
      ]"
    >
      Zu den Stammdaten
    </button>
  </div>
</div>
