<form clrForm [formGroup]="form" [clrLabelSize]="3">
  <span class="clr-sr-only"
    >Durch das Durchtabben dieses Formulars werden Validierungshinweise
    vorgelesen.</span
  >

  <clr-input-container>
    <label>Nummer</label>
    <input
      clrInput
      type="text"
      placeholder="Quellen Nummer"
      formControlName="quelleNr"
      required
      data-cy="quelleNr"
      class="input-full-width"
    />
    <clr-control-error>Nummer wird benötigt (max. Länge 20)</clr-control-error>
  </clr-input-container>

  <clr-input-container>
    <label>Name</label>
    <input
      clrInput
      type="text"
      placeholder="Quellen Name"
      formControlName="name"
      name="Name"
      required
      class="input-full-width"
      data-cy="quellenName"
    />
    <clr-control-error>Name wird benötigt (max. Länge 250)</clr-control-error>
  </clr-input-container>

  <app-geo-punkt
    [form]="geoPunktForm"
    [epsgCodeListe]="epsgCodeListe"
  ></app-geo-punkt>

  <clr-input-container>
    <label>Fläche [m&#178;]</label>
    <input
      clrInput
      type="number"
      formControlName="flaeche"
      class="input-full-width"
    />
    <clr-control-error>(min: 0, max: 999999,999)</clr-control-error>
  </clr-input-container>

  <clr-input-container>
    <label>Länge [m]</label>
    <input
      clrInput
      type="number"
      formControlName="laenge"
      class="input-full-width"
    />
    <clr-control-error>(min: 0, max: 9999,999)</clr-control-error>
  </clr-input-container>

  <clr-input-container>
    <label>Breite [m]</label>
    <input
      clrInput
      type="number"
      formControlName="breite"
      class="input-full-width"
    />
    <clr-control-error>(min: 0, max: 9999,999)</clr-control-error>
  </clr-input-container>

  <clr-input-container>
    <label>Durchmesser [m]</label>
    <input
      clrInput
      type="number"
      formControlName="durchmesser"
      class="input-full-width"
    />
    <clr-control-error>(min: 0, max: 9999,999)</clr-control-error>
  </clr-input-container>

  <clr-input-container>
    <label>Bauhöhe [m]</label>
    <input
      clrInput
      type="number"
      formControlName="bauhoehe"
      class="input-full-width"
    />
    <clr-control-error>(min: 0, max: 999,99)</clr-control-error>
  </clr-input-container>

  <clr-textarea-container class="input-full-width">
    <label>Bemerkung</label>
    <textarea
      clrTextarea
      formControlName="bemerkung"
      placeholder="Bemerkung"
      name="Bemerkung"
      rows="2"
    ></textarea>
    <clr-control-error>(max. Länge 1000)</clr-control-error>
  </clr-textarea-container>
</form>
