<div class="card m-0">
  <div class="card-header">
    <cds-icon shape="user" aria-hidden="true"></cds-icon>
    Betreiber: {{ betreiber?.name }}
  </div>
  <div class="card-block">
    <div *ngIf="neueBetriebsstaette()" class="alert alert-warning alert-sm">
      <div class="alert-item static">
        <span class="alert-text">
          Bitte erst die Betriebsstätte erfassen.
        </span>
      </div>
    </div>
    <div
      *ngIf="!neueBetriebsstaette() && keinBetreiber()"
      class="alert alert-warning alert-sm"
    >
      <div class="alert-item static">
        <span class="alert-text"> Noch kein Betreiber! </span>
      </div>
    </div>
    <div
      *ngIf="
        !keinBetreiber() &&
        !betreiber.betreiberdatenUebernommen &&
        betreiber.letzteAenderungBetreiber
      "
      class="alert alert-warning alert-sm"
    >
      <div class="alert-item static">
        <span class="alert-text">
          Es gibt Änderungen des Betreibers durch den Betreiber!
        </span>
      </div>
    </div>

    <clr-combobox-container class="input-full-width">
      <label>Betreiber</label>
      <clr-combobox [(ngModel)]="selectedBetreiber" [disabled]="!canWrite">
        <clr-options>
          <clr-option
            *clrOptionItems="let betreiber of betreiberListe; field: 'display'"
            [clrValue]="betreiber"
          >
            {{ betreiber.display }}
          </clr-option>
        </clr-options>
      </clr-combobox>
      <clr-control-helper>Suche nach Name, PLZ und Ort.</clr-control-helper>
      <clr-control-helper>
        Zur Anzeige der gesamten Betreiberliste bitte Suchfeld leeren.
      </clr-control-helper>
    </clr-combobox-container>
  </div>
  <div class="card-footer">
    <button
      aria-label="Betreiber öffnen"
      title="Betreiber öffnen"
      class="btn btn-icon btn-primary"
      [disabled]="keinBetreiber() || selectionDirty"
      (click)="navigateToBetreiber(betreiber.betreiberNummer)"
    >
      <cds-icon shape="eye" aria-hidden="true"></cds-icon>
    </button>

    <button
      *ngIf="canDelete"
      aria-label="Betreiber löschen"
      title="Betreiber löschen"
      class="btn btn-icon btn-secondary"
      [disabled]="keinBetreiber() || selectionDirty"
      (click)="loeschenDialog = true"
    >
      <cds-icon shape="trash" aria-hidden="true"></cds-icon>
    </button>

    <button
      *ngIf="canWrite"
      aria-label="Neuen Betreiber anlegen"
      title="Neuen Betreiber anlegen"
      class="btn btn-icon btn-secondary"
      [disabled]="neueBetriebsstaette()"
      (click)="createBetreiber()"
    >
      <cds-icon shape="plus" aria-hidden="true"></cds-icon>
    </button>

    <button
      *ngIf="canWrite"
      (click)="speichern()"
      [disabled]="!selectionDirty"
      aria-label="Betreiber zur Betriebsstätte speichern"
      title="Betreiber zur Betriebsstätte speichern"
      class="btn btn-icon btn-primary"
    >
      <cds-icon shape="floppy" aria-hidden="true"></cds-icon>
    </button>

    <button
      *ngIf="canWrite"
      (click)="verwerfen()"
      [disabled]="!selectionDirty"
      aria-label="Betreiberzuordnung verwerfen"
      title="Betreiberzuordnung verwerfen"
      class="btn btn-icon btn-secondary"
    >
      <cds-icon shape="times" aria-hidden="true"></cds-icon>
    </button>
  </div>
</div>

<clr-modal
  [(clrModalOpen)]="loeschenDialog"
  [clrModalSize]="'m'"
  [clrModalClosable]="false"
>
  <h3 class="modal-title">Betreiber Löschen?</h3>
  <div class="modal-body">
    <p>Es werden alle Daten des Betreibers gelöscht!</p>
    <small
      >Der Betreiber kann nur dann gelöscht werden, wenn er keiner weiteren
      Betriebsstätte zugeordnet ist!</small
    >
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline"
      (click)="loeschenDialog = false"
    >
      Abbrechen
    </button>
    <button type="button" class="btn btn-warning" (click)="deleteBetreiber()">
      Löschen
    </button>
  </div>
</clr-modal>
