// Themen fünktionieren mit IE 11 nicht. Auch der Carity Fix dafür funktioniert nicht.
// Wir überschreiben daher keine Styles mehr.

// Zum Themen müssen CSS-Properties genommen werden da die SASS Variablen mit Version 4.0 nicht mehr
// unterstützt werden. Beispiel um die benötigten Properties zum Themen zu finden:
// https://github.com/mathisscott/clarity-theming-starter/blob/clarity-css-dark-theme/src/_dark-theme.scss
/*
:root {
  --clr-global-app-background: hsl(90, 7%, 95%);
  --clr-header-2-bg-color: hsl(197, 90%, 20%);

  --clr-link-active-color: hsl(213, 42%, 37%);
  --clr-link-color: hsl(213, 42%, 37%);
  --clr-link-hover-color: hsl(213, 42%, 37%);
  --clr-link-visited-color: hsl(213, 29%, 48%);
}
*/

.content-area {
  width: 100%;
  overflow-x: hidden;
  height: calc(100vh - 7rem);
}

.clr-form-control {
  margin-top: 0.8rem;
}

.input-full-width {
  align-items: stretch;

  & input,
  & .clr-combobox-wrapper,
  & textarea {
    width: calc(100% - 24px);
  }

  &--no-validation {
    width: 100% !important;
  }
}

// Klären ob der Einsatz von etwas wie Tailwind sich hier lohnt
.p-0 {
  padding: 0 !important;
}

.pl-3 {
  padding-left: 1rem !important;
}

.pt-0 {
  padding-top: 0 !important;
}

.pt-1 {
  padding-top: 0.5rem !important;
}

.pt-2 {
  padding-top: 0.75rem !important;
}

.pt-3 {
  padding-top: 1rem !important;
}

.pt-4 {
  padding-top: 1.5rem !important;
}

.pt-5 {
  padding-top: 2rem !important;
}

.pb-0 {
  padding-bottom: 0 !important;
}

.pb-1 {
  padding-bottom: 0.5rem !important;
}

.pb-2 {
  padding-bottom: 0.75rem !important;
}

.pb-3 {
  padding-bottom: 1rem !important;
}

.pb-4 {
  padding-bottom: 1.5rem !important;
}

.pb-5 {
  padding-bottom: 2rem !important;
}

.py-1 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.py-2 {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.py-3 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.py-4 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.py-5 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.m-0 {
  margin: 0 !important;
}

.ml-1 {
  margin-left: 0.5rem !important;
}

.mr-1 {
  margin-right: 0.5rem !important;
}

.my-5 {
  margin-top: 2rem !important;
  margin-bottom: 2rem !important;
}

.mt-1 {
  margin-top: 0.5rem !important;
}
