<section class="pb-4">
  <clr-datagrid
    class="datagrid-compact"
    *ngIf="formArray.length > 0; else keineDaten"
  >
    <clr-dg-column>Vorname</clr-dg-column>
    <clr-dg-column>Nachname</clr-dg-column>
    <clr-dg-column>Funktion</clr-dg-column>
    <clr-dg-column *ngIf="!hideBemerkung">Bemerkung</clr-dg-column>
    <clr-dg-column>Aktionen</clr-dg-column>
    <clr-dg-placeholder>Keine Ergebnisse gefunden</clr-dg-placeholder>
    <clr-dg-row
      *clrDgItems="let ansprechpartnerControl of formArray.controls; index as i"
    >
      <clr-dg-cell>
        <cds-icon
          class="is-error"
          *ngIf="ansprechpartnerControl.invalid"
          shape="error-standard"
          status="danger"
          aria-label="Validierungsfehler"
        ></cds-icon
        >{{ ansprechpartnerControl.value.vorname }}</clr-dg-cell
      >
      <clr-dg-cell>{{ ansprechpartnerControl.value.nachname }}</clr-dg-cell>
      <clr-dg-cell>{{
        ansprechpartnerControl.value.funktion?.ktext
      }}</clr-dg-cell>
      <clr-dg-cell *ngIf="!hideBemerkung">{{
        ansprechpartnerControl.value.bemerkung
      }}</clr-dg-cell>
      <clr-dg-cell>
        <button
          class="btn btn-icon btn-primary-outline"
          aria-label="Bearbeiten"
          title="Bearbeiten"
          [disabled]="!canWrite"
          (click)="bearbeiten(i)"
        >
          <cds-icon shape="note" aria-hidden="true"></cds-icon>
        </button>
        <button
          class="btn btn-icon btn-primary-outline"
          aria-label="Löschen"
          title="Löschen"
          [disabled]="!canWrite"
          (click)="loeschen(i)"
        >
          <cds-icon shape="trash" aria-hidden="true"></cds-icon>
        </button>
      </clr-dg-cell>

      <clr-dg-row-detail *clrIfExpanded>
        <ul
          class="list-unstyled"
          *ngIf="
            ansprechpartnerControl.value.kommunikationsverbindungen.length > 0;
            else keineKommunikation
          "
        >
          <li
            *ngFor="
              let kommunikation of ansprechpartnerControl.value
                .kommunikationsverbindungen
            "
          >
            <span>
              {{ kommunikation.typ.ktext }} : {{ kommunikation.verbindung }}
            </span>
          </li>
        </ul>
      </clr-dg-row-detail>
    </clr-dg-row>
  </clr-datagrid>
  <section class="pt-2">
    <button *ngIf="canWrite" class="btn btn-secondary-outline" (click)="neu()">
      <cds-icon shape="plus"></cds-icon>
      Neu
    </button>
  </section>
</section>

<!-- BEARBEITEN MODAL -->
<clr-modal
  *ngIf="ansprechpartnerForm"
  [(clrModalOpen)]="editModalOpen"
  [clrModalClosable]="false"
>
  <h3 class="modal-title">
    Ansprechperson
    {{ this.editExistingIndex != null ? "bearbeiten" : "hinzufügen" }}
  </h3>
  <div class="modal-body">
    <form
      clrForm
      clrLayout="vertical"
      [formGroup]="ansprechpartnerForm"
      class="pb-3"
    >
      <span class="clr-sr-only">
        Durch das Durchtabben dieses Formulars werden Validierungshinweise
        vorgelesen.
      </span>
      <clr-input-container class="input-full-width">
        <label>Vorname</label>
        <input
          clrInput
          type="text"
          placeholder="Vorname"
          formControlName="vorname"
          data-cy="vorname"
        />
        <clr-control-error>(max. Länge 120)</clr-control-error>
      </clr-input-container>
      <clr-input-container class="input-full-width">
        <label>Nachname</label>
        <input
          clrInput
          type="text"
          placeholder="Nachname"
          formControlName="nachname"
          data-cy="nachname"
          required
        />
        <clr-control-error
          >Nachname wird benötigt (max. Länge 80)
        </clr-control-error>
      </clr-input-container>

      <clr-combobox-container>
        <label>Funktion</label>
        <clr-combobox formControlName="funktion">
          <clr-options data-cy="funktion-options">
            <clr-option
              *clrOptionItems="
                let funktion of funktionen.values;
                field: 'ktext'
              "
              [clrValue]="funktion"
              >{{ funktion.ktext }}</clr-option
            >
          </clr-options>
        </clr-combobox>
        <clr-control-helper>
          Zur Anzeige der gesamten Liste bitte Suchfeld leeren.
        </clr-control-helper>
        <clr-control-error *clrIfError="'invalidReference'; error as error">
          Es wurden ungültige Referenzen gefunden: {{ error.ktext }}
        </clr-control-error>
      </clr-combobox-container>

      <clr-textarea-container class="input-full-width" *ngIf="!hideBemerkung">
        <label>Bemerkung</label>
        <textarea
          clrTextarea
          placeholder="Bemerkung"
          formControlName="bemerkung"
          rows="2"
        ></textarea>
        <clr-control-error>(max. Länge 1000)</clr-control-error>
      </clr-textarea-container>
      <div class="clr-row">
        <span id="kommunikation" class="clr-control-label clr-col pt-1"
          >Kommunikationsverbindungen</span
        >
      </div>
      <ng-container formArrayName="kommunikationsverbindungen">
        <ul>
          <li
            class="clr-row"
            *ngFor="
              let control of kommunikationsverbindungen.controls;
              index as i
            "
          >
            <ng-container [formGroupName]="i">
              <clr-select-container class="clr-col-md-3 clr-col-12">
                <app-referenz-select
                  clrSelect
                  formControlName="typ"
                  required
                  aria-labelledby="kommunikation"
                  (change)="kommunikationsTypChanged(control)"
                  [referenzliste]="kommunikationsTypen.values"
                >
                </app-referenz-select>
                <clr-control-error *clrIfError="'required'"
                  >Typ wird benötigt</clr-control-error
                >
                <clr-control-error
                  *clrIfError="'invalidReference'; error as error"
                >
                  Es wurden ungültige Referenzen gefunden: {{ error.ktext }}
                </clr-control-error>
              </clr-select-container>
              <clr-input-container
                class="clr-col-md-8 clr-col-10 input-full-width"
              >
                <input
                  clrInput
                  type="text"
                  placeholder="Verbindung"
                  required
                  formControlName="verbindung"
                  aria-labelledby="kommunikation"
                  data-cy="kommunikation"
                />
                <clr-control-error *clrIfError="'required'"
                  >Verbindung wird benötigt
                </clr-control-error>
                <clr-control-error *clrIfError="'maxlength'; error as err"
                  >Verbindung darf maximal {{ err.requiredLength }} Zeichen
                  beinhalten
                </clr-control-error>
                <clr-control-error *clrIfError="'email'"
                  >Bitte E-Mail im Format "maxi.muster@beispiel.de" eintragen.
                </clr-control-error>
                <clr-control-error *clrIfError="'url'; error as url">
                  Ungültige URL.
                  <ng-container *ngIf="url.invalid_scheme">
                    Muss mit <code>http://</code> bzw.
                    <code>https://</code> beginnen
                  </ng-container>
                </clr-control-error>
              </clr-input-container>
              <button
                type="button"
                class="
                  clr-col-md-1 clr-col-2
                  btn btn-sm btn-icon btn-link btn-inline
                "
                aria-label="Löschen"
                title="Löschen"
                (click)="loescheKommunikation(i)"
              >
                <cds-icon shape="trash" aria-hidden="true"></cds-icon>
              </button>
            </ng-container>
          </li>
        </ul>
      </ng-container>
    </form>
    <button
      class="btn btn-sm"
      (click)="neueKommunikation()"
      aria-label="Hinzufügen"
    >
      <cds-icon shape="plus" aria-hidden="true"></cds-icon>
      Verbindung hinzufügen
    </button>
  </div>
  <div class="modal-footer">
    <button class="btn btn-outline" type="button" (click)="abbrechen()">
      Abbrechen
    </button>
    <button
      class="btn btn-primary"
      type="button"
      [disabled]="ansprechpartnerForm.pristine"
      (click)="uebernehmen()"
    >
      Übernehmen
    </button>
  </div>
</clr-modal>

<ng-template #keineKommunikation>
  <div>Keine Einträge vorhanden.</div>
</ng-template>

<ng-template #keineDaten>
  <div class="pt-5">
    Keine Daten vorhanden.
    {{ canWrite ? 'Klicken Sie auf das "+", um Einträge hinzuzufügen.' : "" }}
  </div>
</ng-template>
