<form clrForm [formGroup]="form" [clrLabelSize]="3">
  <span class="clr-sr-only"
    >Durch das Durchtabben dieses Formulars werden Validierungshinweise
    vorgelesen.</span
  >

  <clr-input-container>
    <label
      >Nummer
      <app-tooltip [positionBottom]="true">Betriebsstättennummer</app-tooltip>
    </label>
    <input
      clrInput
      type="text"
      placeholder="Betriebsstätten-Nr."
      formControlName="betriebsstaetteNr"
      required
      data-cy="betriebsstaetteNr"
      class="input-full-width"
    />
    <clr-control-error>Nummer wird benötigt (max. Länge 20)</clr-control-error>
  </clr-input-container>

  <clr-input-container>
    <label
      >Local-ID
      <app-tooltip [positionBottom]="true"
        >Local ID für InspireId eines fallweise generierten Objektes
        ProductionInstallation oder ProductionInstallationPart
      </app-tooltip>
    </label>
    <input
      clrInput
      type="text"
      placeholder="Local-ID"
      formControlName="localId"
      class="input-full-width"
    />
    <clr-control-error>(max. Länge 40)</clr-control-error>
  </clr-input-container>

  <clr-input-container>
    <label>Name</label>
    <input
      clrInput
      type="text"
      placeholder="Name"
      formControlName="name"
      required
      class="input-full-width"
      data-cy="name"
    />
    <clr-control-error>Name wird benötigt (max. Länge 250)</clr-control-error>
  </clr-input-container>

  <clr-combobox-container class="input-full-width">
    <label>Zuständige Behörde</label>
    <clr-combobox formControlName="zustaendigeBehoerde" required>
      <clr-options>
        <clr-option
          *clrOptionItems="
            let behoerde of behoerdenListe.values;
            field: 'ktext'
          "
          [clrValue]="behoerde"
        >
          {{ behoerde.ktext }}
        </clr-option>
      </clr-options>
    </clr-combobox>
    <clr-control-error *clrIfError="'required'"
      >Zuständige Behörde wird benötigt
    </clr-control-error>
    <clr-control-error *clrIfError="'invalidReference'; error as error">
      Es wurden ungültige Referenzen gefunden: {{ error.ktext }}
    </clr-control-error>
    <clr-control-helper>
      Zur Anzeige der gesamten Liste bitte Suchfeld leeren.
    </clr-control-helper>
  </clr-combobox-container>

  <clr-input-container>
    <label>AKZ</label>
    <input
      clrInput
      class="input-full-width"
      type="text"
      placeholder="Aufgabenbereichskennzahl"
      formControlName="akz"
    />
    <clr-control-error>(max. Länge 14)</clr-control-error>
  </clr-input-container>

  <clr-date-container>
    <label>Inbetriebnahme</label>
    <input type="date" clrDate formControlName="inbetriebnahme" />
    <clr-control-error *clrIfError="'date'"
      >Bitte gültiges Datum eingeben.
    </clr-control-error>
  </clr-date-container>

  <clr-select-container>
    <label>Betriebsstatus</label>
    <app-referenz-select
      clrSelect
      formControlName="betriebsstatus"
      required
      data-cy="betriebsstatus"
      [referenzliste]="betriebsstatusListe.values"
    ></app-referenz-select>
    <clr-control-error *clrIfError="'required'"
      >Betriebsstatus wird benötigt
    </clr-control-error>
    <clr-control-error *clrIfError="'invalidReference'; error as error">
      Es wurden ungültige Referenzen gefunden: {{ error.ktext }}
    </clr-control-error>
  </clr-select-container>

  <clr-date-container>
    <label
      >Seit
      <app-tooltip>Datum der letzten Änderung des Betriebsstatus</app-tooltip>
    </label>
    <input
      type="date"
      clrDate
      formControlName="betriebsstatusSeit"
      [max]="today"
    />
    <clr-control-error *clrIfError="'date'"
      >Bitte gültiges Datum eingeben.
    </clr-control-error>
  </clr-date-container>

  <clr-combobox-container class="input-full-width">
    <label>NACE-Code</label>
    <clr-combobox formControlName="naceCode">
      <clr-options>
        <clr-option
          *clrOptionItems="let code of naceCodeListe.values; field: 'ktext'"
          [clrValue]="code"
          >{{ code.ktext }}</clr-option
        >
      </clr-options>
    </clr-combobox>
    <clr-control-helper>
      Zur Anzeige der gesamten Liste bitte Suchfeld leeren.
    </clr-control-helper>
    <clr-control-error *clrIfError="'invalidReference'; error as error">
      Es wurden ungültige Referenzen gefunden: {{ error.ktext }}
    </clr-control-error>
  </clr-combobox-container>

  <clr-select-container>
    <label>Flusseinzugsgebiet</label>
    <app-referenz-select
      clrSelect
      formControlName="flusseinzugsgebiet"
      [referenzliste]="flusseinzugsgebietListe.values"
    >
    </app-referenz-select>
    <clr-control-error *clrIfError="'invalidReference'; error as error">
      Es wurden ungültige Referenzen gefunden: {{ error.ktext }}
    </clr-control-error>
  </clr-select-container>

  <clr-combobox-container class="input-full-width">
    <label>
      AGS
      <app-tooltip>
        Amtlicher Gemeindeschlüssel, alt Gemeindekennziffer
      </app-tooltip>
    </label>
    <clr-combobox
      formControlName="gemeindekennziffer"
      required
      data-cy="gemeindekennziffer"
    >
      <clr-options>
        <clr-option
          *clrOptionItems="
            let kennziffer of gemeindekennzifferListe.values;
            field: 'ktext'
          "
          [clrValue]="kennziffer"
          >{{ kennziffer.ktext }}</clr-option
        >
      </clr-options>
    </clr-combobox>
    <clr-control-error *clrIfError="'required'"
      >Gemeindekennziffer wird benötigt
    </clr-control-error>
    <clr-control-error *clrIfError="'invalidReference'; error as error">
      Es wurden ungültige Referenzen gefunden: {{ error.ktext }}
    </clr-control-error>
    <clr-control-helper
      >Ort der Adresse wird automatisch gesetzt. Bitte Adresse aktualisieren.
    </clr-control-helper>
    <clr-control-helper>
      Zur Anzeige der gesamten Liste bitte Suchfeld leeren.
    </clr-control-helper>
  </clr-combobox-container>

  <app-geo-punkt [form]="geoPunktForm" [epsgCodeListe]="epsgCodeListe">
  </app-geo-punkt>

  <clr-combobox-container>
    <label>Vorschriften</label>
    <clr-combobox formControlName="vorschriften" clrMulti="true">
      <ng-container *clrOptionSelected="let selected">
        {{ selected.ktext }}
      </ng-container>
      <clr-options>
        <clr-option
          *clrOptionItems="
            let vorschrift of vorschriftenListe.values;
            field: 'ktext'
          "
          [clrValue]="vorschrift"
        >
          {{ vorschrift.ktext }}
        </clr-option>
      </clr-options>
    </clr-combobox>
    <clr-control-helper
      >Beginnen Sie, Text zu schreiben oder wählen Sie aus.
    </clr-control-helper>
    <clr-control-helper
      >Die Auswahl hat keine funktionelle Auswirkung auf die Erzeugung von
      EURegistry Daten.
    </clr-control-helper>
    <clr-control-error *clrIfError="'invalidReferences'; error as error">
      Es wurden ungültige Referenzen gefunden:
      {{ joinInvalidReferences(error) }}
    </clr-control-error>
  </clr-combobox-container>

  <clr-control-container>
    <label>Abfallerzeuger-Nr.</label>
    <!-- Das Attribut [class.clr-input]="false" ist ein workaround für Clarity,
          da die Klasse ungewollte Eigenschaften bereitstellt, aber clrControl
          für Validierung und a18y benötigt wird -->
    <app-input-list
      clrControl
      [class.clr-input]="false"
      formControlName="abfallerzeugerNummern"
    ></app-input-list>
    <clr-control-error *clrIfError="'length'; error as err">
      (max. Länge 255)
    </clr-control-error>
    <clr-control-helper
      >Beginnen Sie, Text zu schreiben. Enter-Taste oder '+' fügt hinzu.
    </clr-control-helper>
  </clr-control-container>

  <clr-control-container>
    <label>Einleiter-Nr.</label>
    <app-input-list
      clrControl
      [class.clr-input]="false"
      formControlName="einleiterNummern"
    ></app-input-list>
    <clr-control-error *clrIfError="'length'; error as err">
      (max. Länge 255)
    </clr-control-error>
    <clr-control-helper
      >Beginnen Sie, Text zu schreiben. Enter-Taste oder '+' fügt hinzu.
    </clr-control-helper>
  </clr-control-container>

  <clr-toggle-container>
    <label>Einleiter Informationen</label>
    <clr-toggle-wrapper>
      <label>Direkteinleiter</label>
      <input type="checkbox" clrToggle formControlName="direkteinleiter" />
    </clr-toggle-wrapper>
    <clr-toggle-wrapper>
      <label>Indirekteinleiter</label>
      <input type="checkbox" clrToggle formControlName="indirekteinleiter" />
    </clr-toggle-wrapper>
  </clr-toggle-container>

  <clr-select-container>
    <label>Vertraulichkeitsgrund</label>
    <app-referenz-select
      clrSelect
      formControlName="vertraulichkeitsgrund"
      [referenzliste]="vertraulichkeitsgrundListe.values"
    ></app-referenz-select>
    <clr-control-error *clrIfError="'invalidReference'; error as error">
      Es wurden ungültige Referenzen gefunden: {{ error.ktext }}
    </clr-control-error>
  </clr-select-container>

  <clr-textarea-container class="input-full-width">
    <label>Bemerkung</label>
    <textarea
      clrTextarea
      formControlName="bemerkung"
      placeholder="Bemerkungen"
      rows="2"
    ></textarea>
    <clr-control-error>(max. Länge 1000)</clr-control-error>
  </clr-textarea-container>
</form>
