<div class="card m-0">
  <div class="card-header">Regel testen</div>
  <div class="card-block">
    <form clrForm clrLayout="vertical" [formGroup]="form">
      <span class="clr-sr-only"
        >Durch das Durchtabben dieses Formulars werden
        Validierungshinweisevorgelesen.</span
      >

      <clr-input-container>
        <label>Betriebsstättennummer</label>
        <input
          clrInput
          formControlName="betriebsstaettennummer"
          placeholder="Betriebsstättennummer"
        />
        <clr-control-error
          >Betriebsstättennummer muss angegeben werden.
        </clr-control-error>
      </clr-input-container>
      <clr-select-container>
        <label>Land</label>
        <select clrSelect formControlName="land">
          <option *ngFor="let land of laender" [ngValue]="land.nr">
            {{ land.display }}
          </option>
        </select>
        <clr-control-error>Land muss ausgewählt werden.</clr-control-error>
      </clr-select-container>
      <clr-select-container>
        <label>Jahr</label>
        <select clrSelect formControlName="berichtsjahr">
          <option *ngFor="let jahr of jahre | async" [ngValue]="jahr.id">
            {{ jahr.ktext }}
          </option>
        </select>
        <clr-control-error
          >Berichtsjahr muss ausgewählt werden.
        </clr-control-error>
      </clr-select-container>
      <button
        (click)="testeRegel()"
        [disabled]="testeRegelDisabled"
        class="btn btn-primary mt-1"
      >
        Regel testen
      </button>
      <div>{{ ergebnis }}</div>
    </form>
  </div>
</div>
