<form clrForm [formGroup]="form" [clrLabelSize]="3">
  <span class="clr-sr-only">
    Durch das Durchtabben dieses Formulars werden Validierungshinweise
    vorgelesen.
  </span>

  <clr-input-container>
    <label>Name</label>
    <input
      clrInput
      type="text"
      placeholder="Name"
      formControlName="name"
      name="Name"
      required
      class="input-full-width"
    />
    <clr-control-error>Name wird benötigt (max. Länge 250)</clr-control-error>
  </clr-input-container>

  <clr-input-container>
    <label>URL</label>
    <input
      clrInput
      type="text"
      placeholder="z.B. http://www.name.de"
      formControlName="url"
      name="URL"
      class="input-full-width"
    />
    <clr-control-error *clrIfError="'maxlength'; error as err">
      (max. Länge {{ err.requiredLength }})
    </clr-control-error>
    <clr-control-error *clrIfError="'url'; error as url">
      Ungültige URL.
      <ng-container *ngIf="url.invalid_scheme">
        Muss mit <code>http://</code> bzw. <code>https://</code> beginnen
      </ng-container>
    </clr-control-error>
  </clr-input-container>

  <clr-select-container>
    <label>Vertraulichkeitsgrund</label>
    <app-referenz-select
      clrSelect
      formControlName="vertraulichkeitsgrund"
      [referenzliste]="vertraulichkeitsgruende.values"
    >
    </app-referenz-select>
    <clr-control-error *clrIfError="'invalidReference'; error as error">
      Es wurden ungültige Referenzen gefunden: {{ error.ktext }}
    </clr-control-error>
  </clr-select-container>

  <clr-textarea-container class="input-full-width">
    <label>Bemerkung</label>
    <textarea
      clrTextarea
      formControlName="bemerkung"
      placeholder="Bemerkung"
      name="Bemerkung"
      rows="2"
    ></textarea>
    <clr-control-error>(max. Länge 1000)</clr-control-error>
  </clr-textarea-container>
</form>
