<clr-checkbox-wrapper>
  <input
    type="checkbox"
    clrCheckbox
    required
    [(ngModel)]="aktivChecked"
    (ngModelChange)="selectedOptionsChanged()"
  />
  <label>aktiv</label>
</clr-checkbox-wrapper>
<clr-checkbox-wrapper>
  <input
    type="checkbox"
    clrCheckbox
    required
    [(ngModel)]="inaktivChecked"
    (ngModelChange)="selectedOptionsChanged()"
  />
  <label>inaktiv</label>
</clr-checkbox-wrapper>
