<div class="card">
  <div class="card-header actionbar">
    <div>
      <cds-icon shape="factory"></cds-icon>
      Anlagen
    </div>
  </div>
  <div class="card-block pt-0 pb-4">
    <clr-datagrid class="datagrid-compact">
      <clr-dg-column [clrDgField]="'anlageNr'" [clrDgSortOrder]="SortOrder.ASC"
        >Anlagen-Nr.
      </clr-dg-column>
      <clr-dg-column [clrDgField]="'name'">Name</clr-dg-column>
      <clr-dg-column [clrDgField]="'betriebsstatus'"
        >Betriebsstatus
      </clr-dg-column>
      <clr-dg-column>Aktionen</clr-dg-column>
      <clr-dg-placeholder>Keine Ergebnisse gefunden</clr-dg-placeholder>
      <clr-dg-row *clrDgItems="let anlage of anlagenListe" [clrDgItem]="anlage">
        <clr-dg-cell>{{ anlage.anlageNr }}</clr-dg-cell>
        <clr-dg-cell>{{ anlage.name }}</clr-dg-cell>
        <clr-dg-cell>{{ anlage.betriebsstatus }}</clr-dg-cell>
        <clr-dg-cell>
          <button
            class="btn btn-icon btn-primary-outline"
            aria-label="Anlage übernehmen"
            title="Anlage übernehmen"
            (click)="uebernehmen(anlage)"
          >
            <cds-icon shape="import" aria-hidden="true"></cds-icon>
          </button>
        </clr-dg-cell>
      </clr-dg-row>

      <clr-dg-footer>
        <clr-dg-pagination
          #pagination
          [clrDgPageSize]="10"
          [clrDgTotalItems]="anlagenListe?.length"
        >
          <clr-dg-page-size [clrPageSizeOptions]="[10, 20, 50, 100]"
            >Anlagen pro Seite
          </clr-dg-page-size>
          {{ pagination.firstItem + 1 }} - {{ pagination.lastItem + 1 }} von
          {{ pagination.totalItems }} Anlagen
        </clr-dg-pagination>
      </clr-dg-footer>
    </clr-datagrid>
  </div>
</div>
