<div class="card">
  <div class="card-header">
    <cds-icon shape="file-group"></cds-icon>
    Prüfberichte
  </div>
  <div class="card-block">
    <ul>
      <li>
        Prüfbericht vom 19.08.2020
        <a href="#">
          <cds-icon shape="file"></cds-icon>
        </a>
      </li>
      <li>
        Prüfbericht vom 01.02.2020
        <a href="#">
          <cds-icon shape="file"></cds-icon>
        </a>
      </li>
    </ul>
  </div>
</div>
