<nav class="subnav" *ngIf="showSubnav">
  <ul class="nav">
    <li class="nav-item" *ngIf="visibleNavLinks.BERICHTSDATEN">
      <a routerLink="berichtsdaten" class="nav-link" routerLinkActive="active">
        Berichtsdaten
      </a>
    </li>
    <li class="nav-item" *ngIf="visibleNavLinks.XEUR_TEILBERICHTE">
      <a routerLink="xeurBerichte" class="nav-link" routerLinkActive="active">
        XEUR Berichte
      </a>
    </li>
  </ul>
</nav>
<div class="content-container">
  <router-outlet></router-outlet>
</div>
