<section class="pb-4">
  <clr-datagrid
    class="datagrid-compact"
    *ngIf="formArray?.length > 0; else keineDaten"
  >
    <clr-dg-column>Emissionswert Ausnahme</clr-dg-column>
    <clr-dg-column>Beginnt am</clr-dg-column>
    <clr-dg-column>Endet am</clr-dg-column>
    <clr-dg-column>URL öffentliche Begründung</clr-dg-column>
    <clr-dg-column>Aktionen</clr-dg-column>
    <clr-dg-placeholder>Keine Ergebnisse gefunden</clr-dg-placeholder>
    <clr-dg-row
      *clrDgItems="let ausnahmeControl of formArray.controls; index as i"
    >
      <clr-dg-cell>
        <cds-icon
          class="is-error"
          *ngIf="ausnahmeControl.invalid"
          shape="error-standard"
          status="danger"
          aria-label="Validierungsfehler"
        ></cds-icon>
        {{ ausnahmeControl.value.emissionswertAusnahme.ktext }}
      </clr-dg-cell>
      <clr-dg-cell>{{ ausnahmeControl.value.beginntAm }}</clr-dg-cell>
      <clr-dg-cell>{{ ausnahmeControl.value.endetAm }}</clr-dg-cell>
      <clr-dg-cell>{{
        ausnahmeControl.value.oeffentlicheBegruendungUrl
      }}</clr-dg-cell>
      <clr-dg-cell>
        <button
          class="btn btn-icon btn-primary-outline"
          aria-label="Bearbeiten"
          [disabled]="!canWrite"
          (click)="bearbeiten(i)"
        >
          <cds-icon shape="note"></cds-icon>
        </button>
        <button
          *ngIf="canDelete"
          class="btn btn-icon btn-primary-outline"
          aria-label="Löschen"
          [disabled]="!canWrite"
          (click)="loeschen(i)"
        >
          <cds-icon shape="trash"></cds-icon>
        </button>
      </clr-dg-cell>
    </clr-dg-row>
  </clr-datagrid>
  <section class="pt-2">
    <button *ngIf="canWrite" class="btn btn-secondary-outline" (click)="neu()">
      <cds-icon shape="plus"></cds-icon>
      Neu
    </button>
  </section>
</section>

<!-- BEARBEITEN MODAL -->
<clr-modal
  *ngIf="bvtAusnahmeForm"
  [(clrModalOpen)]="editModalOpen"
  [clrModalClosable]="false"
  clrModalSize="lg"
>
  <h3 class="modal-title">
    BVT-Ausnahme
    {{ this.editExistingIndex != null ? "bearbeiten" : "hinzufügen" }}
  </h3>
  <div class="modal-body">
    <form clrForm [formGroup]="bvtAusnahmeForm">
      <span class="clr-sr-only">
        Durch das Durchtabben dieses Formulars werden Validierungshinweise
        vorgelesen.
      </span>

      <clr-combobox-container>
        <label
          >Emissionswert Ausnahme
          <app-tooltip [positionBottom]="true">
            Ausnahme nach Art. 15(4) 2010-75-EU (IE-RL) §7(1b), §12(1b) BImSchG:
            BVT-assoziierter Emissionswert
          </app-tooltip>
        </label>
        <clr-combobox formControlName="emissionswertAusnahme" required>
          <clr-options>
            <clr-option
              *clrOptionItems="
                let ausnahme of emissionswertAusnahmenListe.values;
                field: 'ktext'
              "
              [clrValue]="ausnahme"
              >{{ ausnahme.ktext }}</clr-option
            >
          </clr-options>
        </clr-combobox>
        <clr-control-error *clrIfError="'required'"
          >Emissionswert Ausnahme</clr-control-error
        >
        <clr-control-helper>
          Zur Anzeige der gesamten Liste bitte Suchfeld leeren.
        </clr-control-helper>
        <clr-control-error *clrIfError="'invalidReference'; error as error">
          Es wurden ungültige Referenzen gefunden: {{ error.ktext }}
        </clr-control-error>
      </clr-combobox-container>

      <clr-date-container>
        <label
          >Beginnt am
          <app-tooltip>Datum Beginn der Regelung</app-tooltip>
        </label>
        <input type="date" clrDate formControlName="beginntAm" required />
        <clr-control-error *clrIfError="'required'"
          >Beginnt am wird benötigt</clr-control-error
        >
        <clr-control-error *clrIfError="'date'"
          >Bitte gültiges Datum eingeben.</clr-control-error
        >
      </clr-date-container>

      <clr-date-container>
        <label
          >Endet am
          <app-tooltip>Datum Ende der Regelung</app-tooltip>
        </label>
        <input type="date" clrDate formControlName="endetAm" />
        <clr-control-error *clrIfError="'date'"
          >Bitte gültiges Datum eingeben.</clr-control-error
        >
      </clr-date-container>

      <clr-input-container>
        <label>
          URL
          <app-tooltip>
            URL öffentliche Begründung, nach Art. 24(2)(f) IE-RL
          </app-tooltip>
        </label>
        <input
          class="input-full-width"
          clrInput
          type="text"
          placeholder="https://..."
          formControlName="oeffentlicheBegruendungUrl"
          required
        />
        <clr-control-error *clrIfError="'required'"
          >URL öffentliche Begründung wird benötigt
        </clr-control-error>
        <clr-control-error *clrIfError="'maxlength'; error as err">
          (max. Länge {{ err.requiredLength }})
        </clr-control-error>
        <clr-control-error *clrIfError="'url'; error as url">
          Ungültige URL.
          <ng-container *ngIf="url.invalid_scheme">
            Muss mit <code>http://</code> bzw. <code>https://</code> beginnen
          </ng-container>
        </clr-control-error>
      </clr-input-container>
    </form>
  </div>
  <div class="modal-footer">
    <button class="btn btn-outline" type="button" (click)="abbrechen()">
      Abbrechen
    </button>
    <button
      class="btn btn-primary"
      type="button"
      [disabled]="bvtAusnahmeForm.pristine"
      (click)="uebernehmen()"
    >
      Übernehmen
    </button>
  </div>
</clr-modal>

<ng-template #keineDaten>
  <div class="pt-5">
    Keine Daten vorhanden.
    {{ canWrite ? 'Klicken Sie auf das "+", um Einträge hinzuzufügen.' : "" }}
  </div>
</ng-template>
