<button
  class="btn btn-link btn-sm"
  (click)="navigateBack()"
  data-cy="back-to-liste-btn"
>
  < Zurück zur Übersicht
</button>

<div class="card m-0">
  <div class="card-header actionbar">
    <div>
      <cds-icon shape="view-list"></cds-icon>
      Parameterwerte für {{ parameter.schluessel }}
    </div>
    <div class="btn-group list-action-buttons">
      <button
        *ngIf="canHinzufuegen()"
        type="button"
        class="btn btn-sm btn-primary"
        (click)="parameterWertHinzufuegen()"
      >
        <cds-icon shape="plus" aria-hidden="true"></cds-icon>
        Parameterwert hinzufügen
      </button>
    </div>
  </div>

  <div class="card-block pt-0 pb-4">
    <clr-datagrid class="datagrid-compact">
      <clr-dg-column clrDgField="land">Land</clr-dg-column>
      <clr-dg-column clrDgField="behoerde.bezeichnung">Behörde</clr-dg-column>
      <clr-dg-column clrDgField="wert">Wert</clr-dg-column>
      <clr-dg-column clrDgField="gueltigVon" clrDgColType="number">
        Gültig von
      </clr-dg-column>
      <clr-dg-column clrDgField="gueltigBis" clrDgColType="number">
        Gültig bis
      </clr-dg-column>
      <clr-dg-column>Aktionen</clr-dg-column>
      <clr-dg-placeholder>Keine Ergebnisse gefunden</clr-dg-placeholder>
      <clr-dg-row *clrDgItems="let wert of parameterWerte">
        <clr-dg-cell>{{ wert.land }}</clr-dg-cell>
        <clr-dg-cell>{{ wert.behoerde?.bezeichnung }}</clr-dg-cell>
        <clr-dg-cell>{{ wert.wert }}</clr-dg-cell>
        <clr-dg-cell>{{ wert.gueltigVon }}</clr-dg-cell>
        <clr-dg-cell>{{ wert.gueltigBis }}</clr-dg-cell>
        <clr-dg-cell>
          <button
            *ngIf="canWrite(wert)"
            class="btn btn-icon btn-primary-outline"
            (click)="openBearbeitenDialog(wert)"
            aria-label="Parameterwert Öffnen"
            title="Parameterwert Öffnen"
          >
            <cds-icon shape="eye" aria-hidden="true"></cds-icon>
          </button>

          <button
            *ngIf="canWrite(wert)"
            class="btn btn-icon btn-primary-outline"
            (click)="openBearbeitenDialogKopie(wert)"
            aria-label="Parameterwert Kopieren"
            title="Parameterwert Kopieren"
          >
            <cds-icon shape="copy" aria-hidden="true"></cds-icon>
          </button>

          <button
            *ngIf="canDelete(wert)"
            class="btn btn-icon btn-primary-outline"
            (click)="openLoeschenDialog(wert)"
            aria-label="Parameterwert Löschen"
            title="Parameterwert Löschen"
          >
            <cds-icon shape="trash" aria-hidden="true"></cds-icon>
          </button>
        </clr-dg-cell>
      </clr-dg-row>
    </clr-datagrid>
  </div>
</div>

<!-- Löschen Modal -->
<clr-modal [(clrModalOpen)]="loeschenDialog" [clrModalClosable]="false">
  <h3 class="modal-title">Parameterwert Löschen?</h3>
  <div class="modal-body">
    <p>Der Parameterwert wird gelöscht!</p>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline"
      (click)="closeLoeschenDialog()"
    >
      Abbrechen
    </button>
    <button
      type="button"
      class="btn btn-warning"
      (click)="deleteParameterWert()"
    >
      Löschen
    </button>
  </div>
</clr-modal>

<!-- Bearbeiten Modal -->
<clr-modal
  *ngIf="parameterWertForm"
  [(clrModalOpen)]="bearbeitenDialog"
  [clrModalClosable]="false"
>
  <h3 class="modal-title">
    Parameterwert {{ parameter.schluessel }}
    {{ isNeu ? "hinzufügen" : "bearbeiten" }}
  </h3>
  <div class="modal-body">
    <div *ngIf="alert" class="alert alert-danger" role="alert">
      <div class="alert-items">
        <div class="alert-item static">
          <div class="alert-icon-wrapper">
            <cds-icon class="alert-icon" shape="exclamation-circle"></cds-icon>
          </div>
          <span class="alert-text">
            {{ alert }}
          </span>
        </div>
      </div>
    </div>

    <form clrForm [formGroup]="parameterWertForm">
      <span class="clr-sr-only">
        Durch das Durchtabben dieses Formulars werden Validierungshinweise
        vorgelesen.
      </span>

      <div *ngIf="hasLandSelect()">
        <clr-select-container>
          <label>Land</label>
          <select clrSelect formControlName="land" required>
            <option
              *ngFor="let land of LandProperties | keyvalue"
              [value]="land.key"
            >
              {{ land.value.display }}
            </option>
          </select>
          <clr-control-error *clrIfError="'invalidReferences'; error as error">
            Es wurden ungültige Referenzen gefunden:
            {{ joinInvalidReferences(error) }}
          </clr-control-error>
        </clr-select-container>
      </div>

      <div *ngIf="parameter.fuerBehoerden">
        <clr-combobox-container>
          <label>Zuständige Behörde</label>
          <clr-combobox formControlName="behoerde">
            <clr-options>
              <clr-option [clrValue]=""></clr-option>
              <clr-option
                *clrOptionItems="
                  let behoerde of filteredBehoerden | async;
                  field: 'bezeichnung'
                "
                [clrValue]="behoerde"
              >
                {{ behoerde.bezeichnung }}
              </clr-option>
            </clr-options>
          </clr-combobox>
          <clr-control-helper>
            Zur Anzeige der gesamten Liste bitte Suchfeld leeren.
          </clr-control-helper>
        </clr-combobox-container>
      </div>

      <clr-input-container>
        <label>Wert</label>
        <input clrInput type="text" required formControlName="wert" size="50" />
        <clr-control-error
          >Wert vom Typ {{ parameter.typ }} wird benötigt (max. Länge 500)
        </clr-control-error>
        <clr-control-helper
          >Parameterwert hat den Typ {{ parameter.typ }}</clr-control-helper
        >
        <clr-control-helper>{{
          getHelperText(parameter.schluessel)
        }}</clr-control-helper>
      </clr-input-container>

      <clr-input-container>
        <label>Gültig von</label>
        <input clrInput type="number" required formControlName="gueltigVon" />
        <clr-control-error
          >Gültig von wird benötigt (min: 1900, max: 9999)
        </clr-control-error>
      </clr-input-container>

      <clr-input-container>
        <label>Gültig bis</label>
        <input clrInput type="number" required formControlName="gueltigBis" />
        <clr-control-error
          >Gültig bis wird benötigt (min: 1900, max: 9999)
        </clr-control-error>
      </clr-input-container>
    </form>
  </div>
  <div class="modal-footer">
    <div *ngIf="parameterWert?.letzteAenderung" style="font-size: 10px">
      letzte Änderung am:
      <em>{{ parameterWert?.letzteAenderung | date: "short" }}</em> | Land:
      <em>{{ parameterWert.land }}</em>
    </div>

    <button
      class="btn btn-outline"
      type="button"
      (click)="closeBearbeitenDialog()"
    >
      Abbrechen
    </button>
    <button
      class="btn btn-primary"
      type="button"
      [disabled]="parameterWertForm.pristine"
      (click)="save()"
    >
      Speichern
    </button>
  </div>
</clr-modal>
