<clr-modal
  [clrModalOpen]="open"
  (clrModalOpenChange)="changeOpen($event)"
  [clrModalClosable]="false"
>
  <h3 class="modal-title">Stammdaten exportieren</h3>
  <div class="modal-body">
    <p>
      Export von {{ selectedIds.length }} Betriebsstätte{{
        selectedIds.length > 1 ? "n" : ""
      }}
      starten?
    </p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="changeOpen(false)">
      Abbrechen
    </button>
    <button
      type="submit"
      class="btn btn-primary"
      [clrLoading]="exportButtonState"
      (click)="exportMarkierte()"
    >
      Exportieren
    </button>
  </div>
</clr-modal>
