<button
  class="btn btn-link btn-sm"
  (click)="navigateBackToBetriebsstaette()"
  data-cy="anlageNavBack"
>
  < Zurück zur Betriebsstätte
</button>
<div class="card m-0">
  <div class="card-header actionbar">
    <div>
      <cds-icon shape="factory"></cds-icon>
      <ng-container
        *ngIf="isNeu && !anlageForm.value.allgemein.name; else title"
      >
        Neue Anlage erfassen
      </ng-container>
      <ng-template #title
        ><span>
          Anlage: {{ anlageForm.value.allgemein.name | slice: 0:100 }}
        </span></ng-template
      >
    </div>
    <div>
      <div class="btn-group">
        <button
          *ngIf="canWrite"
          (click)="copy()"
          class="btn btn-sm btn-secondary"
          [disabled]="isNeu || this.anlageForm.dirty"
        >
          <cds-icon shape="copy" aria-hidden="true"></cds-icon>
          Kopieren
        </button>
        <button
          *ngIf="canWrite && !isNeu"
          (click)="betreiberdatenUebernehmen()"
          [disabled]="anlage.letzteAenderungBetreiber == null"
          class="btn btn-sm btn-secondary"
        >
          <cds-icon shape="import" aria-hidden="true"></cds-icon>
          Übernehmen
        </button>
      </div>
      <div class="btn-group list-action-buttons">
        <button
          *ngIf="canWrite"
          (click)="reset()"
          class="btn btn-sm btn-secondary-outline"
          [disabled]="this.anlageForm.pristine"
        >
          <cds-icon shape="times" aria-hidden="true"></cds-icon>
          Verwerfen
        </button>
        <button
          *ngIf="canWrite"
          (click)="save(false)"
          class="btn btn-sm btn-primary"
          [disabled]="this.anlageForm.pristine"
          data-cy="saveAnlage"
        >
          <cds-icon shape="floppy" aria-hidden="true"></cds-icon>
          Speichern
        </button>
      </div>
    </div>
  </div>
  <div class="card-block">
    <clr-tabs clrLayout="horizontal">
      <clr-tab>
        <button clrTabLink>
          Allgemein
          <cds-icon
            class="is-error"
            *ngIf="allgemeinForm.invalid"
            shape="error-standard"
            status="danger"
            aria-label="Validierungsfehler"
          ></cds-icon>
        </button>
        <clr-tab-content *clrIfActive>
          <app-anlage-allgemein
            [form]="allgemeinForm"
            [saveAttempt]="saveAttempt"
            [betriebsstatusListe]="betriebsstatus"
            [epsgCodeListe]="epsgCodeListe"
            [vertraulichkeitsgrundListe]="vertraulichkeitsgruende"
          ></app-anlage-allgemein>
        </clr-tab-content>
      </clr-tab>

      <clr-tab>
        <button clrTabLink>
          Vorschriften
          <cds-icon
            class="is-error"
            *ngIf="vorschriftenForm.invalid"
            shape="error-standard"
            status="danger"
            aria-label="Validierungsfehler"
          ></cds-icon>
        </button>
        <clr-tab-content *clrIfActive>
          <app-vorschriften
            [formArray]="vorschriftenForm"
            [vorschriften]="vorschriften"
            [nummer4BImSchVTaetigkeiten]="nummer4BImSchVTaetigkeitenListe"
            [iedTaetigkeiten]="iedTaetigkeitenListe"
            [prtrTaetigkeiten]="prtrTaetigkeitenListe"
          ></app-vorschriften>
        </clr-tab-content>
      </clr-tab>

      <clr-tab>
        <button clrTabLink>
          Leistungen
          <cds-icon
            class="is-error"
            *ngIf="leistungenForm.invalid"
            shape="error-standard"
            status="danger"
            aria-label="Validierungsfehler"
          ></cds-icon>
        </button>
        <clr-tab-content *clrIfActive>
          <app-leistungen
            [formArray]="leistungenForm"
            [einheitenListe]="einheitenListe"
          ></app-leistungen>
        </clr-tab-content>
      </clr-tab>

      <clr-tab>
        <button clrTabLink>
          Zuständige Behörden
          <cds-icon
            class="is-error"
            *ngIf="zustaendigeBehoerdenForm.invalid"
            shape="error-standard"
            status="danger"
            aria-label="Validierungsfehler"
          ></cds-icon>
        </button>
        <clr-tab-content *clrIfActive>
          <app-zustaendige-behoerden
            [formArray]="zustaendigeBehoerdenForm"
          ></app-zustaendige-behoerden>
        </clr-tab-content>
      </clr-tab>
    </clr-tabs>
  </div>
  <div class="card-footer" style="font-size: 10px">
    Erfassung am: <em>{{ anlage.ersteErfassung | date: "short" }}</em> | letzte
    Änderung am: <em>{{ anlage.letzteAenderung | date: "short" }}</em> |
    Betreiberdaten übernommen:
    <em>{{ anlage.betreiberdatenUebernommen ? "Ja" : "Nein" }}</em> |
    Anlagenkataster: <em>{{ anlage.referenzAnlagenkataster }}</em>
  </div>
</div>

<clr-modal [clrModalOpen]="openSaveWarning" [clrModalClosable]="false">
  <h3 class="modal-title">Anlage speichern?</h3>
  <div class="modal-body">
    <p>
      Es sind noch EURegistry Berichtsdaten vorhanden. Diese Daten werden beim
      Speichern der Änderung gelöscht. Soll die Vorschriftenänderung gespeichert
      werden?
    </p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="saveAbbrechen()">
      Abbrechen
    </button>
    <button type="submit" class="btn btn-primary" (click)="save(true)">
      Speichern
    </button>
  </div>
</clr-modal>
