<section class="pb-4">
  <clr-datagrid
    class="datagrid-compact"
    *ngIf="formArray?.length > 0; else keineDaten"
  >
    <clr-dg-column>Spezielle Bedingung nach</clr-dg-column>
    <clr-dg-column>Info</clr-dg-column>
    <clr-dg-column>URL Genehmigung der spez. Bedingung</clr-dg-column>
    <clr-dg-column>Aktionen</clr-dg-column>
    <clr-dg-placeholder>Keine Ergebnisse gefunden</clr-dg-placeholder>
    <clr-dg-row *clrDgItems="let control of formArray.controls; index as i">
      <clr-dg-cell>
        <cds-icon
          class="is-error"
          *ngIf="formArray.invalid"
          shape="error-standard"
          status="danger"
          aria-label="Validierungsfehler"
        ></cds-icon>
        {{ control.value.art.ktext }}
      </clr-dg-cell>
      <clr-dg-cell>{{ control.value.info }}</clr-dg-cell>
      <clr-dg-cell>{{ control.value.genehmigungUrl }}</clr-dg-cell>
      <clr-dg-cell>
        <button
          class="btn btn-icon btn-primary-outline"
          aria-label="Bearbeiten"
          [disabled]="!canWrite"
          (click)="bearbeiten(i)"
        >
          <cds-icon shape="note"></cds-icon>
        </button>
        <button
          *ngIf="canDelete"
          class="btn btn-icon btn-primary-outline"
          aria-label="Löschen"
          [disabled]="!canWrite"
          (click)="loeschen(i)"
        >
          <cds-icon shape="trash"></cds-icon>
        </button>
      </clr-dg-cell>
    </clr-dg-row>
  </clr-datagrid>
  <section class="pt-2">
    <button *ngIf="canWrite" class="btn btn-secondary-outline" (click)="neu()">
      <cds-icon shape="plus"></cds-icon>
      Neu
    </button>
  </section>
</section>

<!-- BEARBEITEN MODAL -->
<clr-modal
  *ngIf="spezielleBedingungForm"
  [(clrModalOpen)]="editModalOpen"
  [clrModalClosable]="false"
  clrModalSize="lg"
>
  <h3 class="modal-title">
    Spezielle Bedingung
    {{ this.editExistingIndex != null ? "bearbeiten" : "hinzufügen" }}
  </h3>
  <div class="modal-body">
    <form clrForm [formGroup]="spezielleBedingungForm">
      <span class="clr-sr-only">
        Durch das Durchtabben dieses Formulars werden Validierungshinweise
        vorgelesen.
      </span>

      <clr-combobox-container>
        <label
          >Spezielle Bedingung nach
          <app-tooltip [positionBottom]="true">
            Art der speziellen Bedingungen aus Art. 50 IE-RL
          </app-tooltip>
        </label>
        <clr-combobox formControlName="art" required>
          <clr-options>
            <clr-option
              *clrOptionItems="
                let art of spezielleBedingungArtListe.values;
                field: 'ktext'
              "
              [clrValue]="art"
            >
              {{ art.ktext }}
            </clr-option>
          </clr-options>
        </clr-combobox>
        <clr-control-error *clrIfError="'required'"
          >Spezielle Bedingung nach wird benötigt
        </clr-control-error>
        <clr-control-error *clrIfError="'invalidReference'; error as error">
          Es wurden ungültige Referenzen gefunden: {{ error.ktext }}
        </clr-control-error>
        <clr-control-helper>
          Zur Anzeige der gesamten Liste bitte Suchfeld leeren.
        </clr-control-helper>
      </clr-combobox-container>

      <clr-input-container>
        <label>Info</label>
        <input
          class="input-full-width"
          clrInput
          type="text"
          formControlName="info"
        />
        <clr-control-error *clrIfError="'maxlength'; error as err">
          (max. Länge {{ err.requiredLength }})
        </clr-control-error>
      </clr-input-container>

      <clr-input-container>
        <label
          >URL
          <app-tooltip>
            URL zur Genehmigung der speziellen Bedingungen
          </app-tooltip>
        </label>
        <input
          class="input-full-width"
          clrInput
          type="text"
          placeholder="https://..."
          formControlName="genehmigungUrl"
          required
        />
        <clr-control-error *clrIfError="'required'"
          >URL wird benötigt
        </clr-control-error>
        <clr-control-error *clrIfError="'maxlength'; error as err">
          (max. Länge {{ err.requiredLength }})
        </clr-control-error>
        <clr-control-error *clrIfError="'url'"
          >Ungültige URL. Muss mit <code>http://</code> bzw.
          <code>https://</code> beginnen
        </clr-control-error>
      </clr-input-container>
    </form>
  </div>
  <div class="modal-footer">
    <button class="btn btn-outline" type="button" (click)="abbrechen()">
      Abbrechen
    </button>
    <button
      class="btn btn-primary"
      type="button"
      [disabled]="spezielleBedingungForm.pristine"
      (click)="uebernehmen()"
    >
      Übernehmen
    </button>
  </div>
</clr-modal>

<ng-template #keineDaten>
  <div class="pt-5">
    Keine Daten vorhanden.
    {{ canWrite ? 'Klicken Sie auf das "+", um Einträge hinzuzufügen.' : "" }}
  </div>
</ng-template>
