<div *ngIf="!isEqual" class="clr-row">
  <div class="clr-col-3"></div>
  <div class="clr-col-4">SPL</div>
  <div class="clr-col-4">SPB</div>
  <div class="clr-col-1">
    <clr-checkbox-wrapper>
      <label>Übernahme</label>
      <input
        type="checkbox"
        clrCheckbox
        [(ngModel)]="checkValue"
        (change)="updateValue()"
      />
    </clr-checkbox-wrapper>
  </div>
</div>

<div *ngFor="let leistung of leistungen" class="clr-row">
  <div class="clr-col-3"></div>
  <div class="clr-col-4">
    {{ leistung.spl?.leistung | number }}
    {{ leistung.spl?.leistungseinheit.ktext }} {{ leistung.spl?.bezug }}
    {{ leistungsklasseDisplayText[leistung.spl?.leistungsklasse] }}
  </div>
  <div class="clr-col-4">
    {{ leistung.spb?.leistung | number }}
    {{ leistung.spb?.leistungseinheit.ktext }} {{ leistung.spb?.bezug }}
    {{ leistungsklasseDisplayText[leistung.spb?.leistungsklasse] }}
  </div>
  <div class="clr-col-1"></div>
</div>
