<div class="card">
  <div class="card-header">
    <cds-icon shape="file-group"></cds-icon>
    Berichte
  </div>
  <div class="card-block">
    <clr-datagrid class="datagrid-compact">
      <clr-dg-column>Art</clr-dg-column>
      <clr-dg-column>Status</clr-dg-column>
      <clr-dg-placeholder>Keine Ergebnisse gefunden</clr-dg-placeholder>
      <clr-dg-row
        *clrDgItems="let bericht of berichtsobjekte"
        [ngClass]="bericht.url ? 'active-link' : ''"
        [title]="bericht.url ? 'Zum Bericht' : ''"
        [routerLink]="bericht.url"
        [routerLinkActive]="bericht.url"
      >
        <clr-dg-cell>{{ bericht.art }}</clr-dg-cell>
        <clr-dg-cell>{{ bericht.status }}</clr-dg-cell>
      </clr-dg-row>
    </clr-datagrid>
  </div>
</div>
