<button
  class="btn btn-link btn-sm"
  (click)="navigateBackToBetriebsstaette()"
  data-cy="anlageNavBack"
>
  < Zurück zur Betriebsstätte
</button>
<div class="card m-0">
  <div class="card-header actionbar">
    <div>
      <cds-icon shape="factory"></cds-icon>
      <ng-container
        *ngIf="isNeu && !anlageForm.value.allgemein.name; else title"
      >
        Neue Anlage erfassen
      </ng-container>
      <ng-template #title>
        <span>
          Anlage: {{ anlageForm.value.allgemein.name | ellipsize: 100 }}
        </span>
      </ng-template>
    </div>
    <div>
      <div class="btn-group list-action-buttons">
        <button
          (click)="reset()"
          class="btn btn-sm btn-secondary-outline"
          [disabled]="this.anlageForm.pristine"
        >
          <cds-icon shape="times" aria-hidden="true"></cds-icon>
          Verwerfen
        </button>
        <button
          (click)="save()"
          class="btn btn-sm btn-primary"
          [disabled]="this.anlageForm.pristine"
          data-cy="saveAnlage"
        >
          <cds-icon shape="floppy" aria-hidden="true"></cds-icon>
          Speichern
        </button>
      </div>
    </div>
  </div>
  <div class="card-block">
    <clr-tabs clrLayout="horizontal">
      <clr-tab>
        <button clrTabLink>
          Allgemein
          <cds-icon
            class="is-error"
            *ngIf="allgemeinForm.invalid"
            shape="error-standard"
            status="danger"
            aria-label="Validierungsfehler"
          ></cds-icon>
        </button>
        <clr-tab-content *clrIfActive>
          <app-spb-anlage-allgemein
            [form]="allgemeinForm"
            [saveAttempt]="saveAttempt"
            [betriebsstatusListe]="betriebsstatus"
            [epsgCodeListe]="epsgCodeListe"
            data-cy="anlageAllgemein"
          ></app-spb-anlage-allgemein>
        </clr-tab-content>
      </clr-tab>

      <clr-tab>
        <button clrTabLink>
          Vorschriften
          <cds-icon
            class="is-error"
            *ngIf="vorschriftenForm.invalid"
            shape="error-standard"
            status="danger"
            aria-label="Validierungsfehler"
          ></cds-icon>
        </button>
        <clr-tab-content *clrIfActive>
          <app-vorschriften
            [formArray]="vorschriftenForm"
            [vorschriften]="vorschriften"
            [nummer4BImSchVTaetigkeiten]="nummer4BImSchVTaetigkeitenListe"
            [iedTaetigkeiten]="iedTaetigkeitenListe"
            [prtrTaetigkeiten]="prtrTaetigkeitenListe"
          ></app-vorschriften>
        </clr-tab-content>
      </clr-tab>

      <clr-tab>
        <button clrTabLink data-cy="leistungen">
          Leistungen
          <cds-icon
            class="is-error"
            *ngIf="leistungenForm.invalid"
            shape="error-standard"
            status="danger"
            aria-label="Validierungsfehler"
          ></cds-icon>
        </button>
        <clr-tab-content *clrIfActive>
          <app-leistungen
            [formArray]="leistungenForm"
            [einheitenListe]="einheitenListe"
          ></app-leistungen>
        </clr-tab-content>
      </clr-tab>
    </clr-tabs>
  </div>
  <div class="card-footer" style="font-size: 10px">
    Erfassung am: <em>{{ anlage.ersteErfassung | date: "short" }}</em> | letzte
    Änderung am: <em>{{ anlage.letzteAenderung | date: "short" }}</em>
  </div>
</div>
