<button class="btn btn-link btn-sm" (click)="navigateBackToReferenzlisten()">
  < Zurück zur Übersicht
</button>
<div class="card m-0">
  <div class="card-header actionbar">
    <div>
      <cds-icon shape="view-list"></cds-icon>
      Referenzliste {{ referenzlisteMetadata.ktext }} ({{
        referenzlisteMetadata.name
      }})
    </div>
    <div class="buttons">
      <div class="btn-group">
        <button
          class="btn btn-sm btn-secondary"
          (click)="alleMarkieren()"
          title="Alle Referenzen markieren (gesamte Liste)"
          aria-label="Alle Referenzen markieren (gesamte Liste)"
        >
          <cds-icon shape="check" aria-hidden="true"></cds-icon>
          Alle
        </button>
        <button
          class="btn btn-sm btn-secondary"
          (click)="markierungAufheben()"
          [disabled]="nothingSelected"
          title="Markierungen aufheben"
          aria-label="Markierungen aufheben"
        >
          <cds-icon shape="times" aria-hidden="true"></cds-icon>
          aufheben
        </button>

        <button
          *ngIf="canDelete"
          class="btn btn-sm btn-secondary"
          (click)="loeschenMultiDialog = true"
          [disabled]="!canDeleteSelection"
          title="Markierte Referenzen löschen"
        >
          <cds-icon shape="trash" aria-hidden="true"></cds-icon>
          Löschen
        </button>
      </div>

      <div class="btn-group list-action-buttons">
        <button
          *ngIf="canHinzufuegen"
          type="button"
          class="btn btn-sm btn-primary"
          (click)="referenzHinzufuegen()"
          data-cy="referenz-hinzufuegen-btn"
        >
          <cds-icon shape="plus" aria-hidden="true"></cds-icon>
          Referenz hinzufügen
        </button>
      </div>
    </div>
  </div>

  <div class="card-block pt-0 pb-4">
    <clr-datagrid class="datagrid-compact" [(clrDgSelected)]="selected">
      <clr-dg-column clrDgField="schluessel">Schlüssel</clr-dg-column>
      <clr-dg-column clrDgField="land">Land</clr-dg-column>
      <clr-dg-column clrDgField="ktext">Kurztext</clr-dg-column>
      <clr-dg-column clrDgField="ltext">Langtext</clr-dg-column>
      <clr-dg-column clrDgField="sortier" [clrDgSortOrder]="SortOrder.ASC">
        Sortierung
      </clr-dg-column>
      <clr-dg-column clrDgField="gueltigVon" clrDgColType="number">
        Gültig von
      </clr-dg-column>
      <clr-dg-column clrDgField="gueltigBis" clrDgColType="number">
        Gültig bis
      </clr-dg-column>
      <clr-dg-column>Aktionen</clr-dg-column>
      <clr-dg-placeholder>Keine Ergebnisse gefunden</clr-dg-placeholder>
      <clr-dg-row
        *clrDgItems="let referenz of referenzliste"
        [clrDgItem]="referenz"
        data-cy="referenz-row"
      >
        <clr-dg-cell>{{ referenz.schluessel }}</clr-dg-cell>
        <clr-dg-cell>{{ referenz.land }}</clr-dg-cell>
        <clr-dg-cell>{{ referenz.ktext }}</clr-dg-cell>
        <clr-dg-cell>{{ referenz.ltext }}</clr-dg-cell>
        <clr-dg-cell>{{ referenz.sortier }}</clr-dg-cell>
        <clr-dg-cell>{{ referenz.gueltigVon }}</clr-dg-cell>
        <clr-dg-cell>{{ referenz.gueltigBis }}</clr-dg-cell>
        <clr-dg-cell>
          <button
            *ngIf="canWrite(referenz)"
            class="btn btn-icon btn-primary-outline"
            (click)="openBearbeitenDialog(referenz)"
            aria-label="Referenz Öffnen"
            title="Referenz Öffnen"
          >
            <cds-icon shape="eye" aria-hidden="true"></cds-icon>
          </button>

          <button
            *ngIf="canWrite(referenz)"
            class="btn btn-icon btn-primary-outline"
            (click)="openBearbeitenDialogKopie(referenz)"
            aria-label="Referenz Kopieren"
            title="Referenz Kopieren"
          >
            <cds-icon shape="copy" aria-hidden="true"></cds-icon>
          </button>

          <button
            *ngIf="canDeleteReferenz(referenz)"
            class="btn btn-icon btn-primary-outline"
            (click)="openLoeschenDialog(referenz)"
            aria-label="Referenz Löschen"
            title="Referenz Löschen"
          >
            <cds-icon shape="trash" aria-hidden="true"></cds-icon>
          </button>
        </clr-dg-cell>
      </clr-dg-row>

      <clr-dg-footer>
        <clr-dg-pagination
          #pagination
          [clrDgPageSize]="20"
          [clrDgTotalItems]="referenzliste?.length"
        >
          <clr-dg-page-size [clrPageSizeOptions]="[20, 50, 500]"
            >Referenzen pro Seite
          </clr-dg-page-size>
          {{ pagination.firstItem + 1 }} - {{ pagination.lastItem + 1 }} von
          {{ pagination.totalItems }} Referenzen
        </clr-dg-pagination>
      </clr-dg-footer>
    </clr-datagrid>
  </div>
</div>

<!-- Löschen Modal -->
<clr-modal [(clrModalOpen)]="loeschenDialog" [clrModalClosable]="false">
  <h3 class="modal-title">Referenz Löschen?</h3>
  <div class="modal-body">
    <p>
      Referenz kann nur gelöscht werden, wenn sie nicht bereits verwendet wird.
    </p>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline"
      (click)="closeLoeschenDialog()"
    >
      Abbrechen
    </button>
    <button type="button" class="btn btn-warning" (click)="deleteReferenz()">
      Löschen
    </button>
  </div>
</clr-modal>

<!-- Mehrere Löschen Modal -->
<clr-modal [(clrModalOpen)]="loeschenMultiDialog" [clrModalClosable]="false">
  <h3 class="modal-title">Referenzen Löschen?</h3>
  <div class="modal-body">
    <p>
      Referenzen können nur gelöscht werden, wenn sie nicht bereits verwendet
      werden.
    </p>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline"
      (click)="loeschenMultiDialog = false"
    >
      Abbrechen
    </button>
    <button
      type="button"
      class="btn btn-warning"
      (click)="deleteMultipleReferenzen()"
    >
      {{ selected?.length }}
      {{ selected?.length === 1 ? "Referenz" : "Referenzen" }}Löschen
    </button>
  </div>
</clr-modal>

<!-- Bearbeiten Modal -->
<clr-modal
  *ngIf="referenzForm"
  [(clrModalOpen)]="bearbeitenDialog"
  [clrModalClosable]="false"
  data-cy="referenz-edit-modal"
>
  <h3 class="modal-title">
    Referenz {{ referenzlisteMetadata.name }}
    {{ isNeu ? "hinzufügen" : "bearbeiten" }}
  </h3>
  <div class="modal-body">
    <clr-alert
      *ngIf="alert"
      [clrAlertIcon]="'danger'"
      [clrAlertType]="'danger'"
    >
      <clr-alert-item>
        {{ alert }}
      </clr-alert-item>
    </clr-alert>

    <form clrForm [formGroup]="referenzForm">
      <span class="clr-sr-only">
        Durch das Durchtabben dieses Formulars werden Validierungshinweise
        vorgelesen.
      </span>

      <div *ngIf="hasLandSelect()">
        <clr-select-container>
          <label>Land</label>
          <select clrSelect formControlName="land" required>
            <option
              *ngFor="let land of selectableLaender | keyvalue"
              [value]="land.key"
            >
              {{ land.value.display }}
            </option>
          </select>
        </clr-select-container>
      </div>

      <clr-input-container>
        <label>Schlüssel</label>
        <input
          clrInput
          type="text"
          required
          formControlName="schluessel"
          data-cy="schluessel-input"
        />
        <clr-control-error *clrIfError="'jahr'">
          ungültige Jahreszahl.
        </clr-control-error>
        <clr-control-error *clrIfError="'required'">
          Schlüssel wird benötigt.
        </clr-control-error>
        <clr-control-error *clrIfError="'maxlength'; error as err"
          >(max. Länge {{ err.requiredLength }})
        </clr-control-error>
      </clr-input-container>

      <clr-input-container class="input-full-width">
        <label>Kurztext</label>
        <input
          clrInput
          type="text"
          required
          formControlName="ktext"
          data-cy="ktext-input"
        />
        <clr-control-error *clrIfError="'required'">
          Kurztext wird benötigt.
        </clr-control-error>
        <clr-control-error *clrIfError="'maxlength'; error as err"
          >(max. Länge {{ err.requiredLength }})
        </clr-control-error>
      </clr-input-container>

      <clr-textarea-container class="input-full-width">
        <label>Langtext</label>
        <textarea clrTextarea formControlName="ltext" rows="3"></textarea>
        <clr-control-error>(max. Länge 1000)</clr-control-error>
      </clr-textarea-container>

      <clr-input-container>
        <label>Sortierung</label>
        <input
          clrInput
          type="text"
          required
          formControlName="sortier"
          data-cy="sortier-input"
        />
        <clr-control-error *clrIfError="'required'">
          Sortierung wird benötigt.
        </clr-control-error>
        <clr-control-error *clrIfError="'maxlength'; error as err"
          >(max. Länge {{ err.requiredLength }})
        </clr-control-error>
      </clr-input-container>

      <clr-input-container>
        <label>Gültig von</label>
        <input
          clrInput
          type="number"
          required
          formControlName="gueltigVon"
          data-cy="gueltig-von-input"
        />
        <clr-control-error>
          Gültig von wird benötigt (min: 1900, max: 9999)
        </clr-control-error>
      </clr-input-container>

      <clr-input-container>
        <label>Gültig bis</label>
        <input
          clrInput
          type="number"
          required
          formControlName="gueltigBis"
          data-cy="gueltig-bis-input"
        />
        <clr-control-error>
          Gültig bis wird benötigt (min: 1900, max: 9999)
        </clr-control-error>
      </clr-input-container>

      <clr-input-container class="input-full-width">
        <label>EU</label>
        <input clrInput type="text" formControlName="eu" />
        <clr-control-error>EU wird benötigt (max. Länge 500)</clr-control-error>
        <clr-control-helper>
          Ggf. Bezeichnung, die an die EU berichtet wird
        </clr-control-helper>
      </clr-input-container>

      <clr-input-container>
        <label>Steuerung</label>
        <input clrInput type="text" formControlName="strg" />
        <clr-control-error>(max. Länge 20)</clr-control-error>
        <clr-control-helper>{{ steuerungsHinweis }}</clr-control-helper>
      </clr-input-container>
    </form>
  </div>
  <div class="modal-footer">
    <div *ngIf="referenz?.letzteAenderung" style="font-size: 10px">
      letzte Änderung am:
      <em>{{ referenz?.letzteAenderung | date: "short" }}</em> | Land:
      <em>{{ referenz.land }}</em> | Referenznummer:
      <em>{{ referenz.referenznummer }}</em>
    </div>

    <button
      class="btn btn-outline"
      type="button"
      (click)="closeBearbeitenDialog()"
    >
      Abbrechen
    </button>
    <button
      class="btn btn-primary"
      type="button"
      [disabled]="referenzForm.pristine"
      (click)="save()"
      data-cy="referenz-save-btn"
    >
      Speichern
    </button>
  </div>
</clr-modal>
