<form clrForm [formGroup]="form" [clrLabelSize]="4">
  <span class="clr-sr-only">
    Durch das Durchtabben dieses Formulars werden Validierungshinweise
    vorgelesen.
  </span>

  <clr-select-container>
    <label>Typ Feuerungsanlage</label>
    <select
      clrSelect
      name="feuerungsanlageTyp"
      formControlName="feuerungsanlageTyp"
      required
    >
      <option *ngFor="let typ of typListe" [ngValue]="typ">
        {{ displayTyp(typ) }}
      </option>
      <clr-control-error *clrIfError="'required'"
        >Typ wird benötigt
      </clr-control-error>
    </select>
    <clr-control-error *clrIfError="'invalidReference'; error as error">
      Es wurden ungültige Referenzen gefunden: {{ error.ktext }}
    </clr-control-error>
  </clr-select-container>

  <clr-combobox-container *ngIf="hat13BImSchV">
    <label>
      IE-Ausnahmen
      <app-tooltip
        >Ausnahme nach Art. 31 bis 35 sowie 72 (4)b) IE-RL
      </app-tooltip>
    </label>
    <clr-combobox formControlName="ieAusnahmen" clrMulti="true">
      <ng-container *clrOptionSelected="let selected">
        {{ selected.ktext }}
      </ng-container>
      <clr-options>
        <clr-option
          *clrOptionItems="
            let ieAusnahme of ieAusnahmenListe.values;
            field: 'ktext'
          "
          [clrValue]="ieAusnahme"
        >
          {{ ieAusnahme.ktext }}
        </clr-option>
      </clr-options>
    </clr-combobox>
    <clr-control-error *clrIfError="'invalidReferences'; error as error">
      Es wurden ungültige Referenzen gefunden:
      {{ joinInvalidReferences(error) }}
    </clr-control-error>
    <clr-control-helper>
      Beginnen Sie, Text zu schreiben oder wählen Sie aus.
    </clr-control-helper>
  </clr-combobox-container>

  <div *ngIf="hat17BImSchV">
    <clr-input-container>
      <label>
        Gesamtkapazität Abfall
        <app-tooltip>Genehmigte Kapazität Abfall [t/h]</app-tooltip>
      </label>
      <input
        clrInput
        type="number"
        formControlName="gesamtKapazitaetAbfall"
        required
        class="input-full-width"
      />
      <clr-control-error *clrIfError="'required'"
        >Gesamtkapazität wird benötigt
      </clr-control-error>
      <clr-control-error *clrIfError="'min'; error as err"
        >Muss mindestens {{ err.min }} sein!
      </clr-control-error>
      <clr-control-error *clrIfError="'max'; error as err"
        >Darf maximal {{ err.max }} sein!
      </clr-control-error>
    </clr-input-container>

    <clr-input-container>
      <label>
        Kapazität gef. Abfall
        <app-tooltip
          >Genehmigte Kapazität gefährliche Abfälle [t/h]
        </app-tooltip>
      </label>
      <input
        clrInput
        type="number"
        formControlName="kapazitaetGefAbfall"
        required
        class="input-full-width"
      />
      <clr-control-error *clrIfError="'required'"
        >Kapazität wird benötigt
      </clr-control-error>
      <clr-control-error *clrIfError="'min'; error as err"
        >Muss mindestens {{ err.min }} sein!
      </clr-control-error>
      <clr-control-error *clrIfError="'max'; error as err"
        >Darf maximal {{ err.max }} sein!
      </clr-control-error>
    </clr-input-container>

    <clr-input-container>
      <label>
        Kapazität nicht gef. Abfall
        <app-tooltip
          >Genehmigte Kapazität nicht gefährliche Abfälle [t/h]
        </app-tooltip>
      </label>
      <input
        clrInput
        type="number"
        formControlName="kapazitaetNichtGefAbfall"
        required
        class="input-full-width"
      />
      <clr-control-error *clrIfError="'required'"
        >Kapazität wird benötigt
      </clr-control-error>
      <clr-control-error *clrIfError="'min'; error as err"
        >Muss mindestens {{ err.min }} sein!
      </clr-control-error>
      <clr-control-error *clrIfError="'max'; error as err"
        >Darf maximal {{ err.max }} sein!
      </clr-control-error>
    </clr-input-container>

    <clr-toggle-container>
      <label>Mehr als 40% der Wärme stammt von gef. Abfall</label>
      <clr-toggle-wrapper>
        <input
          clrToggle
          type="checkbox"
          formControlName="mehrWaermeVonGefAbfall"
        />
      </clr-toggle-wrapper>
    </clr-toggle-container>

    <clr-toggle-container>
      <label>Mitverbrennung von unbehandeltem kommunalem Abfall</label>
      <clr-toggle-wrapper>
        <input
          clrToggle
          type="checkbox"
          formControlName="mitverbrennungVonUnbehandeltemAbfall"
        />
      </clr-toggle-wrapper>
    </clr-toggle-container>

    <clr-input-container>
      <label>
        Angabe über öffentliche Bekanntmachung nach Art. 55(2) IE-RL
      </label>
      <input
        class="input-full-width"
        clrInput
        type="text"
        formControlName="oeffentlicheBekanntmachung"
        required
      />
      <clr-control-error *clrIfError="'required'"
        >Angabe wird benötigt
      </clr-control-error>
      <clr-control-error *clrIfError="'maxlength'; error as err">
        (max. Länge {{ err.requiredLength }})
      </clr-control-error>
    </clr-input-container>

    <clr-input-container>
      <label> URL öffentliche Bekanntmachung </label>
      <input
        class="input-full-width"
        clrInput
        type="text"
        placeholder="https://..."
        formControlName="oeffentlicheBekanntmachungUrl"
      />
      <clr-control-error *clrIfError="'maxlength'; error as err">
        (max. Länge {{ err.requiredLength }})
      </clr-control-error>
      <clr-control-error *clrIfError="'url'"
        >Ungültige URL. Muss mit <code>http://</code> bzw.
        <code>https://</code> beginnen
      </clr-control-error>
    </clr-input-container>
  </div>
</form>
