<form clrForm [formGroup]="form">
  <span class="clr-sr-only"
    >Durch das Durchtabben dieses Formulars werden Validierungshinweise
    vorgelesen.</span
  >

  <clr-select-container *ngIf="canSeeLand">
    <label>Land</label>
    <select clrSelect formControlName="land" required>
      <option *ngIf="!form.controls.land.value" value="null">
        Bitte wählen
      </option>
      <option *ngFor="let land of laender | keyvalue" [value]="land.key">
        {{ land.value.display }}
      </option>
    </select>
    <clr-control-error>Land wird benötigt</clr-control-error>
  </clr-select-container>

  <clr-input-container>
    <label>Kreis</label>
    <input
      clrInput
      formControlName="kreis"
      placeholder="Kreisnummer"
      data-cy="kreis-input"
    />
    <clr-control-error>(max. Länge 3)</clr-control-error>
  </clr-input-container>

  <clr-input-container>
    <label>Schlüssel</label>
    <input
      clrInput
      required
      formControlName="schluessel"
      placeholder="Schlüssel"
      data-cy="schluessel-input"
    />
    <clr-control-error
      >Schlüssel wird benötigt (max. Länge 10)
    </clr-control-error>
  </clr-input-container>

  <clr-input-container>
    <label>Bezeichnung</label>
    <input
      class="input-full-width"
      clrInput
      required
      formControlName="bezeichnung"
      placeholder="Bezeichnung"
      data-cy="bezeichnung-input"
    />
    <clr-control-error
      >Bezeichnung wird benötigt (max. Länge 500)
    </clr-control-error>
  </clr-input-container>

  <clr-input-container>
    <label>Bezeichnung Teil 2</label>
    <input
      class="input-full-width"
      clrInput
      formControlName="bezeichnung2"
      placeholder="Bezeichnung Teil 2"
      data-cy="bezeichnung2-input"
    />
    <clr-control-error>(max. Länge 500)</clr-control-error>
  </clr-input-container>

  <clr-combobox-container>
    <label>Zuständigkeiten</label>
    <clr-combobox
      formControlName="zustaendigkeiten"
      clrMulti="true"
      data-cy="zustaendigkeiten-combobox"
    >
      <ng-container *clrOptionSelected="let selected">
        {{ displayZustaendigkeit(selected) }}
      </ng-container>
      <clr-options>
        <clr-option
          *clrOptionItems="let zust of zustaendigkeitenListe"
          [clrValue]="zust"
        >
          {{ displayZustaendigkeit(zust) }}
        </clr-option>
      </clr-options>
    </clr-combobox>
    <clr-control-helper
      >Beginnen Sie, Text zu schreiben oder wählen Sie aus.
    </clr-control-helper>
  </clr-combobox-container>

  <clr-input-container>
    <label>Gültig von</label>
    <input
      clrInput
      type="number"
      required
      formControlName="gueltigVon"
      data-cy="gueltig-von-input"
    />
    <clr-control-error>
      Gültig von wird benötigt (min: 1900, max: 9999)
    </clr-control-error>
  </clr-input-container>

  <clr-input-container>
    <label>Gültig bis</label>
    <input
      clrInput
      type="number"
      required
      formControlName="gueltigBis"
      data-cy="gueltig-bis-input"
    />
    <clr-control-error>
      Gültig bis wird benötigt (min: 1900, max: 9999)
    </clr-control-error>
  </clr-input-container>
</form>
