<div class="content-container">
  <div class="content-area">
    <div class="clr-row">
      <div
        class="
          clr-col-12 clr-col-xl-6 clr-offset-xl-3 clr-col-lg-8 clr-offset-lg-2
        "
      >
        <div class="card">
          <div class="card-header">
            <cds-icon shape="user" aria-hidden="true"></cds-icon>
            Benutzer aktualisieren
          </div>
          <div class="card-block">
            <clr-alert clrAlertType="warning" [clrAlertClosable]="false">
              <clr-alert-item>
                <span class="alert-text">
                  Um fortfahren zu können, muss einmalig eine E-Mail Adresse
                  eingegeben werden.
                </span>
              </clr-alert-item>
            </clr-alert>
            <form clrForm [formGroup]="emailForm">
              <span class="clr-sr-only">
                Durch das Durchtabben dieses Formulars werden
                Validierungshinweise vorgelesen.
              </span>
              <clr-input-container>
                <label>E-Mail</label>
                <input
                  clrInput
                  formControlName="email"
                  type="text"
                  required
                  class="input-full-width"
                />
                <clr-control-error *clrIfError="'required'">
                  E-Mail wird benötigt
                </clr-control-error>
                <clr-control-error *clrIfError="'email'">
                  Bitte E-Mail im Format "maxi.muster@beispiel.de" eintragen.
                </clr-control-error>
                <clr-control-error *clrIfError="'maxlength'; error as err">
                  E-Mail darf maximal {{ err.requiredLength }} Zeichen
                  beinhalten
                </clr-control-error>
              </clr-input-container>
            </form>
          </div>
          <div class="card-footer">
            <button
              [disabled]="emailForm.pristine"
              (click)="saveEmail()"
              type="button"
              class="btn btn-primary btn-block"
              aria-label="Fortfahren"
            >
              Fortfahren
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
