<div class="content-container">
  <app-sidenav>
    <div class="buttons">
      <app-berichtsjahr class="ml-1"></app-berichtsjahr>
    </div>

    <div class="nav-divider"></div>
    <app-navi-baum typ="SPB_STAMMDATEN"></app-navi-baum>
  </app-sidenav>

  <div class="content-area">
    <router-outlet></router-outlet>
  </div>
</div>
