<section class="pb-4">
  <clr-datagrid
    class="datagrid-compact"
    *ngIf="formArray.length > 0; else keineDaten"
  >
    <clr-dg-column>Typ</clr-dg-column>
    <clr-dg-column>Verbindung</clr-dg-column>
    <clr-dg-column>Aktionen</clr-dg-column>
    <clr-dg-placeholder>Keine Ergebnisse gefunden</clr-dg-placeholder>
    <clr-dg-row
      *clrDgItems="let kommunikationControl of formArray.controls; index as i"
      data-cy="kommunikation-row"
    >
      <clr-dg-cell>
        <cds-icon
          class="is-error"
          *ngIf="kommunikationControl.invalid"
          shape="error-standard"
          status="danger"
          aria-label="Validierungsfehler"
        ></cds-icon>
        {{ kommunikationControl.value.typ.ktext }}
      </clr-dg-cell>
      <clr-dg-cell>{{ kommunikationControl.value.verbindung }}</clr-dg-cell>
      <clr-dg-cell>
        <button
          class="btn btn-icon btn-primary-outline"
          aria-label="Bearbeiten"
          [disabled]="!canWrite"
          (click)="bearbeiten(i)"
        >
          <cds-icon shape="note"></cds-icon>
        </button>
        <button
          class="btn btn-icon btn-primary-outline"
          aria-label="Löschen"
          [disabled]="!canWrite"
          (click)="loeschen(i)"
        >
          <cds-icon shape="trash"></cds-icon>
        </button>
      </clr-dg-cell>
    </clr-dg-row>
  </clr-datagrid>
  <section class="pt-2">
    <button
      *ngIf="canWrite"
      class="btn btn-secondary-outline"
      (click)="neu()"
      data-cy="add-kommunikation-btn"
    >
      <cds-icon shape="plus" aria-hidden="true"></cds-icon>
      Neu
    </button>
  </section>
</section>

<!-- BEARBEITEN MODAL -->
<clr-modal
  *ngIf="kommunikationForm"
  [(clrModalOpen)]="editModalOpen"
  [clrModalClosable]="false"
>
  <h3 class="modal-title">
    Kommunikationsverbindung
    {{ this.editExistingIndex != null ? "bearbeiten" : "hinzufügen" }}
  </h3>
  <div class="modal-body">
    <form clrForm [formGroup]="kommunikationForm">
      <span class="clr-sr-only">
        Durch das Durchtabben dieses Formulars werden Validierungshinweise
        vorgelesen.
      </span>
      <clr-select-container>
        <label>Typ</label>
        <app-referenz-select
          clrSelect
          formControlName="typ"
          required
          data-cy="typ-select"
          [referenzliste]="kommunikationsTypen.values"
          (change)="kommunikationsTypChanged()"
        ></app-referenz-select>
        <clr-control-error *clrIfError="'required'"
          >Typ wird benötigt</clr-control-error
        >
        <clr-control-error *clrIfError="'invalidReference'; error as error">
          Es wurden ungültige Referenzen gefunden: {{ error.ktext }}
        </clr-control-error>
      </clr-select-container>
      <clr-input-container>
        <label>Verbindung</label>
        <input
          clrInput
          type="text"
          placeholder="Verbindung"
          formControlName="verbindung"
          required
          size="50"
          data-cy="verbindung-input"
        />
        <clr-control-error *clrIfError="'required'">
          Verbindung wird benötigt
        </clr-control-error>
        <clr-control-error *clrIfError="'maxlength'; error as err">
          Verbindung darf maximal {{ err.requiredLength }} Zeichen beinhalten
        </clr-control-error>
        <clr-control-error *clrIfError="'email'">
          Bitte E-Mail im Format "maxi.muster@beispiel.de" eintragen.
        </clr-control-error>
        <clr-control-error *clrIfError="'url'; error as url">
          Ungültige URL.
          <ng-container *ngIf="url.invalid_scheme">
            Muss mit <code>http://</code> bzw. <code>https://</code> beginnen
          </ng-container>
        </clr-control-error>
      </clr-input-container>
    </form>
  </div>
  <div class="modal-footer">
    <button class="btn btn-outline" type="button" (click)="abbrechen()">
      Abbrechen
    </button>
    <button
      class="btn btn-primary"
      type="button"
      [disabled]="kommunikationForm.pristine"
      (click)="uebernehmen()"
      data-cy="uebernehmen-btn"
    >
      Übernehmen
    </button>
  </div>
</clr-modal>

<ng-template #keineDaten>
  <div class="pt-5">
    Keine Daten vorhanden.
    <ng-container *ngIf="canWrite">
      Klicken Sie auf das "+", um Einträge hinzuzufügen.
    </ng-container>
  </div>
</ng-template>
