<button class="btn btn-link btn-sm" (click)="navigateBackToBetriebsstaette()">
  < Zurück zur Betriebsstätte
</button>
<div class="card m-0">
  <div class="card-header actionbar">
    <div>
      <cds-icon shape="user"></cds-icon>
      <ng-container
        *ngIf="isNeu && !betreiberForm.value.allgemein.name; else title"
      >
        Neuen Betreiber erfassen
      </ng-container>
      <ng-template #title
        ><span>
          Betreiber: {{ betreiberForm.value.allgemein.name | slice: 0:100 }}
        </span></ng-template
      >
    </div>
    <div>
      <div class="btn-group">
        <button
          *ngIf="canWrite"
          (click)="betreiberdatenUebernehmen()"
          class="btn btn-sm btn-secondary"
          [disabled]="betreiber.letzteAenderungBetreiber == null"
        >
          <cds-icon shape="import" aria-hidden="true"></cds-icon>
          Übernehmen
        </button>
      </div>

      <div class="btn-group list-action-buttons">
        <button
          *ngIf="canWrite"
          (click)="reset()"
          class="btn btn-sm btn-secondary-outline"
          [disabled]="this.betreiberForm.pristine"
        >
          <cds-icon shape="times" aria-hidden="true"></cds-icon>
          Verwerfen
        </button>
        <button
          *ngIf="canWrite"
          (click)="save()"
          class="btn btn-sm btn-primary"
          [disabled]="this.betreiberForm.pristine"
        >
          <cds-icon shape="floppy" aria-hidden="true"></cds-icon>
          Speichern
        </button>
      </div>
    </div>
  </div>
  <div class="card-block">
    <clr-tabs>
      <clr-tab>
        <button clrTabLink id="allgemein">
          Allgemein
          <cds-icon
            *ngIf="allgemeinForm.invalid"
            shape="error-standard"
            status="danger"
            aria-label="Validierungsfehler"
          ></cds-icon>
        </button>
        <clr-tab-content *clrIfActive="true">
          <app-betreiber-allgemein
            [form]="allgemeinForm"
            [saveAttempt]="saveAttempt"
          ></app-betreiber-allgemein>
        </clr-tab-content>
      </clr-tab>
      <clr-tab>
        <button clrTabLink id="adresse">
          Adresse
          <cds-icon
            class="is-error"
            *ngIf="adresseForm.invalid"
            shape="error-standard"
            status="danger"
            aria-label="Validierungsfehler"
          ></cds-icon>
        </button>
        <clr-tab-content *clrIfActive>
          <app-adresse
            [form]="adresseForm"
            [saveAttempt]="saveAttempt"
            [isoCodes]="isoCodes"
            [vertraulichkeitsgruende]="vertraulichkeitsgruende"
          >
          </app-adresse>
        </clr-tab-content>
      </clr-tab>
    </clr-tabs>
  </div>
  <div class="card-footer" style="font-size: 10px">
    Erfassung am: <em>{{ betreiber.ersteErfassung | date: "short" }}</em> |
    letzte Änderung am:
    <em>{{ betreiber.letzteAenderung | date: "short" }}</em> | Betreiberdaten
    übernommen:
    <em>{{ betreiber.betreiberdatenUebernommen ? "Ja" : "Nein" }}</em> |
    Anlagenkataster: <em>{{ betreiber.referenzAnlagenkataster }}</em>
  </div>
</div>
