<form clrForm [formGroup]="form" [clrLabelSize]="3">
  <span class="clr-sr-only"
    >Durch das Durchtabben dieses Formulars werden Validierungshinweise
    vorgelesen.</span
  >

  <clr-input-container>
    <label>Strasse</label>
    <input
      clrInput
      type="text"
      placeholder="Straße"
      formControlName="strasse"
      data-cy="strasse-input"
      class="input-full-width"
    />
    <clr-control-error>(max. Länge 64)</clr-control-error>
  </clr-input-container>

  <clr-input-container>
    <label>Nr.</label>
    <input
      clrInput
      type="text"
      placeholder="Nr."
      formControlName="hausNr"
      data-cy="haus-nr-input"
      class="input-full-width"
    />
    <clr-control-error>(max. Länge 14)</clr-control-error>
  </clr-input-container>

  <clr-input-container>
    <label>PLZ</label>
    <input
      clrInput
      type="text"
      placeholder="PLZ"
      formControlName="plz"
      required
      data-cy="plz"
      class="input-full-width"
    />
    <clr-control-error>PLZ wird benötigt (max. Länge 11)</clr-control-error>
  </clr-input-container>

  <clr-input-container>
    <label>Ort</label>
    <input
      clrInput
      type="text"
      placeholder="Ort"
      formControlName="ort"
      required
      class="input-full-width"
      data-cy="ort-input"
    />
    <clr-control-error>Ort wird benötigt (max. Länge 64)</clr-control-error>
  </clr-input-container>

  <clr-input-container>
    <label>Ortsteil</label>
    <input
      clrInput
      type="text"
      placeholder="Ortsteil"
      formControlName="ortsteil"
      class="input-full-width"
      data-cy="ortsteil-input"
    />
    <clr-control-error *clrIfError="'maxlength'; error as err"
      >(max. Länge {{ err.requiredLength }})
    </clr-control-error>
  </clr-input-container>

  <clr-combobox-container class="input-full-width">
    <label>Staat</label>
    <clr-combobox formControlName="landIsoCode" data-cy="land-combobox">
      <clr-options>
        <clr-option
          *clrOptionItems="let code of isoCodes.values; field: 'ktext'"
          [clrValue]="code"
        >
          {{ code.ktext }}
        </clr-option>
      </clr-options>
    </clr-combobox>
    <clr-control-error *clrIfError="'invalidReference'; error as error">
      Es wurden ungültige Referenzen gefunden: {{ error.ktext }}
    </clr-control-error>
    <clr-control-helper>
      Zur Anzeige der gesamten Liste bitte Suchfeld leeren.
    </clr-control-helper>
  </clr-combobox-container>

  <clr-select-container>
    <label>Vertraulichkeitsgrund</label>
    <app-referenz-select
      clrSelect
      formControlName="vertraulichkeitsgrund"
      data-cy="vertraulichkeit-select"
      [referenzliste]="vertraulichkeitsgruende.values"
    >
    </app-referenz-select>
    <clr-control-error *clrIfError="'invalidReference'; error as error">
      Es wurden ungültige Referenzen gefunden: {{ error.ktext }}
    </clr-control-error>
  </clr-select-container>

  <clr-input-container>
    <label>Postfach</label>
    <input
      clrInput
      type="text"
      placeholder="Postfach"
      formControlName="postfach"
      data-cy="postfach-input"
      class="input-full-width"
    />
    <clr-control-error>(max. Länge 12)</clr-control-error>
  </clr-input-container>

  <clr-input-container>
    <label>Postfach PLZ</label>
    <input
      clrInput
      type="text"
      placeholder="Postleitzahl für Postfach"
      formControlName="postfachPlz"
      data-cy="postfach-plz-input"
      class="input-full-width"
    />
    <clr-control-error>(max. Länge 24)</clr-control-error>
  </clr-input-container>

  <clr-textarea-container class="input-full-width">
    <label>Adressnotiz</label>
    <textarea
      clrTextarea
      formControlName="notiz"
      placeholder="Notiz zur Adresse"
      rows="2"
      class="input-full-width"
      data-cy="adresse-notiz-input"
    ></textarea>
    <clr-control-error>(max. Länge 1000)</clr-control-error>
  </clr-textarea-container>
</form>
