<clr-alerts>
  <clr-alert
    *ngFor="let alertMessage of getAlertMessages()"
    [clrAlertType]="getType(alertMessage)"
    [clrAlertAppLevel]="true"
  >
    <clr-alert-item>
      <div class="alert-text">{{ alertMessage.message }}</div>
      <div *ngIf="alertMessage.action" class="alert-actions">
        <button
          class="btn alert-action"
          (click)="navigateToAction(alertMessage.action)"
        >
          {{ alertMessage.action.label }}
        </button>
      </div>
    </clr-alert-item>
  </clr-alert>
</clr-alerts>
