<button
  class="btn btn-link btn-sm"
  (click)="navigateBack()"
  data-cy="quelleNavBack"
>
  < Zurück zur {{ isChildOfBetriebsstaette() ? "Betriebsstätte" : "Anlage" }}
</button>
<div class="card m-0">
  <div class="card-header actionbar">
    <div>
      <cds-icon shape="cloud"></cds-icon>
      <ng-container
        *ngIf="isNeu && !quelleForm.value.allgemein.name; else title"
      >
        Neue Quelle erfassen
      </ng-container>
      <ng-template #title
        ><span>
          Quelle: {{ quelleForm.value.allgemein.name | slice: 0:100 }}
        </span></ng-template
      >
    </div>
    <div>
      <div class="btn-group">
        <button
          *ngIf="canWrite"
          (click)="copy()"
          class="btn btn-sm btn-secondary"
          [disabled]="isNeu || this.quelleForm.dirty"
        >
          <cds-icon shape="copy" aria-hidden="true"></cds-icon>
          Kopieren
        </button>
        <button
          *ngIf="canWrite"
          (click)="betreiberdatenUebernehmen()"
          class="btn btn-sm btn-secondary"
          [disabled]="quelle.letzteAenderungBetreiber == null"
        >
          <cds-icon shape="import" aria-hidden="true"></cds-icon>
          Übernehmen
        </button>
      </div>
      <div class="btn-group list-action-buttons">
        <button
          *ngIf="canWrite"
          (click)="reset()"
          class="btn btn-sm btn-secondary-outline"
          [disabled]="this.quelleForm.pristine"
        >
          <cds-icon shape="times" aria-hidden="true"></cds-icon>
          Verwerfen
        </button>
        <button
          *ngIf="canWrite"
          (click)="save()"
          class="btn btn-sm btn-primary"
          [disabled]="this.quelleForm.pristine"
          data-cy="saveQuelle"
        >
          <cds-icon shape="floppy" aria-hidden="true"></cds-icon>
          Speichern
        </button>
      </div>
    </div>
  </div>
  <div class="card-block">
    <app-quelle-allgemein
      [form]="allgemeinForm"
      [saveAttempt]="saveAttempt"
      [epsgCodeListe]="epsgCodeListe"
    ></app-quelle-allgemein>
  </div>
  <div class="card-footer" style="font-size: 10px">
    Erfassung am: <em>{{ quelle.ersteErfassung | date: "short" }}</em> | letzte
    Änderung am: <em>{{ quelle.letzteAenderung | date: "short" }}</em> |
    Betreiberdaten übernommen:
    <em>{{ quelle.betreiberdatenUebernommen ? "Ja" : "Nein" }}</em> |
    Anlagenkataster: <em>{{ quelle.referenzAnlagenkataster }}</em>
  </div>
</div>
