<nav class="subnav" *ngIf="canSeeBenutzerverwaltungBehoerdenbenutzer">
  <ul class="nav">
    <li class="nav-item">
      <a routerLink="betreiber" routerLinkActive="active" class="nav-link">
        Betreiberbenutzer
      </a>
    </li>
    <li class="nav-item">
      <a routerLink="behoerden" routerLinkActive="active" class="nav-link">
        Behördenbenutzer
      </a>
    </li>
  </ul>
</nav>
<div class="content-container">
  <div class="content-area">
    <router-outlet></router-outlet>
  </div>
</div>
