<clr-modal
  [(clrModalOpen)]="open"
  (clrModalOpenChange)="openChange.emit($event)"
>
  <h3 class="modal-title">Land auswählen</h3>
  <div class="modal-body">
    <form clrForm>
      <clr-select-container>
        <label>Land</label>
        <select clrSelect [formControl]="land" required>
          <option
            *ngFor="let land of landesListe | keyvalue"
            [ngValue]="land.value"
          >
            {{ land.value.display }}
          </option>
        </select>
        <clr-control-error>Bitte ein Land auswählen</clr-control-error>
      </clr-select-container>
    </form>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-secondary"
      (click)="closeLandAuswahlDialog()"
    >
      Abbrechen
    </button>
    <button type="button" class="btn btn-primary" (click)="selectLand()">
      Auswählen
    </button>
  </div>
</clr-modal>
