<div class="card">
  <div class="card-header actionbar">
    <div>
      <cds-icon shape="factory"></cds-icon>
      Anlagen
    </div>
    <div class="list-action-buttons">
      <button
        *ngIf="canDelete"
        class="btn btn-sm btn-secondary"
        (click)="openMarkierteLoeschenDialog()"
        [disabled]="nothingSelected"
        title="Markierte Anlagen und Kindobjekte löschen"
      >
        <cds-icon shape="trash" aria-hidden="true"></cds-icon>
        Löschen
      </button>
      <button
        *ngIf="canWrite"
        type="button"
        class="btn btn-sm btn-secondary"
        [disabled]="neueBetriebsstaette()"
        [routerLink]="['anlage', 'neu']"
        data-cy="createAnlage"
      >
        <cds-icon shape="plus" aria-hidden="true"></cds-icon>
        Anlage hinzufügen
      </button>
    </div>
  </div>
  <div class="card-block pt-0 pb-4">
    <clr-datagrid
      class="datagrid-compact"
      [clrDgLoading]="loading"
      [(clrDgSelected)]="selected"
    >
      <clr-dg-column [clrDgField]="'nummer'" [clrDgSortOrder]="SortOrder.ASC"
        >Anlagen-Nr.
      </clr-dg-column>
      <clr-dg-column [clrDgField]="'name'">Name</clr-dg-column>
      <clr-dg-column [clrDgField]="'betriebsstatus'"
        >Betriebsstatus
      </clr-dg-column>
      <clr-dg-column [clrDgField]="'letzteAenderungBetreiber'"
        >Änderung Betreiber
      </clr-dg-column>
      <clr-dg-column>Aktionen</clr-dg-column>
      <clr-dg-placeholder>Keine Ergebnisse gefunden</clr-dg-placeholder>
      <clr-dg-row
        *clrDgItems="let anlage of anlagenListe"
        [clrDgItem]="anlage"
        data-cy="anlageRow"
      >
        <clr-dg-cell>{{ anlage.nummer }}</clr-dg-cell>
        <clr-dg-cell>{{ anlage.name }}</clr-dg-cell>
        <clr-dg-cell>{{ anlage.betriebsstatus }}</clr-dg-cell>
        <clr-dg-cell>{{
          anlage.letzteAenderungBetreiber | date: "short"
        }}</clr-dg-cell>
        <clr-dg-cell>
          <button
            class="btn btn-icon btn-primary-outline"
            [routerLink]="['anlage', 'nummer', anlage.nummer]"
            aria-label="Anlage öffnen"
            title="Anlage öffnen"
            [attr.data-cy]="'openAnlage' + anlage.nummer"
          >
            <cds-icon shape="eye" aria-hidden="true"></cds-icon>
          </button>
          <button
            *ngIf="canDelete"
            class="btn btn-icon btn-primary-outline"
            (click)="openLoeschenDialog(anlage.id)"
            aria-label="Anlage löschen"
            title="Anlage löschen"
          >
            <cds-icon shape="trash" aria-hidden="true"></cds-icon>
          </button>
        </clr-dg-cell>
      </clr-dg-row>

      <clr-dg-footer>
        <clr-dg-pagination
          #pagination
          [clrDgPageSize]="10"
          [clrDgTotalItems]="anlagenListe?.length"
        >
          <clr-dg-page-size [clrPageSizeOptions]="[10, 20, 50, 100]"
            >Anlagen pro Seite
          </clr-dg-page-size>
          {{ pagination.firstItem + 1 }} - {{ pagination.lastItem + 1 }} von
          {{ pagination.totalItems }} Anlagen
        </clr-dg-pagination>
      </clr-dg-footer>
    </clr-datagrid>
  </div>
</div>

<clr-modal [(clrModalOpen)]="loeschenDialog" [clrModalClosable]="false">
  <h3 class="modal-title">{{ anlageId ? "Anlage" : "Anlagen" }} Löschen?</h3>
  <div class="modal-body">
    <p>
      Es werden alle Daten der
      {{ anlageId ? "Anlage" : "Anlagen" }} einschließlich Kindobjekte und
      Berichtsdaten gelöscht!
    </p>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline"
      (click)="closeLoeschenDialog()"
    >
      Abbrechen
    </button>
    <button
      *ngIf="anlageId"
      type="button"
      class="btn btn-warning"
      (click)="deleteAnlage()"
    >
      Löschen
    </button>
    <button
      *ngIf="!anlageId"
      [clrLoading]="loescht"
      type="button"
      class="btn btn-warning"
      (click)="deleteAnlagen()"
    >
      {{ selected.length }}
      {{ selected.length === 1 ? "Anlage" : "Anlagen" }} Löschen
    </button>
  </div>
</clr-modal>
