<div *ngIf="canUseSearch" class="pt-0">
  <app-suche (searchChanged)="searchChanged($event)"></app-suche>
</div>

<div class="card m-0">
  <div class="card-header actionbar">
    <div>
      <cds-icon shape="building"></cds-icon>
      Betriebsstätten
    </div>

    <div class="buttons">
      <div class="btn-group">
        <button
          class="btn btn-sm btn-secondary"
          (click)="alleMarkieren()"
          title="Alle Betriebsstätten markieren (gesamte Liste)"
          aria-label="Alle Betriebsstätten markieren (gesamte Liste)"
          data-cy="alleMarkieren"
        >
          <cds-icon shape="check" aria-hidden="true"></cds-icon>
          Alle
        </button>
        <button
          class="btn btn-sm btn-secondary"
          (click)="markierungAufheben()"
          [disabled]="nothingSelected"
          title="Markierungen aufheben"
          aria-label="Markierungen aufheben"
        >
          <cds-icon shape="times" aria-hidden="true"></cds-icon>
          aufheben
        </button>

        <button
          class="btn btn-sm btn-secondary"
          (click)="inDesktopSpeichern()"
          [disabled]="nothingSelected"
          title="Markierte Betriebsstätten in den Navigationsbaum übernehmen"
          aria-label="Markierte Betriebsstätten in den Navigationsbaum übernehmen"
          data-cy="addToNaviBaumBtn"
        >
          <cds-icon shape="tree-view" aria-hidden="true"></cds-icon>
          Navi-Baum
        </button>

        <button
          *ngIf="canDelete()"
          class="btn btn-sm btn-secondary"
          (click)="openMarkierteLoeschenDialog()"
          [disabled]="nothingSelected"
          title="Markierte Betriebsstätten und Kindobjekte löschen"
          data-cy="loeschen"
        >
          <cds-icon shape="trash" aria-hidden="true"></cds-icon>
          Löschen
        </button>
      </div>

      <div
        class="btn-group"
        *ngIf="canImport || canExport || canUebernehmen || isGesamtadmin"
      >
        <clr-dropdown>
          <button
            type="button"
            class="btn btn-sm btn-secondary"
            clrDropdownTrigger
            data-cy="aufgaben"
          >
            Aufgaben
            <cds-icon shape="angle" direction="down"></cds-icon>
          </button>
          <clr-dropdown-menu clrPosition="bottom-right" *clrIfOpen>
            <button
              class="btn btn-sm btn-secondary"
              *ngIf="canImport"
              (click)="stammdatenImportModalOpen = true"
              clrDropdownItem
            >
              XML-Import
            </button>

            <button
              class="btn btn-sm btn-secondary"
              *ngIf="canExport"
              (click)="stammdatenExportModalOpen = true"
              [disabled]="nothingSelected"
              clrDropdownItem
            >
              XML-Export
            </button>

            <button
              class="btn btn-sm btn-secondary"
              *ngIf="canUebernehmen"
              (click)="openUebernehmenDialog()"
              [disabled]="nothingSelected"
              clrDropdownItem
              data-cy="inJahrKopieren"
            >
              In anderes Jahr übernehmen
            </button>

            <button
              class="btn btn-sm btn-secondary"
              *ngIf="isGesamtadmin || isLandesadmin"
              type="button"
              (click)="openAlleAnsprechpersonenLoeschenDialog()"
              clrDropdownItem
            >
              Alle Ansprechpersonen Löschen
            </button>

            <button
              class="btn btn-sm btn-secondary"
              (click)="komplexpruefungAusfuehren()"
              [disabled]="nothingSelected"
              clrDropdownItem
            >
              Komplexprüfung ausführen
            </button>
          </clr-dropdown-menu>
        </clr-dropdown>
      </div>

      <div class="btn-group">
        <button
          class="btn btn-sm btn-primary"
          *ngIf="canCreate"
          type="button"
          [routerLink]="['betriebsstaette', 'land', benutzerLand, 'neu']"
          data-cy="createBetriebsstaette"
        >
          <cds-icon shape="plus" aria-hidden="true"></cds-icon>
          Betriebsstätte hinzufügen
        </button>
      </div>
    </div>
  </div>

  <div class="card-block pt-0 pb-4">
    <clr-datagrid
      (clrDgRefresh)="onDatagridStateChanged($event)"
      class="datagrid-compact"
      [clrDgLoading]="loading"
      [(clrDgSelected)]="selectedIds"
    >
      <clr-dg-column
        [clrDgSortBy]="betriebsstaettenColumns.BETRIEBSSTAETTEN_NUMMER"
        >Betriebsstätten-Nr.
      </clr-dg-column>
      <clr-dg-column
        [clrDgSortBy]="betriebsstaettenColumns.NAME"
        [clrDgSortOrder]="SortOrder.ASC"
        >Name
      </clr-dg-column>
      <clr-dg-column [clrDgSortBy]="betriebsstaettenColumns.STRASSE_HAUSNUMMER"
        >Straße / Hausnr.
      </clr-dg-column>
      <clr-dg-column [clrDgSortBy]="betriebsstaettenColumns.PLZ"
        >PLZ
      </clr-dg-column>
      <clr-dg-column [clrDgSortBy]="betriebsstaettenColumns.ORT"
        >Ort
      </clr-dg-column>
      <clr-dg-column
        [clrDgSortBy]="betriebsstaettenColumns.ZUSTAENDIGE_BEHOERDE"
        >Zuständige Behörde
      </clr-dg-column>
      <clr-dg-column [clrDgSortBy]="betriebsstaettenColumns.AKZ"
        >AKZ
      </clr-dg-column>
      <clr-dg-column [clrDgSortBy]="betriebsstaettenColumns.BETRIEBSSTATUS"
        >Betriebsstatus
      </clr-dg-column>
      <clr-dg-column [clrDgSortBy]="betriebsstaettenColumns.AENDERUNG_BETREIBER"
        >Änderung Betreiber
      </clr-dg-column>
      <clr-dg-column [clrDgSortBy]="betriebsstaettenColumns.PRUEFUNGSFEHLER">
        Prüfungsfehler
      </clr-dg-column>
      <clr-dg-column>Aktionen</clr-dg-column>
      <clr-dg-placeholder>Keine Ergebnisse gefunden</clr-dg-placeholder>
      <clr-dg-row
        *ngFor="let betriebsstaette of betriebsstaettenPage?.content"
        [clrDgItem]="betriebsstaette.id"
        data-cy="betriebsstaetteRow"
      >
        <clr-dg-cell>{{ betriebsstaette.nummer }}</clr-dg-cell>
        <clr-dg-cell>{{ betriebsstaette.name }}</clr-dg-cell>
        <clr-dg-cell
          >{{ betriebsstaette.adresseStrasse }}
          {{ betriebsstaette.adresseHausNr }}</clr-dg-cell
        >
        <clr-dg-cell>{{ betriebsstaette.adressePlz }}</clr-dg-cell>
        <clr-dg-cell>{{ betriebsstaette.adresseOrt }}</clr-dg-cell>
        <clr-dg-cell>{{ betriebsstaette.zustaendigeBehoerde }}</clr-dg-cell>
        <clr-dg-cell>{{ betriebsstaette.akz }}</clr-dg-cell>
        <clr-dg-cell>{{ betriebsstaette.betriebsstatus }}</clr-dg-cell>
        <clr-dg-cell>{{
          betriebsstaette.letzteAenderungBetreiber | date: "short"
        }}</clr-dg-cell>
        <clr-dg-cell>{{ getPruefungsfehler(betriebsstaette) }}</clr-dg-cell>
        <clr-dg-cell>
          <button
            class="btn btn-icon btn-primary-outline"
            (click)="navigate(betriebsstaette)"
            aria-label="Betriebsstätte öffnen"
            title="Betriebsstätte öffnen"
            data-cy="oeffneBetriebsstaette"
          >
            <cds-icon shape="eye" aria-hidden="true"></cds-icon>
          </button>
          <button
            *ngIf="canDelete(betriebsstaette)"
            (click)="openLoeschenDialog(betriebsstaette.id)"
            class="btn btn-icon btn-primary-outline"
            aria-label="Betriebsstätte löschen"
            title="Betriebsstätte löschen"
          >
            <cds-icon shape="trash" aria-hidden="true"></cds-icon>
          </button>
          <button
            *ngIf="betriebsstaette.pruefungVorhanden"
            (click)="
              komplexpruefungDownload(
                betriebsstaette.id,
                betriebsstaette.nummer
              )
            "
            class="btn btn-icon btn-primary-outline"
            aria-label="letztes Komplexprüfungsprotokoll herunterladen"
            title="letztes Komplexprüfungsprotokoll herunterladen"
          >
            <cds-icon shape="list" aria-hidden="true"></cds-icon>
          </button>
        </clr-dg-cell>
      </clr-dg-row>

      <clr-dg-footer>
        <clr-dg-pagination
          #pagination
          [clrDgPageSize]="20"
          [clrDgTotalItems]="betriebsstaettenPage?.totalElements"
          [(clrDgPage)]="currentPage"
        >
          <clr-dg-page-size [clrPageSizeOptions]="[20, 50, 500]"
            >Betriebsstätten pro Seite
          </clr-dg-page-size>
          {{ pagination.firstItem + 1 }} - {{ pagination.lastItem + 1 }} von
          {{ pagination.totalItems }} Betriebsstätten
        </clr-dg-pagination>
      </clr-dg-footer>
    </clr-datagrid>
  </div>
</div>

<clr-modal
  [(clrModalOpen)]="loeschenDialogOpen"
  [clrModalSize]="'m'"
  [clrModalClosable]="false"
>
  <h3 class="modal-title">
    {{ betriebsstaetteId ? "Betriebsstätte" : "Betriebsstätten" }} löschen?
  </h3>
  <div class="modal-body">
    <p>
      Es werden alle Anlagen und Quellen der
      {{ betriebsstaetteId ? "Betriebsstätte" : "Betriebsstätten" }}
      einschließlich Berichtsdaten gelöscht!
    </p>
    <small
      >Wenn {{ betriebsstaetteId ? "der" : "ein" }} Betreiber keiner anderen
      Betriebsstätte mehr zugeordnet ist, wird dieser ebenfalls gelöscht!</small
    >
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline"
      (click)="closeLoeschenDialog()"
    >
      Abbrechen
    </button>
    <button
      *ngIf="betriebsstaetteId"
      type="button"
      class="btn btn-warning"
      (click)="deleteBetriebsstaette()"
    >
      Löschen
    </button>
    <button
      *ngIf="!betriebsstaetteId"
      [clrLoading]="loescht"
      type="button"
      class="btn btn-warning"
      (click)="deleteBetriebsstaetten()"
      data-cy="loeschenDialogButton"
    >
      {{ selectedIds.length }} BST Löschen
    </button>
  </div>
</clr-modal>

<clr-modal
  [(clrModalOpen)]="alleAnsprechpersonenloeschenDialogOpen"
  clrModalSize="m"
  [clrModalClosable]="false"
>
  <h3 class="modal-title">Alle Ansprechpersonen löschen?</h3>
  <div class="modal-body">
    <p>
      Es werden alle Ansprechpersonen aller Betriebsstätten für das Jahr
      <strong>{{ (currentBerichtsjahr$ | async).ktext }}</strong> für
      {{ zustaendigeLaender }} gelöscht!
    </p>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline"
      (click)="closeAlleAnsprechpersonenLoeschenDialog()"
    >
      Abbrechen
    </button>
    <button
      type="button"
      class="btn btn-warning"
      (click)="deleteAlleAnsprechpersonen()"
    >
      Löschen
    </button>
  </div>
</clr-modal>

<app-daten-in-anderes-jahr-uebernehmen-modal
  [(open)]="uebernehmenDialogOpen"
  [berichtsjahrListe]="berichtsjahrListe"
  zuUebernehmendeDaten="Betriebsstätten"
  (berichtsJahrSelected)="inJahrUebernehmen($event)"
  *ngIf="canUebernehmen"
></app-daten-in-anderes-jahr-uebernehmen-modal>

<app-stammdaten-export-modal
  [(open)]="stammdatenExportModalOpen"
  [selectedIds]="selectedIds"
>
</app-stammdaten-export-modal>

<app-import-modal
  [(open)]="stammdatenImportModalOpen"
  [berichtsjahr]="currentBerichtsjahr$.value"
  title="Stammdaten für {{ currentBerichtsjahr$.value?.ktext }} Importieren"
  [importService]="stammdatenImportAdapter"
>
</app-import-modal>
