<div class="clr-row">
  <div
    class="clr-col-12 clr-col-xl-6 clr-offset-xl-3 clr-col-lg-8 clr-offset-lg-2"
  >
    <button
      *ngIf="bearbeiter.canSeeBenutzerverwaltungModule"
      class="btn btn-link btn-sm"
      (click)="navigateBack()"
    >
      &lt; Zur Benutzer-Übersicht
    </button>
    <div class="card m-0">
      <div class="card-header actionbar">
        <div>
          <cds-icon shape="user" aria-hidden="true"></cds-icon>
          {{ benutzerTyp }}
          <ng-container *ngIf="isNeu; else name">hinzufügen</ng-container>
          <ng-template #name>{{ displayName }}</ng-template>
        </div>
        <div class="btn-group list-action-buttons">
          <button
            *ngIf="canEditUserInfo"
            (click)="reset()"
            class="btn btn-sm btn-secondary-outline"
            [disabled]="form.pristine"
          >
            <cds-icon shape="times" aria-hidden="true"></cds-icon>
            Verwerfen
          </button>
          <button
            *ngIf="canEditUserInfo"
            (click)="save()"
            class="btn btn-sm btn-primary"
            [disabled]="form.pristine"
            data-cy="saveUserBtn"
          >
            <cds-icon shape="floppy" aria-hidden="true"></cds-icon>
            Speichern
          </button>
        </div>
      </div>
      <form clrForm [formGroup]="form" [clrLabelSize]="3">
        <span class="clr-sr-only">
          Durch das Durchtabben dieses Formulars werden Validierungshinweise
          vorgelesen.
        </span>

        <div class="card-block">
          <div class="card-title">Benutzer</div>
          <div class="card-text">
            <clr-input-container>
              <label>Benutzerkennung</label>
              <input
                clrInput
                formControlName="benutzername"
                type="text"
                required
                [readonly]="!isNeu"
                class="input-full-width"
                data-cy="benutzername"
              />
              <clr-control-error *clrIfError="'required'">
                Benutzerkennung wird benötigt
              </clr-control-error>
              <clr-control-error *clrIfError="'maxlength'; error as err">
                Benutzerkennung darf maximal {{ err.requiredLength }} Zeichen
                beinhalten
              </clr-control-error>
              <clr-control-error *clrIfError="'pattern'">
                Benutzerkennung darf nur Buchstaben (keine Umlaute), Zahlen oder
                Sonderzeichen "-_./" beinhalten
              </clr-control-error>
            </clr-input-container>
            <clr-input-container>
              <label>Vorname</label>
              <input
                clrInput
                formControlName="vorname"
                type="text"
                class="input-full-width"
              />
              <clr-control-error *clrIfError="'maxlength'; error as err">
                Vorname darf maximal {{ err.requiredLength }} Zeichen beinhalten
              </clr-control-error>
            </clr-input-container>
            <clr-input-container>
              <label>Nachname</label>
              <input
                clrInput
                formControlName="nachname"
                type="text"
                class="input-full-width"
              />
              <clr-control-error *clrIfError="'maxlength'; error as err">
                Nachname darf maximal {{ err.requiredLength }} Zeichen
                beinhalten
              </clr-control-error>
            </clr-input-container>
            <clr-input-container>
              <label>E-Mail</label>
              <input
                clrInput
                formControlName="email"
                type="text"
                class="input-full-width"
                data-cy="email"
              />
              <clr-control-error *clrIfError="'email'">
                Bitte E-Mail im Format "maxi.muster@beispiel.de" eintragen.
              </clr-control-error>
              <clr-control-error *clrIfError="'maxlength'; error as err">
                E-Mail darf maximal {{ err.requiredLength }} Zeichen beinhalten
              </clr-control-error>
              <clr-control-helper>
                Wenn die E-Mail Adresse nicht gesetzt ist, muss der Benutzer
                beim nächsten Login eine eingeben.
              </clr-control-helper>
            </clr-input-container>
            <clr-input-container>
              <label>Telefonnummer</label>
              <input
                clrInput
                formControlName="telefonnummer"
                type="text"
                class="input-full-width"
              />
              <clr-control-error *clrIfError="'maxlength'; error as err">
                Telefonnummer darf maximal {{ err.requiredLength }} Zeichen
                beinhalten
              </clr-control-error>
            </clr-input-container>
            <clr-toggle-container *ngIf="!isSelf">
              <label>Aktivierung</label>
              <clr-toggle-wrapper>
                <label>{{ form.value.aktiv ? "Aktiv" : "Inaktiv" }}</label>
                <input clrToggle formControlName="aktiv" type="checkbox" />
              </clr-toggle-wrapper>
            </clr-toggle-container>
            <clr-control-container *ngIf="canResetCredentials">
              <button
                (click)="resetDialog = 'PASSWORD'"
                type="button"
                class="btn btn-outline-primary btn-sm"
                title="E-Mail mit Anweisungen zum Zurücksetzen des Passwort senden"
                aria-label="E-Mail mit Anweisungen zum Zurücksetzen des Passwort senden"
              >
                Passwort zurücksetzen
              </button>
            </clr-control-container>
            <clr-control-container *ngIf="canResetCredentials">
              <button
                (click)="resetDialog = '2FA'"
                type="button"
                class="btn btn-outline-primary btn-sm"
                title="E-Mail mit Anweisungen zum Zurücksetzen der Zwei-Faktor-Authentifizierung senden"
                aria-label="E-Mail mit Anweisungen zum Zurücksetzen der Zwei-Faktor-Authentifizierung senden"
              >
                Zwei-Faktor-Auth. zurücksetzen
              </button>
            </clr-control-container>
          </div>
        </div>

        <div class="card-block">
          <div class="card-title">
            Rollen und Rechte
            <app-tooltip>
              Änderungen werden erst beim nächsten Login übernommen
            </app-tooltip>
          </div>
          <app-benutzer-rollen
            class="card-text"
            *ngIf="isBehoerdenbenutzer"
            [form]="rollenForm"
            [benutzerRollen]="benutzer.zugewieseneRollen"
          >
          </app-benutzer-rollen>

          <app-benutzer-datenberechtigungen
            class="card-text"
            [form]="form.controls.datenberechtigung"
            [behoerdenListe]="behoerdenListe"
            [isBetreiber]="isBetreiber"
          ></app-benutzer-datenberechtigungen>
        </div>
      </form>
    </div>
  </div>
</div>

<clr-modal [(clrModalOpen)]="!!resetDialog">
  <h3 class="modal-title">
    {{
      resetDialog === "PASSWORD" ? "Passwort" : "Zwei-Faktor-Authentifizierung"
    }}
    zurücksetzen
  </h3>
  <div class="modal-body">
    <p *ngIf="resetDialog === 'PASSWORD'">
      <ng-container *ngIf="isSelf; else otherUser">Sie erhalten</ng-container>
      <ng-template #otherUser> {{ displayName }} erhält</ng-template>
      eine E-Mail mit Anweisungen zur Neuvergabe eines Passwortes.
    </p>
    <p *ngIf="resetDialog === '2FA'">
      Wenn die Zwei-Faktor-Authentifizierung zurückgesetzt wird, muss sie bei
      der nächsten Anmeldung neu eingerichtet werden.
    </p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline" (click)="resetDialog = null">
      Abbrechen
    </button>
    <button
      type="button"
      class="btn btn-primary"
      (click)="resetCredential(resetDialog)"
    >
      Ok
    </button>
  </div>
</clr-modal>

<app-temp-password-modal
  [(open)]="passwordModalOpen"
  (closed)="onPasswordModalClosed()"
  [tempPassword]="tempPassword"
></app-temp-password-modal>
