<clr-combobox-container>
  <label>Betriebsstätten filtern (Nr, Name, Ort)</label>
  <clr-combobox
    [clrMulti]="true"
    [(ngModel)]="selectedItems"
    (ngModelChange)="selectedOptionsChanged()"
    [clrLoading]="loading"
    (clrInputChange)="inputChanged$.next($event)"
    (clrOpenChange)="$event ? fetchOptions() : null"
  >
    <ng-container *clrOptionSelected="let selectedItems">
      {{ displayText(selectedItems) }}
    </ng-container>

    <clr-options>
      <clr-option
        *ngFor="let option of asyncOptions$ | async"
        [clrValue]="option"
      >
        <cds-icon
          shape="building"
          role="img"
          aria-label="Betriebstätte"
        ></cds-icon>
        {{ displayText(option) }}
      </clr-option>
    </clr-options>
  </clr-combobox>
  <clr-control-helper
    >Mehrfachauswahl bitte über Pfeiltasten und Enter</clr-control-helper
  >
</clr-combobox-container>
