<div class="clr-row">
  <button class="btn btn-link btn-sm" (click)="navigateBackToUebersicht()">
    < Zurück zur Übersicht
  </button>
</div>

<div class="clr-row">
  <div class="clr-col-lg-8 clr-col-12">
    <app-betriebsstaetten-bericht-details></app-betriebsstaetten-bericht-details>
    <app-betriebsstaetten-bericht-anlagen-liste></app-betriebsstaetten-bericht-anlagen-liste>
  </div>
  <div class="clr-col-lg-4 clr-col-12">
    <app-betriebsstaetten-bericht-stammdaten-info></app-betriebsstaetten-bericht-stammdaten-info>
  </div>
</div>
