<clr-header data-cy="toolbar" class="header-2">
  <div class="branding">
    <a
      class="nav-link tooltip tooltip-bottom-right"
      aria-haspopup="true"
      role="tooltip"
      [routerLink]="brandingLink"
    >
      <span class="title">BUBE</span>
      <span class="tooltip-content">{{ versionTooltip }}</span>
    </a>
  </div>

  <div class="header-nav">
    <a
      routerLink="/stammdaten"
      routerLinkActive="active"
      *ngIf="canSeeStammdatenModule"
      class="nav-link nav-text"
    >
      Stammdaten
    </a>
    <a
      routerLink="/stammdatenbetreiber"
      routerLinkActive="active"
      *ngIf="canSeeStammdatenBetreiberModule"
      class="nav-link nav-text"
    >
      Stammdaten
    </a>
    <a
      routerLink="/referenzdaten"
      routerLinkActive="active"
      *ngIf="canSeeReferenzdatenModule"
      class="nav-link nav-text"
    >
      Referenzdaten
    </a>
    <a
      routerLink="/benutzerverwaltung"
      routerLinkActive="active"
      *ngIf="canSeeBenutzerverwaltungModule"
      class="nav-link nav-text"
    >
      Benutzerverwaltung
    </a>
    <a
      routerLink="/eureg"
      routerLinkActive="active"
      *ngIf="canSeeEuRegistryModule"
      class="nav-link nav-text"
      data-cy="euRegistryModule"
    >
      EURegistry
    </a>
    <a
      routerLink="/komplexpruefung/regeln"
      routerLinkActive="active"
      *ngIf="canSeeKomplexpruefungModule"
      class="nav-link nav-text"
      data-cy="euKomplexpruefungModule"
    >
      Komplexprüfung
    </a>
  </div>

  <div *ngIf="showJobRunning" class="progress-block">
    <label>
      {{ jobStatus?.jobName }}
      <span class="badge">{{ jobStatus?.count }}</span>
    </label>
    <div
      [ngClass]="{ loop: jobStatus && !jobStatus.completed }"
      class="progress"
    >
      <progress></progress>
    </div>
  </div>

  <div class="header-actions">
    <a
      *ngIf="jobStatus?.protokoll"
      href="javascript://"
      (click)="protokollOpenDialog = true"
      title="Letztes Job Protokoll"
      class="nav-link nav-icon"
      aria-label="Protokoll"
    >
      <cds-icon
        *ngIf="!jobStatus?.warnungVorhanden && !jobStatus?.error"
        data-cy="protokollIcon"
        shape="list"
        aria-hidden="true"
      ></cds-icon>
      <cds-icon
        *ngIf="jobStatus?.warnungVorhanden && !jobStatus?.error"
        data-cy="protokollIcon"
        shape="list"
        badge="warning"
        aria-hidden="true"
      ></cds-icon>
      <cds-icon
        *ngIf="jobStatus?.error"
        data-cy="protokollIcon"
        shape="list"
        badge="error"
        aria-hidden="true"
      ></cds-icon>
    </a>

    <a
      href="https://wps-bube.atlassian.net/wiki/x/AYC4Bg"
      title="Hilfe"
      class="nav-link nav-icon"
      aria-label="Hilfe"
    >
      <cds-icon shape="unknown-status" aria-hidden="true"></cds-icon>
    </a>

    <clr-dropdown data-cy="benutzerDropdown">
      <button class="dropdown-toggle btn btn-primary" clrDropdownTrigger>
        <cds-icon shape="user"></cds-icon>
        <span class="nav-text">{{ this.benutzerName }}</span>
        <cds-icon shape="angle" direction="down"></cds-icon>
      </button>
      <clr-dropdown-menu clrPosition="bottom-right" *clrIfOpen>
        <button
          clrDropdownItem
          (click)="benutzerProfilService.openBenutzerProfil()"
          data-cy="openProfileBtn"
        >
          <cds-icon shape="cog" aria-hidden="true"></cds-icon>
          Benutzerprofil
        </button>
        <button
          aria-label="Benutzer abmelden"
          clrDropdownItem
          (click)="benutzerProfilService.logout()"
        >
          <cds-icon shape="logout" aria-hidden="true"></cds-icon>
          Abmelden
        </button>
      </clr-dropdown-menu>
    </clr-dropdown>
  </div>
</clr-header>

<clr-modal
  [(clrModalOpen)]="protokollOpenDialog"
  [clrModalClosable]="true"
  clrModalSize="lg"
>
  <h3 class="modal-title">
    {{ jobStatus?.jobName }}
    <span *ngIf="jobStatus?.completed"> Abgeschlossen</span>
    <span *ngIf="jobStatus?.error"> Fehler</span>
  </h3>
  <div class="modal-body">
    <clr-textarea-container class="input-full-width--no-validation">
      <label>Protokoll</label>
      <textarea
        clrTextarea
        readonly
        rows="10"
        class="input-full-width--no-validation protokoll-text"
        >{{ jobStatus?.protokoll }}</textarea
      >
    </clr-textarea-container>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-secondary"
      (click)="protokollOpenDialog = false"
    >
      Schließen
    </button>
  </div>
</clr-modal>
