<a
  href="javascript://"
  role="tooltip"
  aria-haspopup="true"
  class="tooltip tooltip-lg"
  [ngClass]="{
    'tooltip-bottom-right': positionBottom === true
  }"
>
  <cds-icon shape="info-circle" size="24"></cds-icon>
  <span class="tooltip-content"><ng-content></ng-content></span>
</a>
