<form clrForm [formGroup]="form" [clrLabelSize]="4">
  <span class="clr-sr-only">
    Durch das Durchtabben dieses Formulars werden Validierungshinweise
    vorgelesen.
  </span>

  <clr-input-container>
    <label
      >Local-ID 2
      <app-tooltip
        >Local ID für InspireId eines fallweise generierten Objektes
        ProductionInstallation oder ProductionInstallationPart
      </app-tooltip>
    </label>
    <input
      clrInput
      required
      type="text"
      placeholder="Local-ID 2"
      formControlName="localId2"
      class="input-full-width"
    />
    <clr-control-error *clrIfError="'maxlength'; error as err"
      >(max. Länge {{ err.requiredLength }})
    </clr-control-error>
    <clr-control-error *clrIfError="'required'"
      >Local-ID 2 wird benötigt
    </clr-control-error>
  </clr-input-container>

  <clr-combobox-container class="input-full-width">
    <label>Zuständige Behörde</label>
    <clr-combobox formControlName="zustaendigeBehoerde">
      <clr-options>
        <clr-option
          *clrOptionItems="
            let behoerde of behoerdenListe.values;
            field: 'ktext'
          "
          [clrValue]="behoerde"
        >
          {{ behoerde.ktext }}
        </clr-option>
      </clr-options>
    </clr-combobox>
    <clr-control-helper>
      Zur Anzeige der gesamten Liste bitte Suchfeld leeren.
    </clr-control-helper>
    <clr-control-error *clrIfError="'required'"
      >Zuständige Behörde wird benötigt
    </clr-control-error>
    <clr-control-error *clrIfError="'invalidReference'; error as error">
      Es wurden ungültige Referenzen gefunden: {{ error.ktext }}
    </clr-control-error>
  </clr-combobox-container>

  <clr-input-container>
    <label>AKZ</label>
    <input
      clrInput
      class="input-full-width"
      type="text"
      placeholder="Aufgabenbereichskennzahl"
      formControlName="akz"
    />
    <clr-control-error *clrIfError="'maxlength'; error as err"
      >(max. Länge {{ err.requiredLength }})
    </clr-control-error>
  </clr-input-container>

  <clr-select-container>
    <label
      >Bearbeitungsstatus
      <app-tooltip> Bearbeitungsstatus des Berichtes</app-tooltip>
    </label>
    <clr-control-helper
      >Datum der letzten Änderung
      {{ bearbeitungsstatusSeit | date: "mediumDate" }}</clr-control-helper
    >
    <app-referenz-select
      clrSelect
      [referenzliste]="bearbeitungsstatusListe.values"
      formControlName="bearbeitungsstatus"
      required
    ></app-referenz-select>
    <clr-control-error *clrIfError="'required'">
      Bearbeitungsstatus wird benötigt
    </clr-control-error>
    <clr-control-error *clrIfError="'invalidReference'; error as error">
      Es wurden ungültige Referenzen gefunden: {{ error.ktext }}
    </clr-control-error>
  </clr-select-container>

  <clr-select-container>
    <label>
      Ausgangszustandsbericht
      <app-tooltip>
        Bericht über den Ausgangszustand nach Art. 22 2010-75-EU liegt vor?
      </app-tooltip>
    </label>
    <select clrSelect formControlName="report" required>
      <option *ngFor="let report of reportListe" [ngValue]="report">
        {{ reportLabels[report] }}
      </option>
    </select>
    <clr-control-error *clrIfError="'required'"
      >Ausgangszustandsbericht wird benötigt
    </clr-control-error>
    <clr-control-error *clrIfError="'invalidReference'; error as error">
      Es wurden ungültige Referenzen gefunden: {{ error.ktext }}
    </clr-control-error>
  </clr-select-container>

  <clr-input-container>
    <label>
      Anzahl Vor-Ort-Besichtigungen
      <app-tooltip>
        Anzahl der im Berichtsjahr durchgeführten Vor-Ort-Besichtigungen
      </app-tooltip>
    </label>
    <input
      clrInput
      type="number"
      formControlName="visits"
      class="input-full-width"
    />
    <clr-control-error *clrIfError="'required'"
      >Anzahl wird benötigt
    </clr-control-error>
    <clr-control-error *clrIfError="'min'; error as err"
      >Muss mindestens {{ err.min }} sein!
    </clr-control-error>
    <clr-control-error *clrIfError="'max'; error as err"
      >Darf maximal {{ err.max }} sein!
    </clr-control-error>
  </clr-input-container>

  <clr-input-container>
    <label>
      URL zu Vor-Ort-Besichtigungen
      <app-tooltip>
        URL, wo die Kurzberichte zur Vor-Ort-Besichtigung einsehbar sind
      </app-tooltip>
    </label>
    <input
      class="input-full-width"
      clrInput
      type="text"
      placeholder="https://..."
      formControlName="visitUrl"
    />
    <clr-control-error *clrIfError="'required'"
      >URL wird benötigt
    </clr-control-error>
    <clr-control-error *clrIfError="'maxlength'; error as err">
      (max. Länge {{ err.requiredLength }})
    </clr-control-error>
    <clr-control-error *clrIfError="'url'; error as url">
      Ungültige URL.
      <ng-container *ngIf="url.invalid_scheme">
        Muss mit <code>http://</code> bzw. <code>https://</code> beginnen
      </ng-container>
    </clr-control-error>
  </clr-input-container>

  <clr-input-container>
    <label>
      eSPIRS-Nummer
      <app-tooltip>
        Identifikator für Störfallanlagen nach Seveso Plant Information
        Retrieval System (SPIRS), Richtlinie 2012/18/EU (eSPIRS-Nummer)
      </app-tooltip>
    </label>
    <input
      clrInput
      type="text"
      placeholder="eSPIRS-Nummer"
      formControlName="eSpirsNr"
      class="input-full-width"
    />
    <clr-control-error *clrIfError="'maxlength'; error as err">
      (max. Länge {{ err.requiredLength }})
    </clr-control-error>
  </clr-input-container>

  <clr-input-container>
    <label>
      TEHG-Nummer
      <app-tooltip>
        Identifikator Emissionshandel, wie auf EU-Ebene geführt; Richtlinie
        2003/87/EG
      </app-tooltip>
    </label>
    <input
      clrInput
      type="text"
      placeholder="TEHG-Nummer"
      formControlName="tehgNr"
      class="input-full-width"
    />
    <clr-control-error *clrIfError="'maxlength'; error as err">
      (max. Länge {{ err.requiredLength }})
    </clr-control-error>
  </clr-input-container>

  <clr-input-container>
    <label>
      Öffentl. Emissionsmonitoring
      <app-tooltip>
        Beschreibung des öffentlichen Emissions-Monitorings nach Art. 24(3)(b)
        2010-75-EU
      </app-tooltip>
    </label>
    <input
      class="input-full-width"
      clrInput
      type="text"
      placeholder="Öffentliches Emissionsmonitoring"
      formControlName="monitor"
    />
    <clr-control-error *clrIfError="'required'"
      >Öffentl. Emissionsmonitoring wird benötigt
    </clr-control-error>
    <clr-control-error *clrIfError="'maxlength'; error as err">
      (max. Länge {{ err.requiredLength }})
    </clr-control-error>
  </clr-input-container>

  <clr-input-container>
    <label>
      URL Monitoring
      <app-tooltip>
        Adresse für weitere Informationen zum Emissionsmonitoring
      </app-tooltip>
    </label>
    <input
      class="input-full-width"
      clrInput
      type="text"
      placeholder="https://..."
      formControlName="monitorUrl"
    />
    <clr-control-error *clrIfError="'maxlength'; error as err">
      (max. Länge {{ err.requiredLength }})
    </clr-control-error>
    <clr-control-error *clrIfError="'url'; error as url">
      Ungültige URL.
      <ng-container *ngIf="url.invalid_scheme">
        Muss mit <code>http://</code> bzw. <code>https://</code> beginnen
      </ng-container>
    </clr-control-error>
  </clr-input-container>

  <clr-combobox-container>
    <label>
      Kapitel IE-RL
      <app-tooltip>
        Relevantes Kapitel der IE-RL, das auf die Anlage bzw. den Anlagenteil
        anwendbar ist
      </app-tooltip>
    </label>
    <clr-combobox formControlName="kapitelIeRlListe" [clrMulti]="true">
      <ng-container *clrOptionSelected="let selected">
        {{ selected.ktext }}
      </ng-container>
      <clr-options>
        <clr-option
          *clrOptionItems="
            let kapitelIeRl of kapitelIeRlListe.values;
            field: 'ktext'
          "
          [clrValue]="kapitelIeRl"
        >
          {{ kapitelIeRl.ktext }}
        </clr-option>
      </clr-options>
    </clr-combobox>
    <clr-control-helper>
      Beginnen Sie, Text zu schreiben oder wählen Sie aus.
    </clr-control-helper>
    <clr-control-error *clrIfError="'invalidReferences'; error as error">
      Es wurden ungültige Referenzen gefunden:
      {{ joinInvalidReferences(error) }}
    </clr-control-error>
  </clr-combobox-container>

  <clr-combobox-container>
    <label>
      Anwendbare BVT
      <app-tooltip>Anwendbare Durchführungsbeschlüsse, Auswahl</app-tooltip>
    </label>
    <clr-combobox formControlName="anwendbareBVTListe" clrMulti="true">
      <ng-container *clrOptionSelected="let selected">
        {{ selected.ktext }}
      </ng-container>
      <clr-options>
        <clr-option
          *clrOptionItems="
            let anwendbareBvt of anwendbareBvtListe.values;
            field: 'ktext'
          "
          [clrValue]="anwendbareBvt"
        >
          {{ anwendbareBvt.ktext }}
        </clr-option>
      </clr-options>
    </clr-combobox>
    <clr-control-helper>
      Beginnen Sie, Text zu schreiben oder wählen Sie aus.
    </clr-control-helper>
    <clr-control-error *clrIfError="'invalidReferences'; error as error">
      Es wurden ungültige Referenzen gefunden:
      {{ joinInvalidReferences(error) }}
    </clr-control-error>
  </clr-combobox-container>

  <clr-textarea-container class="input-full-width">
    <label>Bemerkung</label>
    <textarea
      clrTextarea
      formControlName="bemerkung"
      placeholder="Bemerkungen"
      rows="2"
    ></textarea>
  </clr-textarea-container>
</form>
