<!-- Anlagen Details -->
<app-anlagen-details></app-anlagen-details>
<!-- Anlagenteile Liste -->
<app-anlagenteile-liste></app-anlagenteile-liste>
<!-- Anlagen-Quellen Liste -->
<app-anlage-quellen-liste *ngIf="quellenDisplay"></app-anlage-quellen-liste>
