<fieldset [formGroup]="form">
  <clr-select-container>
    <label>EPSG-Code</label>
    <app-referenz-select
      clrSelect
      formControlName="epsgCode"
      [referenzliste]="epsgCodeListe.values"
      data-cy="epsg"
    >
    </app-referenz-select>
    <clr-control-helper>
      Ohne EPSG-Code keine Speicherung der Koordinaten möglich.
    </clr-control-helper>
    <clr-control-error *clrIfError="'invalidReference'; error as error">
      Es wurden ungültige Referenzen gefunden: {{ error.ktext }}
    </clr-control-error>
  </clr-select-container>
  <clr-input-container>
    <label>Ost</label>
    <input
      clrInput
      type="number"
      placeholder="Ost"
      formControlName="ost"
      data-cy="ost"
      class="input-full-width"
    />
    <clr-control-error *clrIfError="'required'">
      Ost wird benötigt (min: 0, max: 10 Ziffern)
    </clr-control-error>
    <clr-control-error *clrIfError="'min'">Ost-Wert zu klein</clr-control-error>
    <clr-control-error *clrIfError="'max'">Ost-Wert zu groß</clr-control-error>
  </clr-input-container>
  <clr-input-container>
    <label>Nord</label>
    <input
      clrInput
      type="number"
      placeholder="Nord"
      formControlName="nord"
      data-cy="nord"
      class="input-full-width"
    />
    <clr-control-error *clrIfError="'required'">
      Nord wird benötigt (min: 0, max: 10 Ziffern)
    </clr-control-error>
    <clr-control-error *clrIfError="'min'">
      Nord-Wert zu klein
    </clr-control-error>
    <clr-control-error *clrIfError="'max'">Nord-Wert zu groß</clr-control-error>
  </clr-input-container>
</fieldset>
