.btn-group {
  width: 100%;
  justify-content: center;
}

.loading-indicator {
  display: inline-flex;
  width: 100%;
  justify-content: center;
  * {
    margin: 0 5px;
  }
}

.node-ellipsis {
  display: block;
  text-overflow: ellipsis;
  width: 11rem;
  overflow: hidden;
  white-space: nowrap;
}

.active-link {
  font-weight: bold;
}
