<div *ngIf="loading$ | async" class="loading-indicator pb-1">
  <clr-spinner [clrInline]="true"></clr-spinner>
  <span> Wird geladen… </span>
</div>

<div *ngIf="(loading$ | async) === false" class="btn-group pb-1">
  <button
    class="btn btn-icon btn-sm btn-secondary"
    (click)="readDesktop()"
    aria-label="Navi-Baum neu laden"
    title="Navi-Baum neu laden"
  >
    <cds-icon shape="refresh"></cds-icon>
  </button>
  <button
    class="btn btn-sm btn-secondary"
    (click)="alleAufklappen()"
    data-cy="expandAllBtn"
  >
    <cds-icon shape="plus-circle" aria-hidden="true"></cds-icon>
    Alle
  </button>
  <button class="btn btn-sm btn-secondary" (click)="alleEinklappen()">
    <cds-icon shape="minus-circle" aria-hidden="true"></cds-icon>
    Alle
  </button>
  <button class="btn btn-sm btn-secondary" (click)="deleteDesktop()">
    <cds-icon shape="times-circle" aria-hidden="true"></cds-icon>
    Leeren
  </button>
</div>

<clr-tree>
  <clr-tree-node
    *clrRecursiveFor="let node of root; getChildren: getChildren"
    [clrExpanded]="node.aufgeklappt"
    data-cy="desktopNode"
  >
    <a
      [routerLink]="node.link"
      [queryParams]="node.queryParams"
      class="clr-treenode-link"
      [title]="getNodeName(node)"
      routerLinkActive="active-link"
    >
      <span class="node-ellipsis">
        <cds-icon
          *ngIf="hasNoTag(node)"
          [attr.shape]="getIcon(node)"
        ></cds-icon>
        <cds-icon
          *ngIf="hasTagAenderungDurchBetreiber(node)"
          badge="info"
          [attr.shape]="getIcon(node)"
        ></cds-icon>
        <cds-icon
          *ngIf="hasTagNeuDurchBetreiber(node)"
          badge="warning"
          [attr.shape]="getIcon(node)"
        ></cds-icon>
        {{ getNodeName(node) }}
      </span>
    </a>

    <button
      *ngIf="isBetriebsstaette(node)"
      [disabled]="loading$ | async"
      class="btn btn-sm btn-link"
      (click)="deleteDesktopItem(node.id)"
      aria-label="Aus dem Navi-Baum entfernen"
      title="Aus dem Navi-Baum entfernen"
      data-cy="deleteDesktopItemBtn"
    >
      <cds-icon shape="times"></cds-icon>
    </button>
  </clr-tree-node>
</clr-tree>
