<div class="card m-0">
  <div class="card-header actionbar">
    <div>
      <cds-icon shape="user"></cds-icon>
      <span>
        Betreiber:
        {{ vergleich.allgemein.name.spl | ellipsize: 100 }}
      </span>
    </div>
    <div>
      <div class="btn-group list-action-buttons">
        <button class="btn btn-sm btn-secondary-outline" (click)="back()">
          <cds-icon shape="times" aria-hidden="true"></cds-icon>
          Abbrechen
        </button>
        <button
          class="btn btn-sm btn-primary"
          [disabled]="!canUebernehmen()"
          (click)="uebernahmeDialogOpen = true"
        >
          <cds-icon shape="floppy" aria-hidden="true"></cds-icon>
          Übernehmen
        </button>
      </div>
    </div>
  </div>
  <div class="card-block">
    <clr-accordion clrAccordionMultiPanel="true">
      <clr-accordion-panel>
        <clr-accordion-title
          >Allgemein ({{ countAllgemein() }})
        </clr-accordion-title>
        <clr-accordion-content *clrIfExpanded>
          <div class="clr-row">
            <div class="clr-col-3"></div>
            <div class="clr-col-4">SPL</div>
            <div class="clr-col-4">SPB</div>
            <div class="clr-col-1">Übernahme</div>
          </div>
          <app-vergleichszeile
            label="Name"
            [spl]="vergleich.allgemein.name.spl"
            [spb]="vergleich.allgemein.name.spb"
            [isEqual]="vergleich.allgemein.name.equal"
            [(checkValue)]="nameUebernehmen"
          ></app-vergleichszeile>
        </clr-accordion-content>
      </clr-accordion-panel>

      <clr-accordion-panel>
        <clr-accordion-title
          >Adresse ({{ countAdresse() }})
        </clr-accordion-title>
        <clr-accordion-content *clrIfExpanded>
          <div class="clr-row">
            <div class="clr-col-3"></div>
            <div class="clr-col-4">SPL</div>
            <div class="clr-col-4">SPB</div>
            <div class="clr-col-1">Übernahme</div>
          </div>
          <app-vergleichszeile
            label="Strasse"
            [spl]="vergleich.adresse.strasse.spl"
            [spb]="vergleich.adresse.strasse.spb"
            [isEqual]="vergleich.adresse.strasse.equal"
            [(checkValue)]="strasseUebernehmen"
          ></app-vergleichszeile>
          <app-vergleichszeile
            label="Nr."
            [spl]="vergleich.adresse.hausNr.spl"
            [spb]="vergleich.adresse.hausNr.spb"
            [isEqual]="vergleich.adresse.hausNr.equal"
            [(checkValue)]="hausNrUebernehmen"
          ></app-vergleichszeile>
          <app-vergleichszeile
            label="PLZ"
            [spl]="vergleich.adresse.plz.spl"
            [spb]="vergleich.adresse.plz.spb"
            [isEqual]="vergleich.adresse.plz.equal"
            [(checkValue)]="plzUebernehmen"
          ></app-vergleichszeile>
          <app-vergleichszeile
            label="Ort"
            [spl]="vergleich.adresse.ort.spl"
            [spb]="vergleich.adresse.ort.spb"
            [isEqual]="vergleich.adresse.ort.equal"
            [(checkValue)]="ortUebernehmen"
          ></app-vergleichszeile>
          <app-vergleichszeile
            label="Ortsteil"
            [spl]="vergleich.adresse.ortsteil.spl"
            [spb]="vergleich.adresse.ortsteil.spb"
            [isEqual]="vergleich.adresse.ortsteil.equal"
            [(checkValue)]="ortsteilUebernehmen"
          ></app-vergleichszeile>
          <app-vergleichszeile
            label="Staat"
            [spl]="vergleich.adresse.landIsoCode.spl?.ktext"
            [spb]="vergleich.adresse.landIsoCode.spb?.ktext"
            [isEqual]="vergleich.adresse.landIsoCode.equal"
            [(checkValue)]="landIsoCodeUebernehmen"
          ></app-vergleichszeile>
          <app-vergleichszeile
            label="Postfach"
            [spl]="vergleich.adresse.postfach.spl"
            [spb]="vergleich.adresse.postfach.spb"
            [isEqual]="vergleich.adresse.postfach.equal"
            [(checkValue)]="postfachUebernehmen"
          ></app-vergleichszeile>
          <app-vergleichszeile
            label="Postfach PLZ"
            [spl]="vergleich.adresse.postfachPlz.spl"
            [spb]="vergleich.adresse.postfachPlz.spb"
            [isEqual]="vergleich.adresse.postfachPlz.equal"
            [(checkValue)]="postfachPlzUebernehmen"
          ></app-vergleichszeile>
        </clr-accordion-content>
      </clr-accordion-panel>
    </clr-accordion>
  </div>
</div>

<app-uebernahme-dialog
  [(open)]="uebernahmeDialogOpen"
  (uebernehmenOut)="uebernehmen($event)"
></app-uebernahme-dialog>
