<div *ngIf="!isEqual" class="clr-row">
  <div class="clr-col-3"></div>
  <div class="clr-col-4">SPL</div>
  <div class="clr-col-4">SPB</div>
  <div class="clr-col-1">
    <clr-checkbox-wrapper>
      <label>Übernahme</label>
      <input
        type="checkbox"
        clrCheckbox
        [(ngModel)]="checkValue"
        (change)="updateValue()"
      />
    </clr-checkbox-wrapper>
  </div>
</div>

<div *ngFor="let ap of ansprechpartner" class="clr-row">
  <div class="clr-col-3"></div>
  <div class="clr-col-4">
    {{ ap.spl?.vorname }} {{ ap.spl?.nachname }} {{ ap.spl?.funktion?.ktext }}
    {{ getKommunikationsverbindungenText(ap.spl?.kommunikationsverbindungen) }}
  </div>
  <div class="clr-col-4">
    {{ ap.spb?.vorname }} {{ ap.spb?.nachname }} {{ ap.spb?.funktion?.ktext }}
    {{ getKommunikationsverbindungenText(ap.spb?.kommunikationsverbindungen) }}
  </div>
  <div class="clr-col-1"></div>
</div>
