<clr-accordion>
  <clr-accordion-panel>
    <clr-accordion-title data-cy="searchToggle">
      <cds-icon shape="search" aria-hidden="true"></cds-icon>
      Suche
      <ng-container *ngIf="searchChanged | async as search">
        <ng-container *ngIf="suchParameter(search).length">
          ({{ suchParameter(search).length }} aktiv)
        </ng-container>
      </ng-container>
    </clr-accordion-title>
    <clr-accordion-content *clrIfExpanded>
      <div class="alert alert-info" role="alert">
        <div class="alert-items">
          <div class="alert-item static">
            <div class="alert-icon-wrapper">
              <cds-icon class="alert-icon" shape="info-circle"></cds-icon>
            </div>
            <span class="alert-text">Als Platzhalter bitte * benutzen.</span>
          </div>
        </div>
      </div>
      <form
        clrForm
        [formGroup]="suchForm"
        clrLayout="compact"
        [clrLabelSize]="3"
      >
        <div class="clr-row">
          <div class="clr-col-12 clr-col-xl-6">
            <div class="card">
              <div class="card-block" formGroupName="betriebsstaette">
                <h3 class="card-title">Betriebsstätte</h3>
                <clr-input-container *ngIf="showLandControl">
                  <label>Land</label>
                  <input clrInput formControlName="land" type="text" />
                </clr-input-container>
                <clr-input-container>
                  <label>Name</label>
                  <input clrInput formControlName="name" type="text" />
                </clr-input-container>
                <clr-input-container>
                  <label>Nummer</label>
                  <input
                    clrInput
                    formControlName="nummer"
                    type="text"
                    data-cy="searchBstNr"
                  />
                </clr-input-container>
                <clr-input-container>
                  <label>
                    Local-ID
                    <app-tooltip>
                      Local ID für InspireId eines fallweise generierten
                      Objektes ProductionInstallation oder
                      ProductionInstallationPart
                    </app-tooltip>
                  </label>
                  <input clrInput formControlName="localId" type="text" />
                </clr-input-container>
                <clr-input-container>
                  <label>PLZ</label>
                  <input clrInput formControlName="plz" type="text" />
                </clr-input-container>
                <clr-input-container>
                  <label>Ort</label>
                  <input clrInput formControlName="ort" type="text" />
                </clr-input-container>
                <clr-input-container>
                  <label>AKZ</label>
                  <input clrInput formControlName="akz" type="text" />
                </clr-input-container>
                <clr-combobox-container>
                  <label class="clr-col-12">Gemeinde</label>
                  <clr-combobox
                    clrMulti="true"
                    formControlName="gemeindeIn"
                    (clrInputChange)="gemeinden.search$.next($event)"
                    (clrOpenChange)="$event ? gemeinden.search$.next() : null"
                    [clrLoading]="!gemeinden.values$.value"
                  >
                    <ng-container *clrOptionSelected="let selected">
                      <span class="referenz-ellipsis" [title]="selected.ktext">
                        {{ selected.ktext }}
                      </span>
                    </ng-container>
                    <clr-options>
                      <clr-option
                        *clrOptionItems="
                          let option of gemeinden.values$ | async;
                          field: 'ktext'
                        "
                        [clrValue]="option"
                      >
                        {{ option.ktext }}
                      </clr-option>
                    </clr-options>
                  </clr-combobox>
                </clr-combobox-container>
                <clr-combobox-container>
                  <label class="clr-col-12">Zuständige Behörde</label>
                  <clr-combobox
                    clrMulti="true"
                    formControlName="behoerdeIn"
                    [clrLoading]="!behoerden$.value"
                    (clrInputChange)="behoerdenSearch$.next($event)"
                    (clrOpenChange)="$event ? behoerdenSearch$.next() : null"
                  >
                    <ng-container *clrOptionSelected="let selected">
                      <span class="referenz-ellipsis" [title]="selected.ktext">
                        {{ selected.ktext }}
                      </span>
                    </ng-container>
                    <clr-options>
                      <clr-option
                        *clrOptionItems="
                          let option of behoerden$ | async;
                          field: 'ktext'
                        "
                        [clrValue]="option"
                      >
                        {{ option.ktext }}
                      </clr-option>
                    </clr-options>
                  </clr-combobox>
                </clr-combobox-container>
                <clr-combobox-container>
                  <label class="clr-col-12">NACE-Code</label>
                  <clr-combobox
                    clrMulti="true"
                    formControlName="naceIn"
                    (clrInputChange)="naceCodes.search$.next($event)"
                    (clrOpenChange)="$event ? naceCodes.search$.next() : null"
                    [clrLoading]="!naceCodes.values$.value"
                  >
                    <ng-container *clrOptionSelected="let selected">
                      <span class="referenz-ellipsis" [title]="selected.ktext">
                        {{ selected.ktext }}
                      </span>
                    </ng-container>
                    <clr-options>
                      <clr-option
                        *clrOptionItems="
                          let option of naceCodes.values$ | async;
                          field: 'ktext'
                        "
                        [clrValue]="option"
                      >
                        {{ option.ktext }}
                      </clr-option>
                    </clr-options>
                  </clr-combobox>
                </clr-combobox-container>
                <clr-combobox-container>
                  <label class="clr-col-12">Betriebsstatus</label>
                  <clr-combobox
                    clrMulti="true"
                    formControlName="statusIn"
                    (clrInputChange)="status.search$.next($event)"
                    (clrOpenChange)="$event ? status.search$.next() : null"
                    [clrLoading]="!status.values$.value"
                    data-cy="searchInputBetriebsstatus"
                  >
                    <ng-container *clrOptionSelected="let selected">
                      <span class="referenz-ellipsis" [title]="selected.ktext">
                        {{ selected.ktext }}</span
                      >
                    </ng-container>
                    <clr-options>
                      <clr-option
                        *clrOptionItems="
                          let option of status.values$ | async;
                          field: 'ktext'
                        "
                        [clrValue]="option"
                        data-cy="betriebsstatusOption"
                      >
                        {{ option.ktext }}
                      </clr-option>
                    </clr-options>
                  </clr-combobox>
                </clr-combobox-container>
                <clr-radio-container clrInline>
                  <label>Betreiberdaten übernommen</label>
                  <clr-radio-wrapper>
                    <label>egal</label>
                    <input
                      type="radio"
                      clrRadio
                      [value]="null"
                      formControlName="uebernommen"
                    />
                  </clr-radio-wrapper>
                  <clr-radio-wrapper>
                    <label>ja</label>
                    <input
                      type="radio"
                      clrRadio
                      [value]="true"
                      formControlName="uebernommen"
                    />
                  </clr-radio-wrapper>
                  <clr-radio-wrapper>
                    <label>nein</label>
                    <input
                      type="radio"
                      clrRadio
                      [value]="false"
                      formControlName="uebernommen"
                    />
                  </clr-radio-wrapper>
                </clr-radio-container>
              </div>
            </div>
            <div class="card">
              <div class="card-block" formGroupName="betreiber">
                <h3 class="card-title">Betreiber</h3>
                <clr-input-container>
                  <label>Name</label>
                  <input clrInput formControlName="name" type="text" />
                </clr-input-container>
                <clr-input-container>
                  <label>PLZ</label>
                  <input clrInput formControlName="plz" type="text" />
                </clr-input-container>
                <clr-input-container>
                  <label>Ort</label>
                  <input clrInput formControlName="ort" type="text" />
                </clr-input-container>
              </div>
            </div>
          </div>
          <div class="clr-col-12 clr-col-xl-6">
            <div class="card">
              <div class="card-block" formGroupName="anlage">
                <h3 class="card-title">Anlage</h3>
                <clr-toggle-container>
                  <clr-toggle-wrapper>
                    <label>Auch Anlagenteile durchsuchen</label>
                    <input
                      clrToggle
                      formControlName="searchAnlagenteile"
                      type="checkbox"
                    />
                  </clr-toggle-wrapper>
                </clr-toggle-container>
                <clr-input-container>
                  <label>Name</label>
                  <input clrInput formControlName="name" type="text" />
                </clr-input-container>
                <clr-input-container>
                  <label>Nummer</label>
                  <input clrInput formControlName="nummer" type="text" />
                </clr-input-container>
                <clr-input-container>
                  <label>
                    Local-ID
                    <app-tooltip>
                      Local ID für InspireId eines fallweise generierten
                      Objektes ProductionInstallation oder
                      ProductionInstallationPart
                    </app-tooltip>
                  </label>
                  <input clrInput formControlName="localId" type="text" />
                </clr-input-container>
                <clr-combobox-container>
                  <label class="clr-col-12">Art der Zuständigkeit</label>
                  <clr-combobox
                    clrMulti="true"
                    formControlName="zustaendigkeitIn"
                    (clrInputChange)="zustaendigkeiten.search$.next($event)"
                    (clrOpenChange)="
                      $event ? zustaendigkeiten.search$.next() : null
                    "
                    [clrLoading]="!zustaendigkeiten.values$.value"
                  >
                    <ng-container *clrOptionSelected="let selected">
                      <span class="referenz-ellipsis" [title]="selected.ktext">
                        {{ selected.ktext }}</span
                      >
                    </ng-container>
                    <clr-options>
                      <clr-option
                        *clrOptionItems="
                          let option of zustaendigkeiten.values$ | async;
                          field: 'ktext'
                        "
                        [clrValue]="option"
                      >
                        {{ option.ktext }}
                      </clr-option>
                    </clr-options>
                  </clr-combobox>
                </clr-combobox-container>
                <clr-combobox-container>
                  <label class="clr-col-12">Zuständige Behörde</label>
                  <clr-combobox
                    clrMulti="true"
                    formControlName="behoerdeIn"
                    [clrLoading]="!behoerden$.value"
                    (clrInputChange)="behoerdenSearch$.next($event)"
                    (clrOpenChange)="$event ? behoerdenSearch$.next() : null"
                  >
                    <ng-container *clrOptionSelected="let selected">
                      <span class="referenz-ellipsis" [title]="selected.ktext">
                        {{ selected.ktext }}</span
                      >
                    </ng-container>
                    <clr-options>
                      <clr-option
                        *clrOptionItems="
                          let option of behoerden$ | async;
                          field: 'ktext'
                        "
                        [clrValue]="option"
                      >
                        {{ option.ktext }}
                      </clr-option>
                    </clr-options>
                  </clr-combobox>
                </clr-combobox-container>
                <clr-combobox-container>
                  <label class="clr-col-12">
                    Vorschriften (UND-Verknüpfung)
                  </label>
                  <clr-combobox
                    clrMulti="true"
                    formControlName="vorschriftenIn"
                    (clrInputChange)="vorschriften.search$.next($event)"
                    (clrOpenChange)="
                      $event ? vorschriften.search$.next() : null
                    "
                    [clrLoading]="!vorschriften.values$.value"
                  >
                    <ng-container *clrOptionSelected="let selected">
                      <span class="referenz-ellipsis" [title]="selected.ktext">
                        {{ selected.ktext }}
                      </span>
                    </ng-container>
                    <clr-options>
                      <clr-option
                        *clrOptionItems="
                          let option of vorschriften.values$ | async;
                          field: 'ktext'
                        "
                        [clrValue]="option"
                      >
                        {{ option.ktext }}
                      </clr-option>
                    </clr-options>
                  </clr-combobox>
                </clr-combobox-container>
                <clr-combobox-container>
                  <label class="clr-col-12">Betriebsstatus</label>
                  <clr-combobox
                    clrMulti="true"
                    formControlName="statusIn"
                    (clrInputChange)="status.search$.next($event)"
                    (clrOpenChange)="$event ? status.search$.next() : null"
                    [clrLoading]="!status.values$.value"
                  >
                    <ng-container *clrOptionSelected="let selected">
                      <span class="referenz-ellipsis" [title]="selected.ktext">
                        {{ selected.ktext }}</span
                      >
                    </ng-container>
                    <clr-options>
                      <clr-option
                        *clrOptionItems="
                          let option of status.values$ | async;
                          field: 'ktext'
                        "
                        [clrValue]="option"
                      >
                        {{ option.ktext }}
                      </clr-option>
                    </clr-options>
                  </clr-combobox>
                </clr-combobox-container>
                <clr-radio-container clrInline>
                  <label>Betreiberdaten übernommen</label>
                  <clr-radio-wrapper>
                    <label>egal</label>
                    <input
                      type="radio"
                      clrRadio
                      [value]="null"
                      formControlName="uebernommen"
                    />
                  </clr-radio-wrapper>
                  <clr-radio-wrapper>
                    <label>ja</label>
                    <input
                      type="radio"
                      clrRadio
                      [value]="true"
                      formControlName="uebernommen"
                    />
                  </clr-radio-wrapper>
                  <clr-radio-wrapper>
                    <label>nein</label>
                    <input
                      type="radio"
                      clrRadio
                      [value]="false"
                      formControlName="uebernommen"
                    />
                  </clr-radio-wrapper>
                </clr-radio-container>
                <div class="pt-3" formGroupName="taetigkeiten">
                  <clr-combobox-container>
                    <label class="clr-col-12">Nr. 4 BImSchV</label>
                    <clr-combobox
                      clrMulti="true"
                      formControlName="nr4BImSchV"
                      (clrInputChange)="taetigkeiten4bv.search$.next($event)"
                      (clrOpenChange)="
                        $event ? taetigkeiten4bv.search$.next() : null
                      "
                      [clrLoading]="!taetigkeiten4bv.values$.value"
                    >
                      <ng-container *clrOptionSelected="let selected">
                        <span
                          class="referenz-ellipsis"
                          [title]="selected.ktext"
                        >
                          {{ selected.ktext }}
                        </span>
                      </ng-container>
                      <clr-options>
                        <clr-option
                          *clrOptionItems="
                            let option of taetigkeiten4bv.values$ | async;
                            field: 'ktext'
                          "
                          [clrValue]="option"
                        >
                          {{ option.ktext }}
                        </clr-option>
                      </clr-options>
                    </clr-combobox>
                  </clr-combobox-container>
                  <clr-combobox-container>
                    <label class="clr-col-12">Nr. PRTR</label>
                    <clr-combobox
                      clrMulti="true"
                      formControlName="prtr"
                      (clrInputChange)="taetigkeitenPrtr.search$.next($event)"
                      (clrOpenChange)="
                        $event ? taetigkeitenPrtr.search$.next() : null
                      "
                      [clrLoading]="!taetigkeitenPrtr.values$.value"
                    >
                      <ng-container *clrOptionSelected="let selected">
                        <span
                          class="referenz-ellipsis"
                          [title]="selected.ktext"
                        >
                          {{ selected.ktext }}
                        </span>
                      </ng-container>
                      <clr-options>
                        <clr-option
                          *clrOptionItems="
                            let option of taetigkeitenPrtr.values$ | async;
                            field: 'ktext'
                          "
                          [clrValue]="option"
                        >
                          {{ option.ktext }}
                        </clr-option>
                      </clr-options>
                    </clr-combobox>
                  </clr-combobox-container>
                  <clr-combobox-container>
                    <label class="clr-col-12">Nr. IE-RL</label>
                    <clr-combobox
                      clrMulti="true"
                      formControlName="ierl"
                      (clrInputChange)="taetigkeitenIeRl.search$.next($event)"
                      (clrOpenChange)="
                        $event ? taetigkeitenIeRl.search$.next() : null
                      "
                      [clrLoading]="!taetigkeitenIeRl.values$.value"
                    >
                      <ng-container *clrOptionSelected="let selected">
                        <span
                          class="referenz-ellipsis"
                          [title]="selected.ktext"
                        >
                          {{ selected.ktext }}
                        </span>
                      </ng-container>
                      <clr-options>
                        <clr-option
                          *clrOptionItems="
                            let option of taetigkeitenIeRl.values$ | async;
                            field: 'ktext'
                          "
                          [clrValue]="option"
                        >
                          {{ option.ktext }}
                        </clr-option>
                      </clr-options>
                    </clr-combobox>
                  </clr-combobox-container>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="clr-row card-footer">
          <div class="btn-group">
            <button
              class="btn btn-primary"
              (click)="submitSearch()"
              data-cy="searchSubmit"
            >
              <cds-icon shape="search" aria-hidden="true"></cds-icon>
              Suchen
            </button>
            <button class="btn" (click)="resetForm()">Zurücksetzen</button>
          </div>
        </div>
      </form>
    </clr-accordion-content>
  </clr-accordion-panel>
</clr-accordion>
