<div class="card">
  <div class="card-header actionbar">
    <div>
      <cds-icon shape="factory"></cds-icon>
      Quellen
    </div>
    <div class="list-action-buttons">
      <button
        type="button"
        class="btn btn-sm btn-secondary"
        [routerLink]="['quelle', 'neu']"
        data-cy="createQuelle"
        [disabled]="spbBetriebsstaette.schreibsperreBetreiber"
      >
        <cds-icon shape="plus" aria-hidden="true"></cds-icon>
        Quelle hinzufügen
      </button>
    </div>
  </div>
  <div class="card-block pt-0 pb-4">
    <clr-datagrid class="datagrid-compact">
      <clr-dg-column [clrDgField]="'quelleNr'" [clrDgSortOrder]="SortOrder.ASC"
        >Quellen-Nr.
      </clr-dg-column>
      <clr-dg-column [clrDgField]="'name'">Name</clr-dg-column>
      <clr-dg-column>SPB Status</clr-dg-column>
      <clr-dg-column>Aktionen</clr-dg-column>
      <clr-dg-placeholder>Keine Ergebnisse gefunden</clr-dg-placeholder>
      <clr-dg-row
        *clrDgItems="let spbQuelle of spbQuellen"
        [clrDgItem]="spbQuelle"
        data-cy="quelleRow"
      >
        <clr-dg-cell>{{ spbQuelle.quelleNr }}</clr-dg-cell>
        <clr-dg-cell>{{ spbQuelle.name }}</clr-dg-cell>
        <clr-dg-cell>{{ getSpbStatus(spbQuelle) }}</clr-dg-cell>
        <clr-dg-cell>
          <button
            class="btn btn-icon btn-primary-outline"
            [routerLink]="[
              'quelle',
              'nummer',
              spbQuelle.originalQuelleNr
                ? spbQuelle.originalQuelleNr
                : spbQuelle.quelleNr
            ]"
            aria-label="Quelle öffnen"
            title="Quelle öffnen"
            [attr.data-cy]="
              'openQuelle' + spbQuelle.originalQuelleNr
                ? spbQuelle.originalQuelleNr
                : spbQuelle.quelleNr
            "
          >
            <cds-icon shape="eye" aria-hidden="true"></cds-icon>
          </button>
          <button
            *ngIf="!isNew(spbQuelle)"
            class="btn btn-icon btn-primary-outline"
            (click)="openLoeschenDialog(spbQuelle)"
            aria-label="Auf Behördenzustand zurücksetzen"
            title="Auf Behördenzustand zurücksetzen"
            [disabled]="spbBetriebsstaette.schreibsperreBetreiber"
          >
            <cds-icon shape="undo" aria-hidden="true"></cds-icon>
          </button>
        </clr-dg-cell>
      </clr-dg-row>

      <clr-dg-footer>
        <clr-dg-pagination
          #pagination
          [clrDgPageSize]="10"
          [clrDgTotalItems]="spbQuellen?.length"
        >
          <clr-dg-page-size [clrPageSizeOptions]="[10, 20, 50, 100]"
            >Quellen pro Seite
          </clr-dg-page-size>
          {{ pagination.firstItem + 1 }} - {{ pagination.lastItem + 1 }} von
          {{ pagination.totalItems }} Quellen
        </clr-dg-pagination>
      </clr-dg-footer>
    </clr-datagrid>
  </div>
</div>

<clr-modal [(clrModalOpen)]="loeschenDialog" [clrModalClosable]="false">
  <h3 class="modal-title">
    {{
      spbQuelleForDelete?.quelleVorhanden
        ? "Änderungen Löschen?"
        : "Quelle Löschen?"
    }}
  </h3>
  <div class="modal-body">
    <p>
      {{
        spbQuelleForDelete?.quelleVorhanden
          ? "Es werden alle Änderungen des Betreibers an der Quelle gelöscht!"
          : "Es werden alle Daten der Quelle gelöscht!"
      }}
    </p>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline"
      (click)="closeLoeschenDialog()"
    >
      Abbrechen
    </button>
    <button
      *ngIf="spbQuelleForDelete"
      type="button"
      class="btn btn-warning"
      (click)="deleteQuelle()"
    >
      Löschen
    </button>
  </div>
</clr-modal>
