<form clrForm [clrLabelSize]="4" [formGroup]="form">
  <clr-toggle-container>
    <label
      >Genehmigung Erteilt
      <app-tooltip
        >Wurde die Genehmigung erteilt nach Art. 5 IE-RL</app-tooltip
      ></label
    >
    <clr-toggle-wrapper>
      <input clrToggle type="checkbox" formControlName="erteilt" />
    </clr-toggle-wrapper>
  </clr-toggle-container>

  <clr-date-container>
    <label>Erteilungsdatum</label>
    <input clrDate formControlName="erteilungsdatum" />
    <clr-control-error *clrIfError="'required'"
      >Erteilungsdatum wird benötigt.</clr-control-error
    >
    <clr-control-error *clrIfError="'date'"
      >Bitte gültiges Datum eingeben.</clr-control-error
    >
  </clr-date-container>

  <clr-toggle-container>
    <label
      >Genehmigung neu betrachtet<app-tooltip
        >Wurde die Genehmigung im Berichtszeitraum neu betrachtet?</app-tooltip
      ></label
    >
    <clr-toggle-wrapper>
      <input clrToggle type="checkbox" formControlName="neuBetrachtet" />
    </clr-toggle-wrapper>
  </clr-toggle-container>

  <clr-date-container>
    <label>Betrachtungsdatum</label>
    <input clrDate formControlName="betrachtungsdatum" />
    <clr-control-error *clrIfError="'required'"
      >Betrachtungsdatum wird benötigt.</clr-control-error
    >
    <clr-control-error *clrIfError="'date'"
      >Bitte gültiges Datum eingeben.</clr-control-error
    >
  </clr-date-container>
  <clr-toggle-container>
    <label
      >Genehmigung geändert<app-tooltip
        >Wurde die Genehmigung im Berichtszeitraum wesentlich
        geändert?</app-tooltip
      ></label
    >
    <clr-toggle-wrapper>
      <input clrToggle type="checkbox" formControlName="geaendert" />
    </clr-toggle-wrapper>
  </clr-toggle-container>

  <clr-date-container>
    <label>Änderungsdatum</label>
    <input clrDate formControlName="aenderungsdatum" />
    <clr-control-error *clrIfError="'required'"
      >Änderungsdatum wird benötigt.</clr-control-error
    >
    <clr-control-error *clrIfError="'date'"
      >Bitte gültiges Datum eingeben.</clr-control-error
    >
  </clr-date-container>

  <clr-input-container>
    <label
      >URL
      <app-tooltip
        >URL, unter der die Genehmigung veröffentlicht wurde</app-tooltip
      ></label
    >
    <input
      clrInput
      class="input-full-width"
      type="text"
      placeholder="https://..."
      formControlName="url"
    />
    <clr-control-error *clrIfError="'maxlength'; error as err">
      (max. Länge {{ err.requiredLength }})
    </clr-control-error>
    <clr-control-error *clrIfError="'url'; error as url">
      Ungültige URL.
      <ng-container *ngIf="url.invalid_scheme">
        Muss mit <code>http://</code> bzw. <code>https://</code> beginnen
      </ng-container>
    </clr-control-error>
  </clr-input-container>

  <clr-textarea-container class="input-full-width">
    <label
      >Durchsetzungsmaßnahmen
      <app-tooltip
        >Beschreibung der Durchsetzungsmaßnahmen, wenn keine Genehmigung nach
        Art. 5 IE-RL erteilt wurde
      </app-tooltip></label
    >
    <textarea
      clrTextarea
      formControlName="durchsetzungsmassnahmen"
      placeholder="Durchsetzungsmaßnahmen"
      rows="2"
      class="input-full-width"
    ></textarea>
    <clr-control-error *clrIfError="'maxlength'; error as err">
      (max. Länge {{ err.requiredLength }})
    </clr-control-error>
  </clr-textarea-container>
</form>
