<div class="clr-row">
  <div
    class="clr-col-12 clr-col-xl-6 clr-offset-xl-3 clr-col-lg-8 clr-offset-lg-2"
  >
    <button
      class="btn btn-link btn-sm"
      (click)="navigateBack()"
      data-cy="back-to-liste-btn"
    >
      < Zur Behörden-Übersicht
    </button>
    <div class="card m-0">
      <div class="card-header actionbar">
        <div>
          Behörde
          <ng-container *ngIf="isNeu; else name"> hinzufügen </ng-container>
          <ng-template #name>
            {{ displayName }}
          </ng-template>
        </div>
        <div class="btn-group list-action-buttons">
          <button
            *ngIf="canWrite"
            (click)="reset()"
            class="btn btn-sm btn-secondary-outline"
            [disabled]="form.pristine"
          >
            <cds-icon shape="times" aria-hidden="true"></cds-icon>
            Verwerfen
          </button>
          <button
            *ngIf="canWrite"
            (click)="save()"
            class="btn btn-sm btn-primary"
            [disabled]="form.pristine"
            data-cy="save-btn"
          >
            <cds-icon shape="floppy" aria-hidden="true"></cds-icon>
            Speichern
          </button>
        </div>
      </div>
      <div class="card-block">
        <clr-alert
          *ngIf="alert"
          [clrAlertType]="'danger'"
          [clrAlertIcon]="'danger'"
        >
          <clr-alert-item>{{ alert }}</clr-alert-item>
        </clr-alert>
        <clr-tabs>
          <clr-tab>
            <button clrTabLink id="allgemein" data-cy="allgemein-tab">
              Allgemein
              <cds-icon
                class="is-error"
                *ngIf="allgemeinForm.invalid"
                shape="error-standard"
                status="danger"
                aria-label="Validierungsfehler"
              ></cds-icon>
            </button>
            <clr-tab-content *clrIfActive="true">
              <app-behoerde-allgemein
                [form]="allgemeinForm"
                [saveAttempt]="saveAttempt"
                [isNeu]="isNeu"
              ></app-behoerde-allgemein>
            </clr-tab-content>
          </clr-tab>
          <clr-tab>
            <button clrTabLink id="adresse" data-cy="adresse-tab">
              Adresse
              <cds-icon
                class="is-error"
                *ngIf="adresseForm.invalid"
                shape="error-standard"
                status="danger"
                aria-label="Validierungsfehler"
              ></cds-icon>
            </button>
            <clr-tab-content *clrIfActive>
              <app-adresse
                [form]="adresseForm"
                [saveAttempt]="saveAttempt"
                [isoCodes]="isoCodes"
                [vertraulichkeitsgruende]="vertraulichkeitsgruende"
              ></app-adresse>
            </clr-tab-content>
          </clr-tab>
          <clr-tab>
            <button clrTabLink id="kommunikation" data-cy="kommunikation-tab">
              Kommunikation
              <cds-icon
                class="is-error"
                *ngIf="kommunikationForm.invalid"
                shape="error-standard"
                status="danger"
                aria-label="Validierungsfehler"
              ></cds-icon>
            </button>
            <clr-tab-content *clrIfActive>
              <app-kommunikation
                [formArray]="kommunikationForm"
                [kommunikationsTypen]="kommunikationsTypen"
              ></app-kommunikation>
            </clr-tab-content>
          </clr-tab>
        </clr-tabs>
      </div>
      <div class="card-footer">
        <div *ngIf="behoerde?.letzteAenderung" class="footer-font">
          letzte Änderung am:
          <em>{{ behoerde?.letzteAenderung | date: "short" }}</em> | Land:
          <em>{{ displayLand }}</em>
        </div>
      </div>
    </div>
  </div>
</div>
