<div class="clr-row">
  <div class="clr-col-lg-8 clr-col-12">
    <app-anlagen-bericht-details></app-anlagen-bericht-details>
  </div>
  <div class="clr-col-lg-4 clr-col-12">
    <app-anlagen-bericht-stammdaten-info></app-anlagen-bericht-stammdaten-info>
  </div>
</div>
