<div class="card m-0">
  <div class="card-header actionbar">
    <div>
      <cds-icon shape="view-list"></cds-icon>
      Referenzlisten
    </div>
    <div class="buttons">
      <div class="btn-group">
        <button
          class="btn btn-sm btn-secondary"
          (click)="alleMarkieren()"
          title="Alle Referenzlisten markieren (gesamte Liste)"
          aria-label="Alle Referenzlisten markieren (gesamte Liste)"
        >
          <cds-icon shape="check" aria-hidden="true"></cds-icon>
          Alle
        </button>
        <button
          class="btn btn-sm btn-secondary"
          (click)="markierungAufheben()"
          [disabled]="hatMarkierung()"
          title="Markierungen aufheben"
          aria-label="Markierungen aufheben"
        >
          <cds-icon shape="times" aria-hidden="true"></cds-icon>
          aufheben
        </button>
      </div>

      <div class="btn-group">
        <clr-dropdown>
          <button
            type="button"
            class="btn btn-sm btn-secondary"
            clrDropdownTrigger
          >
            Aufgaben
            <cds-icon shape="angle" direction="down"></cds-icon>
          </button>
          <clr-dropdown-menu clrPosition="bottom-left" *clrIfOpen>
            <button
              class="btn btn-sm btn-secondary"
              *ngIf="canImport"
              (click)="referenzdatenImportModalOpen = true"
              clrDropdownItem
            >
              XML-Import
            </button>
            <button
              class="btn btn-sm btn-secondary"
              [disabled]="hatMarkierung()"
              clrDropdownItem
              (click)="openExportDialog()"
            >
              XML-Export
            </button>
          </clr-dropdown-menu>
        </clr-dropdown>
      </div>
    </div>
  </div>

  <div class="card-block pt-0 pb-4">
    <clr-datagrid [(clrDgSelected)]="selected" class="datagrid-compact">
      <clr-dg-column [clrDgField]="'name'" [clrDgSortOrder]="SortOrder.ASC"
        >Name
      </clr-dg-column>
      <clr-dg-column [clrDgField]="'ktext'">Bezeichnung</clr-dg-column>
      <clr-dg-column [clrDgField]="'ltext'">Inhalt</clr-dg-column>
      <clr-dg-column [clrDgField]="'bundeseinheitlich'" data-cy="bund-land-col">
        Bund/Land
        <clr-dg-filter [clrDgFilter]="bundLandFilter">
          <app-bund-land-filter
            #bundLandFilter
            data-cy="bund-land-filter"
          ></app-bund-land-filter>
        </clr-dg-filter>
      </clr-dg-column>
      <clr-dg-column>Aktionen</clr-dg-column>
      <clr-dg-placeholder>Keine Ergebnisse gefunden</clr-dg-placeholder>
      <clr-dg-row
        data-cy="referenzlisten-row"
        *clrDgItems="let liste of referenzlistenListe"
        [clrDgItem]="liste"
      >
        <clr-dg-cell>{{ liste.name }}</clr-dg-cell>
        <clr-dg-cell>{{ liste.ktext }}</clr-dg-cell>
        <clr-dg-cell>{{ liste.ltext }}</clr-dg-cell>
        <clr-dg-cell>{{
          getTextBundeseinheitlich(liste.bundeseinheitlich)
        }}</clr-dg-cell>
        <clr-dg-cell>
          <button
            class="btn btn-icon btn-primary-outline"
            [routerLink]="['./liste', liste.name]"
            aria-label="Referenzliste öffnen"
            title="Referenzliste öffnen"
          >
            <cds-icon shape="eye" aria-hidden="true"></cds-icon>
          </button>
        </clr-dg-cell>
      </clr-dg-row>

      <clr-dg-footer></clr-dg-footer>
    </clr-datagrid>
  </div>
</div>

<clr-modal [(clrModalOpen)]="exportDialogOpen" [clrModalClosable]="false">
  <h3 class="modal-title">Referenzdaten XML-Export</h3>
  <div class="modal-body">
    Soll der XML-Export von {{ selected.length }} Referenzliste{{
      selected.length > 1 ? "n" : ""
    }}
    gestartet werden?
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-secondary"
      (click)="closeExportDialog()"
    >
      Abbrechen
    </button>
    <button type="button" class="btn btn-primary" (click)="startExport()">
      Export starten
    </button>
  </div>
</clr-modal>

<app-import-modal
  [(open)]="referenzdatenImportModalOpen"
  title="Referenzdaten Importieren"
  [importService]="referenzdatenImportAdapter"
>
</app-import-modal>
