<clr-checkbox-wrapper>
  <input
    type="checkbox"
    clrCheckbox
    name="bundeseinheitlich"
    required
    [(ngModel)]="bundChecked"
    (ngModelChange)="selectedOptionsChanged()"
  />
  <label>bundeseinheitlich</label>
</clr-checkbox-wrapper>
<clr-checkbox-wrapper>
  <input
    type="checkbox"
    clrCheckbox
    name="länderspezifisch"
    required
    [(ngModel)]="landChecked"
    (ngModelChange)="selectedOptionsChanged()"
  />
  <label>länderspezifisch</label>
</clr-checkbox-wrapper>
