<div class="content-container">
  <div class="content-area clr-row mr-1">
    <app-berichtsjahr class="clr-col-1 pt-1 pl-3"></app-berichtsjahr>
    <div class="card clr-col-11 mt-1">
      <div class="card-header actionbar">
        <div>
          <cds-icon shape="host-group"></cds-icon>
          XEUR Teilberichte
        </div>
      </div>
      <div class="card-block">
        <clr-datagrid>
          <clr-dg-column
            clrDgField="ersteErfassung"
            [clrDgSortOrder]="SortOrder.DESC"
          >
            Erstellungsdatum
          </clr-dg-column>
          <clr-dg-column clrDgField="land"> Land</clr-dg-column>
          <clr-dg-column clrDgField="abgabefaehig">
            Abgabefähig
            <clr-dg-filter>
              <app-datagrid-boolean-filter
                property="abgabefaehig"
              ></app-datagrid-boolean-filter>
            </clr-dg-filter>
          </clr-dg-column>
          <clr-dg-column clrDgField="freigegeben">
            Freigegeben
            <clr-dg-filter>
              <app-datagrid-boolean-filter
                property="freigegeben"
              ></app-datagrid-boolean-filter>
            </clr-dg-filter>
          </clr-dg-column>
          <clr-dg-column>Aktionen</clr-dg-column>
          <clr-dg-placeholder>Keine Ergebnisse gefunden</clr-dg-placeholder>
          <clr-dg-row
            *clrDgItems="let xeurTeilbericht of xeurBerichtListe"
            [clrDgItem]="xeurTeilbericht"
          >
            <clr-dg-cell>{{
              xeurTeilbericht.ersteErfassung | date: "short"
            }}</clr-dg-cell>
            <clr-dg-cell>{{ xeurTeilbericht.land }}</clr-dg-cell>
            <clr-dg-cell>{{
              xeurTeilbericht.abgabefaehig ? "Ja" : "Nein"
            }}</clr-dg-cell>
            <clr-dg-cell>{{
              xeurTeilbericht.freigegeben ? "Ja" : "Nein"
            }}</clr-dg-cell>
            <clr-dg-cell>
              <button
                class="btn btn-icon btn-primary-outline"
                aria-label="Herunterladen"
                title="Herunterladen"
                (click)="downloadTeilbericht(xeurTeilbericht)"
              >
                <cds-icon shape="download" aria-hidden="true"></cds-icon>
              </button>
              <button
                *ngIf="canWrite"
                [disabled]="
                  !(
                    xeurTeilbericht.abgabefaehig && !xeurTeilbericht.freigegeben
                  )
                "
                class="btn btn-icon btn-primary-outline"
                aria-label="Freigeben"
                title="Freigeben"
                (click)="selectedTeilbericht = xeurTeilbericht"
              >
                <cds-icon shape="check" aria-hidden="true"></cds-icon>
              </button>
            </clr-dg-cell>
          </clr-dg-row>

          <clr-dg-footer>
            <clr-dg-pagination
              #pagination
              [clrDgPageSize]="10"
              [clrDgTotalItems]="xeurBerichtListe.length"
            >
              <clr-dg-page-size [clrPageSizeOptions]="[10, 20, 50, 500]">
                Berichte pro Seite
              </clr-dg-page-size>
              {{ pagination.firstItem + 1 }} - {{ pagination.lastItem + 1 }} von
              {{ pagination.totalItems }} Berichten
            </clr-dg-pagination>
          </clr-dg-footer>
        </clr-datagrid>
      </div>
    </div>
  </div>
</div>

<clr-modal
  [(clrModalOpen)]="selectedTeilbericht"
  clrModalSize="m"
  [clrModalClosable]="false"
>
  <h3 class="modal-title">Teilbericht Freigeben?</h3>
  <div class="modal-body">
    <p>Die Freigabe des Länderteilberichts an das UBA wird erteilt!</p>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline"
      (click)="selectedTeilbericht = null"
    >
      Abbrechen
    </button>
    <button
      type="button"
      class="btn btn-primary"
      (click)="teilberichtFreigeben()"
    >
      Freigeben
    </button>
  </div>
</clr-modal>
