<button class="btn btn-link btn-sm" (click)="navigateBackToUebersicht()">
  < Zurück zur Übersicht
</button>
<div class="clr-row">
  <div class="clr-col-lg-8 clr-col-12">
    <!-- Betriebsstätten Details -->
    <app-spb-betriebsstaette-details></app-spb-betriebsstaette-details>
    <!-- Anlagen Liste -->
    <app-spb-anlagen-liste></app-spb-anlagen-liste>
    <!-- Quellen Liste -->
    <app-spb-quellen-liste *ngIf="quellenDisplay"></app-spb-quellen-liste>
  </div>

  <div class="clr-col-lg-4 clr-col-12">
    <!-- Betreiber Karte -->
    <app-spb-betreiber-details></app-spb-betreiber-details>
  </div>
</div>
