<form clrForm [formGroup]="form" [clrLabelSize]="3">
  <span class="clr-sr-only">
    Durch das Durchtabben dieses Formulars werden Validierungshinweise
    vorgelesen.
  </span>

  <clr-input-container>
    <label>
      Nummer
      <app-tooltip>{{ nummerTooltip }}</app-tooltip>
    </label>
    <input
      clrInput
      type="text"
      placeholder="Nummer"
      formControlName="anlageNr"
      required
      data-cy="anlageNr"
      class="input-full-width"
    />
    <clr-control-error>Nummer wird benötigt (max. Länge 20)</clr-control-error>
  </clr-input-container>

  <clr-input-container>
    <label>
      Local-ID
      <app-tooltip>
        Local ID für InspireId eines fallweise generierten Objektes
        ProductionInstallation oder ProductionInstallationPart
      </app-tooltip>
    </label>
    <input
      clrInput
      type="text"
      placeholder="Local-ID"
      formControlName="localId"
      class="input-full-width"
    />
    <clr-control-error>(max. Länge 40)</clr-control-error>
  </clr-input-container>

  <clr-input-container>
    <label>Name</label>
    <input
      clrInput
      type="text"
      placeholder="Name"
      formControlName="name"
      required
      class="input-full-width"
      data-cy="anlageName"
    />
    <clr-control-error>Name wird benötigt (max. Länge 120)</clr-control-error>
  </clr-input-container>

  <clr-date-container>
    <label>Inbetriebnahme</label>
    <input type="date" clrDate formControlName="inbetriebnahme" />
    <clr-control-error *clrIfError="'date'"
      >Bitte gültiges Datum eingeben.
    </clr-control-error>
  </clr-date-container>

  <clr-select-container>
    <label>Betriebsstatus</label>
    <app-referenz-select
      clrSelect
      [referenzliste]="betriebsstatusListe.values"
      formControlName="betriebsstatus"
    ></app-referenz-select>
    <clr-control-error *clrIfError="'invalidReference'; error as error">
      Es wurden ungültige Referenzen gefunden: {{ error.ktext }}
    </clr-control-error>
  </clr-select-container>

  <clr-date-container>
    <label
      >Seit
      <app-tooltip>Datum der letzten Änderung des Betriebsstatus</app-tooltip>
    </label>
    <input
      type="date"
      clrDate
      formControlName="betriebsstatusSeit"
      [max]="today"
    />
    <clr-control-error *clrIfError="'date'"
      >Bitte gültiges Datum eingeben.
    </clr-control-error>
  </clr-date-container>

  <app-geo-punkt
    [form]="geoPunktForm"
    [epsgCodeListe]="epsgCodeListe"
  ></app-geo-punkt>

  <clr-select-container>
    <label>Vertraulichkeitsgrund</label>
    <app-referenz-select
      clrSelect
      [referenzliste]="vertraulichkeitsgrundListe.values"
      formControlName="vertraulichkeitsgrund"
    ></app-referenz-select>
    <clr-control-error *clrIfError="'invalidReference'; error as error">
      Es wurden ungültige Referenzen gefunden: {{ error.ktext }}
    </clr-control-error>
  </clr-select-container>

  <clr-textarea-container class="input-full-width">
    <label>Bemerkung</label>
    <textarea
      clrTextarea
      formControlName="bemerkung"
      placeholder="Bemerkungen"
      rows="2"
    ></textarea>
    <clr-control-error>(max. Länge 1000)</clr-control-error>
  </clr-textarea-container>
</form>
