<div class="card">
  <div class="card-header actionbar">
    <div>
      <cds-icon shape="factory"></cds-icon>
      Anlagenteile
    </div>
    <div class="list-action-buttons">
      <button
        type="button"
        class="btn btn-sm btn-secondary"
        [routerLink]="['anlagenteil', 'neu']"
        data-cy="createAnlagenteil"
        [disabled]="schreibsperreBetreiber"
      >
        <cds-icon shape="plus" aria-hidden="true"></cds-icon>
        Anlagenteil hinzufügen
      </button>
    </div>
  </div>
  <div class="card-block pt-0 pb-4">
    <clr-datagrid class="datagrid-compact">
      <clr-dg-column [clrDgField]="'anlageNr'" [clrDgSortOrder]="SortOrder.ASC"
        >Anlagenteil-Nr.
      </clr-dg-column>
      <clr-dg-column [clrDgField]="'name'">Name</clr-dg-column>
      <clr-dg-column [clrDgField]="'betriebsstatus'"
        >Betriebsstatus
      </clr-dg-column>
      <clr-dg-column>SPB Status</clr-dg-column>
      <clr-dg-column>Aktionen</clr-dg-column>
      <clr-dg-placeholder>Keine Ergebnisse gefunden</clr-dg-placeholder>
      <clr-dg-row
        *clrDgItems="let spbAnlagenteil of spbAnlagenteile"
        [clrDgItem]="spbAnlagenteil"
        data-cy="anlagenteilRow"
      >
        <clr-dg-cell>{{ spbAnlagenteil.anlagenteilNr }}</clr-dg-cell>
        <clr-dg-cell>{{ spbAnlagenteil.name }}</clr-dg-cell>
        <clr-dg-cell>{{ spbAnlagenteil.betriebsstatus }}</clr-dg-cell>
        <clr-dg-cell>{{ getSpbStatus(spbAnlagenteil) }}</clr-dg-cell>
        <clr-dg-cell>
          <button
            class="btn btn-icon btn-primary-outline"
            [routerLink]="[
              'anlagenteil',
              'nummer',
              spbAnlagenteil.anlagenteilNr
            ]"
            aria-label="Anlagenteil öffnen"
            title="Anlagenteil öffnen"
            [attr.data-cy]="'openAnlagenteil' + spbAnlagenteil.anlagenteilNr"
          >
            <cds-icon shape="eye" aria-hidden="true"></cds-icon>
          </button>
          <button
            *ngIf="spbAnlagenteil.spbAnlagenteilId != null"
            class="btn btn-icon btn-primary-outline"
            (click)="openLoeschenDialog(spbAnlagenteil)"
            aria-label="Auf Behördenzustand zurücksetzen"
            title="Auf Behördenzustand zurücksetzen"
            [disabled]="schreibsperreBetreiber"
          >
            <cds-icon shape="undo" aria-hidden="true"></cds-icon>
          </button>
        </clr-dg-cell>
      </clr-dg-row>

      <clr-dg-footer>
        <clr-dg-pagination
          #pagination
          [clrDgPageSize]="10"
          [clrDgTotalItems]="spbAnlagenteile?.length"
        >
          <clr-dg-page-size [clrPageSizeOptions]="[10, 20, 50, 100]"
            >Anlagenteile pro Seite
          </clr-dg-page-size>
          {{ pagination.firstItem + 1 }} - {{ pagination.lastItem + 1 }} von
          {{ pagination.totalItems }} Anlagenteilen
        </clr-dg-pagination>
      </clr-dg-footer>
    </clr-datagrid>
  </div>
</div>

<clr-modal [(clrModalOpen)]="loeschenDialog" [clrModalClosable]="false">
  <h3 class="modal-title">
    {{
      spbAnlagenteilForDelete?.anlagenteilVorhanden
        ? "Änderungen Löschen?"
        : "Anlagenteil Löschen?"
    }}
  </h3>
  <div class="modal-body">
    <p>
      {{
        spbAnlagenteilForDelete?.anlagenteilVorhanden
          ? "Es werden alle Änderungen des Betreibers am Anlagenteil gelöscht!"
          : "Es werden alle Daten des Anlagenteils gelöscht!"
      }}
    </p>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline"
      (click)="closeLoeschenDialog()"
    >
      Abbrechen
    </button>
    <button
      *ngIf="spbAnlagenteilForDelete"
      type="button"
      class="btn btn-warning"
      (click)="deleteAnlagenteil()"
    >
      Löschen
    </button>
  </div>
</clr-modal>
