<nav class="subnav">
  <ul class="nav">
    <li class="nav-item">
      <a routerLink="referenzlisten" routerLinkActive="active" class="nav-link">
        Referenzlisten
      </a>
    </li>
    <li *ngIf="canSeeBehoerden" class="nav-item">
      <a routerLink="behoerden" routerLinkActive="active" class="nav-link">
        Behörden
      </a>
    </li>
    <li class="nav-item">
      <a routerLink="parameter" routerLinkActive="active" class="nav-link">
        Parameter
      </a>
    </li>
  </ul>
</nav>
<div class="content-container">
  <div class="content-area">
    <router-outlet></router-outlet>
  </div>
</div>
