* {
  font-family: Metropolis, "Avenir Next", "Helvetica Neue", Arial, sans-serif
}

code {
  font-family: monospace, monospace;
}

.hinweis:before {
  content: "\26A0";
  font-size: larger;
  padding-right: 15px;
}

.hinweis {
  background-color: lightyellow;
  padding: 15px;
}

.beispiel:before {
  content: "Beispiel:";
  padding-right: 15px;
}

.beispiel {
  background-color: #bbeebb;
  padding: 15px;
}

th.top {
  background-color: #101010;
  color: white;
  font-size: x-large;
  padding: 15px;
}

th {
  background-color: #404040;
  color: white;
  padding: 5px;
}

tr:nth-child(even) td {
  background-color: #dddddd;
}

tr:nth-child(odd) td {
  background-color: #f8f8f8;
}
