<section class="pb-4">
  <clr-datagrid
    class="datagrid-compact"
    *ngIf="formArray.length > 0; else keineDaten"
  >
    <clr-dg-column>Vorschrift</clr-dg-column>
    <clr-dg-column>Tätigkeiten mit Haupttätigkeit (in fett)</clr-dg-column>
    <clr-dg-column>Aktion</clr-dg-column>
    <clr-dg-row
      *clrDgItems="let vorschriftenControl of formArray.controls; index as i"
    >
      <clr-dg-cell>
        <cds-icon
          class="is-error"
          *ngIf="vorschriftenControl.invalid"
          shape="error-standard"
          status="danger"
          aria-label="Validierungsfehler"
        ></cds-icon>
        {{ vorschriftenControl.value.art.ktext }}
      </clr-dg-cell>
      <clr-dg-cell>
        <div *ngIf="vorschriftenControl.value.haupttaetigkeit">
          <strong>{{ vorschriftenControl.value.haupttaetigkeit?.ktext }}</strong
          ><br />
        </div>
        <div
          [class.taetigkeit]="vorschriftenControl.value.taetigkeiten"
          *ngFor="let taetigkeit of vorschriftenControl.value.taetigkeiten"
        >
          <li>{{ taetigkeit.ktext }}</li>
        </div>
      </clr-dg-cell>
      <clr-dg-cell>
        <button
          class="btn btn-icon btn-primary-outline"
          aria-label="Bearbeiten"
          (click)="bearbeiten(i)"
          [disabled]="
            !canHaveTaetigkeiten(vorschriftenControl.value) || !canWrite
          "
        >
          <cds-icon shape="note"></cds-icon>
        </button>
        <button
          *ngIf="canDelete"
          class="btn btn-icon btn-primary-outline"
          aria-label="Löschen"
          title="Löschen"
          (click)="loeschen(i)"
        >
          <cds-icon shape="trash" aria-hidden="true"></cds-icon>
        </button>
      </clr-dg-cell>
    </clr-dg-row>
  </clr-datagrid>
  <section class="pt-2">
    <clr-dropdown *ngIf="canWrite">
      <button class="btn btn-secondary-outline" clrDropdownTrigger>
        <cds-icon shape="plus"></cds-icon>
        Neu
        <cds-icon shape="angle" direction="down"></cds-icon>
      </button>
      <clr-dropdown-menu clrPosition="bottom-left" *clrIfOpen>
        <label class="dropdown-header" aria-hidden="true">
          Vorschrift hinzufügen
        </label>
        <div class="dropdown-divider" role="separator" aria-hidden="true"></div>
        <div
          *ngFor="let vorschrift of neueVorschriften"
          (click)="neueVorschrift(vorschrift)"
          clrDropdownItem
        >
          {{ vorschrift.ktext }}
        </div>
      </clr-dropdown-menu>
    </clr-dropdown>
  </section>
</section>

<ng-template #keineDaten>
  <div class="pt-5">
    Keine Vorschriften vorhanden.
    {{
      canWrite ? 'Klicken Sie auf das "+", um Vorschriften hinzuzufügen.' : ""
    }}
  </div>
</ng-template>

<!-- BEARBEITEN MODAL -->
<clr-modal
  *ngIf="vorschriftenForm"
  [(clrModalOpen)]="editModalOpen"
  [clrModalClosable]="false"
>
  <h3 class="modal-title">Vorschrift {{ vorschriftenForm.value.art.ktext }}</h3>
  <div class="modal-body">
    <form
      clrForm
      clrLayout="vertical"
      [formGroup]="vorschriftenForm"
      class="pb-3"
    >
      <span>Tätigkeiten hinzufügen</span>
      <span class="clr-sr-only">
        Durch das Durchtabben dieses Formulars werden Validierungshinweise
        vorgelesen.
      </span>

      <clr-combobox-container>
        <label>Tätigkeiten</label>
        <clr-combobox
          formControlName="taetigkeiten"
          clrMulti="true"
          (ngModelChange)="onTaetigkeitenChanged()"
        >
          <ng-container *clrOptionSelected="let selected">
            {{ selected.ktext | ellipsize: 70 }}
          </ng-container>
          <clr-options>
            <clr-option
              *clrOptionItems="
                let taetigkeit of possibleTaetigkeiten(vorschriftenForm.value);
                field: 'ktext'
              "
              [clrValue]="taetigkeit"
            >
              {{ taetigkeit.ktext | ellipsize: 70 }}
            </clr-option>
            <clr-control-error *clrIfError="'invalidReference'; error as error">
              Es wurden ungültige Referenzen gefunden: {{ error.ktext }}
            </clr-control-error>
          </clr-options>
        </clr-combobox>
        <clr-control-error *clrIfError="'invalidReferences'; error as error">
          Es wurden ungültige Referenzen gefunden:
          {{ joinInvalidReferences(error) }}
        </clr-control-error>
      </clr-combobox-container>
      <clr-select-container>
        <label>Haupttätigkeit</label>
        <!-- Standardselect wird wegen der Change-Detection genutzt,
         da die Select Componente nicht korrekt updated -->
        <app-referenz-select
          clrSelect
          formControlName="haupttaetigkeit"
          [referenzliste]="vorschriftenForm.value.taetigkeiten"
        >
        </app-referenz-select>
        <clr-control-error *clrIfError="'invalidReference'; error as error">
          Es wurden ungültige Referenzen gefunden: {{ error.ktext }}
        </clr-control-error>
      </clr-select-container>
    </form>
  </div>
  <div class="modal-footer">
    <button class="btn btn-outline" type="button" (click)="abbrechen()">
      Abbrechen
    </button>
    <button class="btn btn-primary" type="button" (click)="uebernehmen()">
      Übernehmen
    </button>
  </div>
</clr-modal>
