<clr-checkbox-wrapper>
  <input
    type="checkbox"
    clrCheckbox
    [(ngModel)]="trueSelected"
    (ngModelChange)="changes.next()"
  />
  <label>{{ trueLabel || "Ja" }}</label>
</clr-checkbox-wrapper>
<clr-checkbox-wrapper>
  <input
    type="checkbox"
    clrCheckbox
    [(ngModel)]="falseSelected"
    (ngModelChange)="changes.next()"
  />
  <label>{{ falseLabel || "Nein" }}</label>
</clr-checkbox-wrapper>
