<div class="card">
  <div class="card-header actionbar">
    <div>
      <cds-icon shape="cloud"></cds-icon>
      Quellen
    </div>
  </div>
  <div class="card-block pt-0 pb-4">
    <clr-datagrid class="datagrid-compact">
      <clr-dg-column [clrDgField]="'quelleNr'" [clrDgSortOrder]="SortOrder.ASC"
        >Quellen-Nr.
      </clr-dg-column>
      <clr-dg-column [clrDgField]="'name'">Name</clr-dg-column>
      <clr-dg-column>Aktionen</clr-dg-column>
      <clr-dg-placeholder>Keine Ergebnisse gefunden</clr-dg-placeholder>
      <clr-dg-row *clrDgItems="let quelle of quellenListe" [clrDgItem]="quelle">
        <clr-dg-cell>{{ quelle.quelleNr }}</clr-dg-cell>
        <clr-dg-cell>{{ quelle.name }}</clr-dg-cell>
        <clr-dg-cell>
          <button
            class="btn btn-icon btn-primary-outline"
            aria-label="Quelle übernehmen"
            title="Quelle übernehmen"
            (click)="uebernehmen(quelle)"
          >
            <cds-icon shape="import" aria-hidden="true"></cds-icon>
          </button>
        </clr-dg-cell>
      </clr-dg-row>

      <clr-dg-footer>
        <clr-dg-pagination
          #pagination
          [clrDgPageSize]="10"
          [clrDgTotalItems]="quellenListe?.length"
        >
          <clr-dg-page-size [clrPageSizeOptions]="[10, 20, 50, 100]"
            >Quellen pro Seite
          </clr-dg-page-size>
          {{ pagination.firstItem + 1 }} - {{ pagination.lastItem + 1 }} von
          {{ pagination.totalItems }} Quellen
        </clr-dg-pagination>
      </clr-dg-footer>
    </clr-datagrid>
  </div>
</div>
