<div class="card">
  <div class="card-header actionbar">
    <div>
      <cds-icon shape="factory"></cds-icon>
      Anlagen
    </div>
    <div class="list-action-buttons">
      <button
        type="button"
        class="btn btn-sm btn-secondary"
        [routerLink]="['anlage', 'neu']"
        [disabled]="spbBetriebsstaette.schreibsperreBetreiber"
        data-cy="createAnlage"
      >
        <cds-icon shape="plus" aria-hidden="true"></cds-icon>
        Anlage hinzufügen
      </button>
    </div>
  </div>
  <div class="card-block pt-0 pb-4">
    <clr-datagrid class="datagrid-compact">
      <clr-dg-column [clrDgField]="'anlageNr'" [clrDgSortOrder]="SortOrder.ASC"
        >Anlagen-Nr.
      </clr-dg-column>
      <clr-dg-column [clrDgField]="'name'">Name</clr-dg-column>
      <clr-dg-column [clrDgField]="'betriebsstatus'"
        >Betriebsstatus
      </clr-dg-column>
      <clr-dg-column>SPB Status</clr-dg-column>
      <clr-dg-column>Aktionen</clr-dg-column>
      <clr-dg-placeholder>Keine Ergebnisse gefunden</clr-dg-placeholder>
      <clr-dg-row
        *clrDgItems="let spbAnlage of spbAnlagen"
        [clrDgItem]="spbAnlage"
        data-cy="anlageRow"
      >
        <clr-dg-cell>{{ spbAnlage.anlageNr }}</clr-dg-cell>
        <clr-dg-cell>{{ spbAnlage.name }}</clr-dg-cell>
        <clr-dg-cell>{{ spbAnlage.betriebsstatus }}</clr-dg-cell>
        <clr-dg-cell>{{ getSpbStatus(spbAnlage) }}</clr-dg-cell>
        <clr-dg-cell>
          <button
            class="btn btn-icon btn-primary-outline"
            [routerLink]="['anlage', 'nummer', spbAnlage.anlageNr]"
            aria-label="Anlage öffnen"
            title="Anlage öffnen"
            [attr.data-cy]="'openAnlage' + spbAnlage.anlageNr"
          >
            <cds-icon shape="eye" aria-hidden="true"></cds-icon>
          </button>
          <button
            *ngIf="spbAnlage.spbAnlageId != null"
            class="btn btn-icon btn-primary-outline"
            (click)="openLoeschenDialog(spbAnlage)"
            aria-label="Auf Behördenzustand zurücksetzen"
            title="Auf Behördenzustand zurücksetzen"
            [disabled]="spbBetriebsstaette.schreibsperreBetreiber"
          >
            <cds-icon shape="undo" aria-hidden="true"></cds-icon>
          </button>
        </clr-dg-cell>
      </clr-dg-row>

      <clr-dg-footer>
        <clr-dg-pagination
          #pagination
          [clrDgPageSize]="10"
          [clrDgTotalItems]="spbAnlagen?.length"
        >
          <clr-dg-page-size [clrPageSizeOptions]="[10, 20, 50, 100]"
            >Anlagen pro Seite
          </clr-dg-page-size>
          {{ pagination.firstItem + 1 }} - {{ pagination.lastItem + 1 }} von
          {{ pagination.totalItems }} Anlagen
        </clr-dg-pagination>
      </clr-dg-footer>
    </clr-datagrid>
  </div>
</div>

<clr-modal [(clrModalOpen)]="loeschenDialog" [clrModalClosable]="false">
  <h3 class="modal-title">
    {{
      spbAnlageForDelete?.anlageVorhanden
        ? "Änderungen Löschen?"
        : "Anlage Löschen?"
    }}
  </h3>
  <div class="modal-body">
    <p>
      {{
        spbAnlageForDelete?.anlageVorhanden
          ? "Es werden alle Änderungen des Betreibers an der Anlage einschließlich Kindobjekte gelöscht!"
          : "Es werden alle Daten der Anlage einschließlich Kindobjekte gelöscht!"
      }}
    </p>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline"
      (click)="closeLoeschenDialog()"
    >
      Abbrechen
    </button>
    <button
      *ngIf="spbAnlageForDelete"
      type="button"
      class="btn btn-warning"
      (click)="deleteAnlage()"
    >
      Löschen
    </button>
  </div>
</clr-modal>
