<div class="card m-0">
  <div class="card-header actionbar">
    <div>
      <cds-icon shape="users"></cds-icon>
      Behördenbenutzer
    </div>
    <div class="buttons">
      <div class="btn-group">
        <button
          class="btn btn-sm btn-secondary"
          (click)="alleMarkieren()"
          title="Alle Behördenbenutzer markieren (gesamte Liste)"
          aria-label="Alle Behördenbenutzer markieren (gesamte Liste)"
        >
          <cds-icon shape="check" aria-hidden="true"></cds-icon>
          Alle
        </button>
        <button
          class="btn btn-sm btn-secondary"
          (click)="markierungAufheben()"
          [disabled]="nothingSelected"
          title="Markierungen aufheben"
          aria-label="Markierungen aufheben"
        >
          <cds-icon shape="times" aria-hidden="true"></cds-icon>
          aufheben
        </button>
      </div>
      <div class="list-action-buttons">
        <button
          *ngIf="canDelete"
          class="btn btn-sm btn-secondary"
          (click)="openMarkierteLoeschenDialog()"
          [disabled]="!canDeleteSelection"
          title="Markierte Benutzer löschen"
        >
          <cds-icon shape="trash" aria-hidden="true"></cds-icon>
          Löschen
        </button>
        <button
          *ngIf="canWrite"
          type="button"
          class="btn btn-sm btn-primary"
          [routerLink]="['neu']"
          data-cy="createBehoerdenbenutzerBtn"
        >
          <cds-icon shape="plus" aria-hidden="true"></cds-icon>
          Benutzer hinzufügen
        </button>
      </div>
    </div>
  </div>

  <div class="card-block pt-0 pb-4">
    <clr-datagrid [(clrDgSelected)]="selected" class="datagrid-compact">
      <clr-dg-column
        [clrDgField]="'benutzername'"
        [clrDgSortOrder]="SortOrder.ASC"
        >Benutzerkennung
      </clr-dg-column>
      <clr-dg-column [clrDgField]="'nachname'">Nachname</clr-dg-column>
      <clr-dg-column [clrDgField]="'vorname'">Vorname</clr-dg-column>
      <clr-dg-column [clrDgField]="'aktiv'"
        >Aktivierung
        <clr-dg-filter [clrDgFilter]="aktivFilter">
          <app-benutzer-aktiv-filter #aktivFilter></app-benutzer-aktiv-filter>
        </clr-dg-filter>
      </clr-dg-column>
      <clr-dg-column [clrDgField]="'datenberechtigung.land'"
        >Land
      </clr-dg-column>
      <clr-dg-column [clrDgField]="'datenberechtigung.behoerden'"
        >Behörden
        <clr-dg-filter [clrDgFilter]="behoerdeFilter">
          <app-behoerde-filter
            [options]="behoerden"
            #behoerdeFilter
          ></app-behoerde-filter>
        </clr-dg-filter>
      </clr-dg-column>
      <clr-dg-column [clrDgField]="'datenberechtigung.akz'">AKZ</clr-dg-column>
      <clr-dg-column [clrDgField]="'datenberechtigung.verwaltungsgebiete'"
        >Verwaltungsgebiete
      </clr-dg-column>
      <clr-dg-column [clrDgField]="'datenberechtigung.betriebsstaetten'"
        >Betriebsstätten
      </clr-dg-column>
      <clr-dg-column [clrDgField]="'zugewieseneRollen'">Rollen</clr-dg-column>
      <clr-dg-column>Aktionen</clr-dg-column>
      <clr-dg-placeholder>Keine Ergebnisse gefunden</clr-dg-placeholder>
      <clr-dg-row
        *clrDgItems="let benutzer of benutzerListe"
        [clrDgItem]="benutzer"
        data-cy="behoerdenbenutzerRow"
      >
        <clr-dg-cell>{{ benutzer.benutzername }}</clr-dg-cell>
        <clr-dg-cell>{{ benutzer.nachname }}</clr-dg-cell>
        <clr-dg-cell>{{ benutzer.vorname }}</clr-dg-cell>
        <clr-dg-cell>{{ getAktiv(benutzer) }}</clr-dg-cell>
        <clr-dg-cell>{{ benutzer.datenberechtigung.land }}</clr-dg-cell>
        <clr-dg-cell>{{ getBehoerden(benutzer) }}</clr-dg-cell>
        <clr-dg-cell>{{ getAKZ(benutzer) }}</clr-dg-cell>
        <clr-dg-cell>{{ getVerwaltungsgebiete(benutzer) }}</clr-dg-cell>
        <clr-dg-cell>{{ getBetriebsstaetten(benutzer) }}</clr-dg-cell>
        <clr-dg-cell>{{ getRollen(benutzer) }}</clr-dg-cell>
        <clr-dg-cell>
          <button
            class="btn btn-icon btn-primary-outline"
            [routerLink]="['benutzer', benutzer.benutzername]"
            aria-label="Behördenbenutzer öffnen"
            title="Behördenbenutzer öffnen"
          >
            <cds-icon shape="eye" aria-hidden="true"></cds-icon>
          </button>
          <button
            *ngIf="canDeleteBenutzer(benutzer)"
            class="btn btn-icon btn-primary-outline"
            (click)="openLoeschenDialog(benutzer)"
            aria-label="Behördenbenutzer löschen"
            title="Behördenbenutzer löschen"
          >
            <cds-icon shape="trash" aria-hidden="true"></cds-icon>
          </button>
        </clr-dg-cell>
      </clr-dg-row>

      <clr-dg-footer>
        <clr-dg-pagination
          #pagination
          [clrDgPageSize]="20"
          [clrDgTotalItems]="benutzerListe?.length"
        >
          <clr-dg-page-size [clrPageSizeOptions]="[20, 50, 500]">
            Benutzer pro Seite
          </clr-dg-page-size>
          {{ pagination.firstItem + 1 }} - {{ pagination.lastItem + 1 }} von
          {{ pagination.totalItems }} Benutzern
        </clr-dg-pagination>
      </clr-dg-footer>
    </clr-datagrid>
  </div>
</div>

<clr-modal [(clrModalOpen)]="loeschenDialog" [clrModalClosable]="false">
  <h3 class="modal-title">Benutzer Löschen?</h3>
  <div class="modal-body">
    <p>
      {{
        benutzer
          ? "Der Benutzer wird gelöscht!"
          : "Die Benutzer werden unwiderruflich gelöscht!"
      }}
    </p>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline"
      (click)="closeLoeschenDialog()"
    >
      Abbrechen
    </button>
    <button
      *ngIf="benutzer"
      [clrLoading]="loescht"
      type="button"
      class="btn btn-warning"
      (click)="deleteBenutzer()"
    >
      Löschen
    </button>
    <button
      *ngIf="!benutzer"
      [clrLoading]="loescht"
      type="button"
      class="btn btn-warning"
      (click)="deleteMultipleBenutzer()"
    >
      {{ selected?.length }} Benutzer Löschen
    </button>
  </div>
</clr-modal>
