<button class="btn btn-link btn-sm" (click)="navigateBackToUebersicht()">
  < Zurück zur Übersicht
</button>
<div class="clr-row">
  <div class="clr-col-lg-9 clr-col-12">
    <!-- Betriebsstätten Details -->
    <app-betriebsstaette-details></app-betriebsstaette-details>
    <!-- Anlagen Liste -->
    <app-anlagen-liste></app-anlagen-liste>
    <!-- Quellen Liste -->
    <app-quellen-liste *ngIf="quellenDisplay"></app-quellen-liste>
  </div>

  <div class="clr-col-lg-3 clr-col-12">
    <!-- Betreiber Karte -->
    <app-betreiber></app-betreiber>

    <!-- Berichtsobjekte Karte -->
    <app-berichtsobjekte></app-berichtsobjekte>
  </div>
</div>
