<section class="pb-4">
  <clr-datagrid
    class="datagrid-compact"
    *ngIf="formArray.length > 0; else keineDaten"
  >
    <clr-dg-column>Zuständigkeit</clr-dg-column>
    <clr-dg-column>Behörde</clr-dg-column>
    <clr-dg-column>Aktionen</clr-dg-column>
    <clr-dg-placeholder>Keine Ergebnisse gefunden</clr-dg-placeholder>
    <clr-dg-row
      *clrDgItems="let behoerdeControl of formArray.controls; index as i"
    >
      <clr-dg-cell>
        <cds-icon
          class="is-error"
          *ngIf="behoerdeControl.invalid"
          shape="error-standard"
          status="danger"
          aria-label="Validierungsfehler"
        ></cds-icon
        >{{ behoerdeControl.value.zustaendigkeit.ktext }}</clr-dg-cell
      >
      <clr-dg-cell>{{ behoerdeControl.value.behoerde.ktext }}</clr-dg-cell>
      <clr-dg-cell>
        <button
          class="btn btn-icon btn-primary-outline"
          aria-label="Bearbeiten"
          [disabled]="!canWrite"
          (click)="bearbeiten(i)"
        >
          <cds-icon shape="note"></cds-icon>
        </button>
        <button
          class="btn btn-icon btn-primary-outline"
          aria-label="Löschen"
          [disabled]="!canWrite"
          (click)="loeschen(i)"
        >
          <cds-icon shape="trash"></cds-icon>
        </button>
      </clr-dg-cell>
    </clr-dg-row>
  </clr-datagrid>
  <section class="pt-2">
    <button *ngIf="canWrite" class="btn btn-secondary-outline" (click)="neu()">
      <cds-icon shape="plus"></cds-icon>
      Neu
    </button>
  </section>
</section>

<!-- BEARBEITEN MODAL -->
<clr-modal
  *ngIf="behoerdenForm"
  [(clrModalOpen)]="editModalOpen"
  [clrModalClosable]="false"
>
  <h3 class="modal-title">
    Zuständige Behörde
    {{ this.editExistingIndex != null ? "bearbeiten" : "hinzufügen" }}
  </h3>
  <div class="modal-body">
    <form clrForm [formGroup]="behoerdenForm">
      <span class="clr-sr-only">
        Durch das Durchtabben dieses Formulars werden Validierungshinweise
        vorgelesen.
      </span>

      <clr-combobox-container>
        <label>Zuständigkeit</label>
        <clr-combobox formControlName="zustaendigkeit" required>
          <clr-options>
            <clr-option
              *clrOptionItems="
                let zustaendigkeit of zustaendigkeitenListe;
                field: 'ktext'
              "
              [clrValue]="zustaendigkeit"
            >
              {{ zustaendigkeit.ktext }}
            </clr-option>
          </clr-options>
        </clr-combobox>
        <clr-control-error *clrIfError="'required'"
          >Zuständigkeit wird benötigt</clr-control-error
        >
        <clr-control-error *clrIfError="'invalidReference'; error as error">
          Es wurden ungültige Referenzen gefunden: {{ error.ktext }}
        </clr-control-error>
        <clr-control-helper>
          Zur Anzeige der gesamten Liste bitte Suchfeld leeren.
        </clr-control-helper>
      </clr-combobox-container>

      <clr-combobox-container>
        <label>Behörde</label>
        <clr-combobox formControlName="behoerde" required>
          <clr-options>
            <clr-option
              *clrOptionItems="let behoerde of behoerdenListe; field: 'ktext'"
              [clrValue]="behoerde"
              >{{ behoerde.ktext }}</clr-option
            >
          </clr-options>
        </clr-combobox>
        <clr-control-error *clrIfError="'required'">
          Behörde wird benötigt
        </clr-control-error>
        <clr-control-error *clrIfError="'invalidReference'; error as error">
          Es wurden ungültige Referenzen gefunden: {{ error.ktext }}
        </clr-control-error>
        <clr-control-helper>
          Zur Anzeige der gesamten Liste bitte Suchfeld leeren.
        </clr-control-helper>
      </clr-combobox-container>
    </form>
  </div>
  <div class="modal-footer">
    <button class="btn btn-outline" type="button" (click)="abbrechen()">
      Abbrechen
    </button>
    <button
      class="btn btn-primary"
      type="button"
      [disabled]="behoerdenForm.pristine"
      (click)="uebernehmen()"
    >
      Übernehmen
    </button>
  </div>
</clr-modal>

<ng-template #keineDaten>
  <div class="pt-5">
    Keine Daten vorhanden.
    {{ canWrite ? 'Klicken Sie auf das "+", um Einträge hinzuzufügen.' : "" }}
  </div>
</ng-template>
