<clr-modal [(clrModalOpen)]="open" [clrModalClosable]="false">
  <h3 class="modal-title">Betreiberdaten übernehmen</h3>
  <div class="modal-body">
    <clr-alert
      *ngIf="ortChanged"
      clrAlertType="warning"
      [clrAlertClosable]="false"
      >Achtung: Bitte AGS (ehem. Gemeindekennziffer) in den Stammdaten anpassen,
      wenn die Ortsangabe des Betreibers zur BST übernommen wird.</clr-alert
    >
    <br *ngIf="ortChanged" />
    <span
      >Ausgewählte Elemente werden in die Stammdaten übernommen, nicht
      ausgewählte Elemente werden verworfen.</span
    >
    <br />
    <span> Listen werden als ganzes übernommen.</span><br /><span>
      Nach der Übernahme werden die Stammdaten aus dem Pool des Betreibers
      gelöscht.</span
    >
    <br />
    <br />
    <span>Wollen Sie die Betreiberdaten wirklich übernehmen?</span>
  </div>
  <div class="modal-footer">
    <button class="btn btn-outline" type="button" (click)="abbrechen()">
      Abbrechen
    </button>
    <button
      class="btn btn-primary"
      type="button"
      (click)="uebernehmen()"
      data-cy="uebernehmenDialogButton"
    >
      Übernehmen
    </button>
  </div>
</clr-modal>
