<div
  class="input-list clr-combobox-wrapper multi ws-wrap"
  [class.clr-combobox-disabled]="formDisabled"
  (click)="inputElement.focus()"
>
  <span role="grid">
    <span
      class="label label-combobox-pill"
      role="row"
      *ngFor="let item of inputList; index as i"
    >
      <span class="clr-combobox-pill-content" role="gridcell">
        {{ item }}
      </span>
      <span role="gridcell">
        <button
          type="button"
          class="clr-combobox-remove-btn"
          (click)="removeItem(i)"
          [disabled]="formDisabled"
          aria-label="löschen"
        >
          <cds-icon shape="times" size="12" role="img"></cds-icon>
        </button>
      </span>
    </span>
    <span class="clr-combobox-input-wrapper">
      <input
        #inputElement
        class="clr-input clr-combobox-input"
        type="text"
        [disabled]="formDisabled"
        (keydown.enter)="onEnterAdd($event)"
        (keydown.backspace)="onBackspaceRemoveLast()"
        [attr.placeholder]="placeholder"
        aria-autocomplete="list"
        autocomplete="off"
        [(ngModel)]="inputValue"
      />
    </span>
    <button
      *ngIf="inputValue"
      class="clr-combobox-trigger"
      (click)="onButtonAdd()"
      aria-label="Hinzufügen"
    >
      <cds-icon shape="plus"></cds-icon>
    </button>
  </span>
</div>
