.ws-wrap {
  white-space: normal;
}

.input-list {
  margin-right: 0.3rem;
}

// Fix Height of InputList component due to Clarity wrapping it implicitly when using clr-control-container
::ng-deep clr-control-container .clr-input-wrapper {
  max-height: none;
}
