<clr-dropdown
  *ngIf="isEnabled$ | async; else readonly"
  data-cy="berichtsjahrBtn"
>
  <button class="btn btn-primary" clrDropdownTrigger>
    {{ (this.berichtsjahr$ | async)?.ktext }}
    <cds-icon shape="angle" direction="down"></cds-icon>
  </button>
  <clr-dropdown-menu *clrIfOpen data-cy="berichtsjahrDropdown">
    <div
      class="text-center"
      clrDropdownItem
      (click)="selectBerichtsjahr(jahr)"
      *ngFor="let jahr of berichtsjahre$ | async"
    >
      {{ jahr?.ktext }}
    </div>
  </clr-dropdown-menu>
</clr-dropdown>

<ng-template #readonly>
  <button
    class="btn btn-outline-primary not-clickable"
    title="In dieser Übersicht ist der Berichtsjahrwechsel nicht möglich"
  >
    {{ (this.berichtsjahr$ | async)?.ktext }}
  </button>
</ng-template>
