<div [formGroup]="form">
  <clr-select-container>
    <label>Bundesland</label>
    <select clrSelect formControlName="land" required>
      <option *ngIf="!form.getRawValue().land" [ngValue]="null" selected>
        Bitte wählen
      </option>
      <option *ngFor="let land of LandProperties | keyvalue" [value]="land.key">
        {{ land.value.display }}
      </option>
    </select>
  </clr-select-container>

  <clr-combobox-container *ngIf="!isBetreiber">
    <label>Behörden</label>
    <clr-combobox [clrMulti]="true" formControlName="behoerden">
      <ng-container *clrOptionSelected="let selected">
        {{ selected.ktext }}
      </ng-container>
      <clr-options>
        <clr-option
          *clrOptionItems="
            let behoerde of behoerdenListe.values;
            field: 'ktext'
          "
          [clrValue]="behoerde"
        >
          {{ behoerde.ktext }}
        </clr-option>
      </clr-options>
      <clr-control-error *clrIfError="'required'">
        Behörde wird benötigt
      </clr-control-error>
    </clr-combobox>
    <clr-control-error *clrIfError="'subsetOf'; error as err">
      <ng-container *ngIf="err.oneOf">
        Es muss mindestens eine der folgenden Behörden ausgewählt werden:
        {{ err.oneOf.join(", ") }}
      </ng-container>
      <ng-container *ngIf="err.noAccess">
        Keine Berechtigung für Behörde(n):
        {{ err.noAccess.join(", ") }}
      </ng-container>
    </clr-control-error>
  </clr-combobox-container>

  <clr-control-container *ngIf="!isBetreiber">
    <label>AKZ</label>
    <app-input-list
      clrControl
      [class.clr-input]="false"
      formControlName="akz"
    ></app-input-list>
    <clr-control-error *clrIfError="'subsetOf'; error as err">
      <ng-container *ngIf="err.oneOf">
        Es muss mindestens eine der folgenden AKZ ausgewählt werden:
        {{ err.oneOf.join(", ") }}
      </ng-container>
      <ng-container *ngIf="err.noAccess">
        Keine Berechtigung für AKZ: {{ err.noAccess.join(", ") }}
      </ng-container>
    </clr-control-error>
    <clr-control-helper>
      Beginnen Sie, Text zu schreiben. Enter-Taste oder '+' fügt hinzu.
    </clr-control-helper>
  </clr-control-container>

  <clr-control-container *ngIf="!isBetreiber">
    <label>
      Verwaltungsgebiete
      <app-tooltip>
        Die achtstellige Gemeindekennziffer besteht aus den Informationsteilen
        [LLBKKGGG], wo [LL] für das Land steht, [B] für den Regierungsbezirk,
        [KK] für den Kreis oder die kreisfreie Stadt, [GGG] für die Gemeinde.
      </app-tooltip>
    </label>
    <app-input-list
      clrControl
      [class.clr-input]="false"
      formControlName="verwaltungsgebiete"
    ></app-input-list>
    <clr-control-error *clrIfError="'verwaltungsgebieteIn'; error as err">
      <ng-container *ngIf="err.oneOf">
        Es muss mindestens Verwaltungsgebiet ausgewählt werden, das folgenden
        Gebieten zugehörig ist: {{ err.oneOf.join(", ") }}
      </ng-container>
      <ng-container *ngIf="err.noAccess">
        Keine Berechtigung für Verwaltungsgebiet(e):
        {{ err.noAccess.join(", ") }}
      </ng-container>
    </clr-control-error>
    <clr-control-helper>
      Beginnen Sie, Text zu schreiben. Enter-Taste oder '+' fügt hinzu.
    </clr-control-helper>
  </clr-control-container>

  <clr-control-container>
    <label>Betriebsstätten</label>
    <app-input-list
      clrControl
      [class.clr-input]="false"
      formControlName="betriebsstaetten"
      [required]="isBetreiber"
      data-cy="betriebsstaetten"
    ></app-input-list>
    <clr-control-error *clrIfError="'required'">
      Es muss mindestens eine Betriebsstättennummer angegeben werden. Die
      Betriebsstätte muss in mind. einem Berichtsjahr existieren.
    </clr-control-error>
    <clr-control-error *clrIfError="'subsetOf'; error as err">
      <ng-container *ngIf="err.oneOf">
        Es muss mindestens eine der folgenden Betriebsstättennummern ausgewählt
        werden: {{ err.oneOf.join(", ") }}
      </ng-container>
      <ng-container *ngIf="err.noAccess">
        Keine Berechtigung für Betriebsstättennummern:
        {{ err.noAccess.join(", ") }}
      </ng-container>
    </clr-control-error>
    <clr-control-helper>
      Beginnen Sie, Text zu schreiben. Enter-Taste oder '+' fügt hinzu.
    </clr-control-helper>
  </clr-control-container>

  <clr-combobox-container>
    <label>Fachmodule</label>
    <clr-combobox [clrMulti]="true" formControlName="fachmodule">
      <ng-container *clrOptionSelected="let selected">
        {{ fachmoduleDisplayText[selected] }}
      </ng-container>
      <clr-options>
        <clr-option
          *clrOptionItems="let fachmodul of fachmodule"
          [clrValue]="fachmodul"
        >
          {{ fachmoduleDisplayText[fachmodul] }}
        </clr-option>
      </clr-options>
    </clr-combobox>
    <clr-control-error *clrIfError="'required'">
      Es muss mindestens ein Fachmodul angegeben werden
    </clr-control-error>
  </clr-combobox-container>

  <clr-combobox-container *ngIf="!isBetreiber">
    <label>Themen</label>
    <clr-combobox clrMulti="true" formControlName="themen">
      <ng-container *clrOptionSelected="let selected">
        {{ themenDisplayText[selected] }}
      </ng-container>
      <clr-options>
        <clr-option *clrOptionItems="let thema of themen" [clrValue]="thema">
          {{ themenDisplayText[thema] }}
        </clr-option>
      </clr-options>
    </clr-combobox>
    <clr-control-error *clrIfError="'required'">
      Es muss mindestens ein Thema angegeben werden
    </clr-control-error>
  </clr-combobox-container>
</div>
