<div *ngIf="!isEqual" class="clr-row">
  <div class="clr-col-3"></div>
  <div class="clr-col-4">SPL</div>
  <div class="clr-col-4">SPB</div>
  <div class="clr-col-1">
    <clr-checkbox-wrapper>
      <label>Übernahme</label>
      <input
        type="checkbox"
        clrCheckbox
        [(ngModel)]="checkValue"
        (change)="updateValue()"
      />
    </clr-checkbox-wrapper>
  </div>
</div>

<div *ngFor="let nr of nummern" class="clr-row">
  <div class="clr-col-3"></div>
  <div class="clr-col-4">
    {{ nr.spl }}
  </div>
  <div class="clr-col-4">
    {{ nr.spb }}
  </div>
  <div class="clr-col-1"></div>
</div>
