<clr-modal
  [(clrModalOpen)]="open"
  (clrModalOpenChange)="openChange.emit($event)"
  [clrModalClosable]="false"
>
  <h3 class="modal-title">Zieljahr auswählen</h3>
  <div class="modal-body">
    <form clrForm>
      <clr-select-container>
        <label>Zieljahr</label>
        <select clrSelect [formControl]="zieljahr" required data-cy="zieljahr">
          <option
            *ngFor="let jahr of berichtsjahrListeFilteredAndSorted"
            [ngValue]="jahr"
          >
            {{ jahr.schluessel }}
          </option>
        </select>
        <clr-control-error>Bitte ein Zieljahr auswählen</clr-control-error>
      </clr-select-container>
    </form>
    <p>
      Nach dem Bestätigen werden alle ausgewählten
      {{ zuUebernehmendeDaten }} samt ihren Kindobjekten in das Zieljahr
      übernommen.
    </p>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-secondary"
      (click)="closeUebernehmenDialog()"
    >
      Abbrechen
    </button>
    <button
      type="button"
      class="btn btn-primary"
      (click)="selectBerichtsJahr()"
      data-cy="uebernehmen"
    >
      Übernehmen
    </button>
  </div>
</clr-modal>
