<!-- Anlagen Details -->
<app-spb-anlagen-details></app-spb-anlagen-details>
<!-- Anlagenteile Liste -->
<app-spb-anlagenteile-liste></app-spb-anlagenteile-liste>
<!-- Anlagen-Quellen Liste -->
<app-spb-anlage-quellen-liste
  *ngIf="quellenDisplay"
></app-spb-anlage-quellen-liste>
