<clr-modal
  clrModalSize="xl"
  [(clrModalOpen)]="open"
  (clrModalOpenChange)="openChange.emit($event)"
  [clrModalClosable]="false"
>
  <h3 class="modal-title">Gemeindekoordinaten Import</h3>
  <div class="modal-body">
    <form clrForm>
      <clr-select-container>
        <label>Zieljahr</label>
        <select clrSelect [formControl]="zieljahr" required data-cy="zieljahr">
          <option *ngFor="let jahr of berichtsjahrListe" [ngValue]="jahr">
            {{ jahr.schluessel }}
          </option>
        </select>
        <clr-control-error>Bitte ein Zieljahr auswählen</clr-control-error>
      </clr-select-container>
      <clr-input-container class="input-full-width">
        <label>Downloadlink</label>
        <input
          clrInput
          type="text"
          [formControl]="link"
          required
          data-cy="link"
        />
        <clr-control-error *clrIfError="'required'"
          >Bitte einen Link angeben
        </clr-control-error>

        <clr-control-error *clrIfError="'url'; error as url">
          Ungültige URL.
          <ng-container *ngIf="url.invalid_scheme">
            Muss mit <code>http://</code> bzw. <code>https://</code> beginnen
          </ng-container>
        </clr-control-error>
      </clr-input-container>
    </form>
    <p>Links zu den jahrgangsweisen Daten:</p>
    <a
      href="https://daten.gdz.bkg.bund.de/produkte/vg/vg250_ebenen_0101/"
      target="_blank"
      >https://daten.gdz.bkg.bund.de/produkte/vg/vg250_ebenen_0101/</a
    >
    <p>
      Bitte bevorzugt die UTM-32 formatierte Zip-Datei nehmen.<br />
      Beim Import werden die bisherigen Daten für das Jahr, soweit vorhanden,
      überschrieben.
    </p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline" (click)="close()">
      Abbrechen
    </button>
    <button type="button" class="btn btn-primary" (click)="startImport()">
      Importieren
    </button>
  </div>
</clr-modal>
