<div class="card">
  <div class="card-header actionbar">
    <div>
      <cds-icon shape="file-group"></cds-icon>
      EUReg-installation(parts) (Anlagen/AN mit EU-Reg-Merkmal)
      <app-tooltip>AN sind mit (*) gekennzeichnet.</app-tooltip>
    </div>
  </div>
  <div class="card-block">
    <clr-datagrid class="datagrid-compact">
      <clr-dg-column [clrDgField]="'berichtsart'">Berichtsart</clr-dg-column>
      <clr-dg-column [clrDgField]="'nummer'">Anlagen-Nr.</clr-dg-column>
      <clr-dg-column [clrDgField]="'name'">Name</clr-dg-column>
      <clr-dg-column [clrDgField]="'betriebsstatus'"
        >Betriebsstatus
      </clr-dg-column>
      <clr-dg-column>Aktionen</clr-dg-column>
      <clr-dg-placeholder>Keine Ergebnisse gefunden</clr-dg-placeholder>
      <clr-dg-row
        *clrDgItems="let anlagenBericht of anlagenBerichte"
        [clrDgItem]="anlagenBericht"
      >
        <clr-dg-cell>{{
          anlagenBericht.berichtsart + (anlagenBericht.isAnlage ? "" : " (*)")
        }}</clr-dg-cell>
        <clr-dg-cell>{{ anlagenBericht.nummer }}</clr-dg-cell>
        <clr-dg-cell>{{ anlagenBericht.name }}</clr-dg-cell>
        <clr-dg-cell>{{ anlagenBericht.betriebsstatus }}</clr-dg-cell>
        <clr-dg-cell>
          <button
            *ngIf="anlagenBericht.parentAnlageNr === null"
            class="btn btn-icon btn-primary-outline"
            [routerLink]="['anlage', 'nummer', anlagenBericht.nummer]"
            aria-label="EURegAnlagen Bericht öffnen"
            title="EURegAnlagen Bericht öffnen"
          >
            <cds-icon shape="eye" aria-hidden="true"></cds-icon>
          </button>
          <button
            *ngIf="anlagenBericht.parentAnlageNr !== null"
            class="btn btn-icon btn-primary-outline"
            [routerLink]="[
              'anlage',
              'nummer',
              anlagenBericht.parentAnlageNr,
              'anlagenteil',
              'nummer',
              anlagenBericht.nummer
            ]"
            aria-label="EURegAnlagen Bericht öffnen"
            title="EURegAnlagen Bericht öffnen"
          >
            <cds-icon shape="eye" aria-hidden="true"></cds-icon>
          </button>
        </clr-dg-cell>
      </clr-dg-row>

      <clr-dg-footer>
        <clr-dg-pagination
          #pagination
          [clrDgPageSize]="10"
          [clrDgTotalItems]="anlagenBerichte?.length"
        >
          <clr-dg-page-size [clrPageSizeOptions]="[10, 20, 50, 500]"
            >Berichte pro Seite
          </clr-dg-page-size>
          {{ pagination.firstItem + 1 }} - {{ pagination.lastItem + 1 }} von
          {{ pagination.totalItems }} Berichten
        </clr-dg-pagination>
      </clr-dg-footer>
    </clr-datagrid>
  </div>
</div>
