<div class="content-area">
  <div class="alert alert-danger" role="alert">
    <div class="alert-items">
      <div class="alert-item static">
        <div class="alert-icon-wrapper">
          <cds-icon class="alert-icon" shape="exclamation-circle"></cds-icon>
        </div>
        <span class="alert-text">
          Das gesuchte Element wurde nicht gefunden
        </span>
      </div>
    </div>
  </div>
</div>
