<div class="card m-0">
  <div class="card-header actionbar">
    <div>
      <cds-icon shape="building"></cds-icon>
      <span>
        Betriebsstätte:
        {{ this.betriebsstaetteForm.value.allgemein?.name | ellipsize: 100 }}
      </span>
    </div>
    <div>
      <div class="btn-group list-action-buttons">
        <button
          (click)="reset()"
          class="btn btn-sm btn-secondary-outline"
          [disabled]="this.betriebsstaetteForm.pristine"
        >
          <cds-icon shape="times" aria-hidden="true"></cds-icon>
          Verwerfen
        </button>
        <button
          (click)="save()"
          class="btn btn-sm btn-primary"
          [disabled]="this.betriebsstaetteForm.pristine"
          data-cy="saveBetriebsstaette"
        >
          <cds-icon shape="floppy" aria-hidden="true"></cds-icon>
          Speichern
        </button>
      </div>
    </div>
  </div>
  <div class="card-block">
    <div
      *ngIf="betriebsstaette.schreibsperreBetreiber"
      class="alert alert-warning alert-sm"
    >
      <div class="alert-item static">
        <span class="alert-text">
          Die Betriebsstätte hat eine Schreibsperre. Sie können die Daten
          aktuell nicht mehr verändern.
        </span>
      </div>
    </div>

    <clr-tabs clrLayout="horizontal">
      <clr-tab>
        <button clrTabLink id="allgemein">
          Allgemein
          <cds-icon
            class="is-error"
            *ngIf="allgemeinForm.invalid"
            shape="error-standard"
            status="danger"
            aria-label="Validierungsfehler"
          ></cds-icon>
        </button>
        <clr-tab-content *clrIfActive="true">
          <app-betriebsstaette-allgemein
            [form]="allgemeinForm"
            [saveAttempt]="saveAttempt"
          >
          </app-betriebsstaette-allgemein>
        </clr-tab-content>
      </clr-tab>

      <clr-tab>
        <button clrTabLink id="adresse" data-cy="tabAdresse">
          Adresse
          <cds-icon
            class="is-error"
            *ngIf="adresseForm.invalid"
            shape="error-standard"
            status="danger"
            aria-label="Validierungsfehler"
          ></cds-icon>
        </button>
        <clr-tab-content *clrIfActive>
          <app-spb-adresse
            [form]="adresseForm"
            [saveAttempt]="saveAttempt"
            [isoCodes]="isoCodes"
          >
          </app-spb-adresse>
        </clr-tab-content>
      </clr-tab>

      <clr-tab>
        <button clrTabLink id="kommunikation">
          Kommunikation
          <cds-icon
            class="is-error"
            *ngIf="kommunikationForm.invalid"
            shape="error-standard"
            status="danger"
            aria-label="Validierungsfehler"
          ></cds-icon>
        </button>
        <clr-tab-content *clrIfActive>
          <app-kommunikation
            [formArray]="kommunikationForm"
            [kommunikationsTypen]="kommunikationsTypen"
          ></app-kommunikation>
        </clr-tab-content>
      </clr-tab>

      <clr-tab>
        <button clrTabLink id="ansprechpartner">
          Ansprechpersonen
          <cds-icon
            class="is-error"
            *ngIf="ansprechpartnerForm.invalid"
            shape="error-standard"
            status="danger"
            aria-label="Validierungsfehler"
          ></cds-icon>
        </button>
        <clr-tab-content *clrIfActive>
          <app-ansprechpartner
            [formArray]="ansprechpartnerForm"
            [funktionen]="funktionen"
            [kommunikationsTypen]="kommunikationsTypen"
            [hideBemerkung]="true"
          ></app-ansprechpartner>
        </clr-tab-content>
      </clr-tab>
    </clr-tabs>
  </div>
  <div class="card-footer" style="font-size: 10px">
    Erfassung am:
    <em>{{ betriebsstaette.ersteErfassung | date: "short" }}</em> | letzte
    Änderung am:
    <em>{{ betriebsstaette.letzteAenderung | date: "short" }}</em> | Land:
    <em>{{ displayLand }}</em>
  </div>
</div>
