<div class="card m-0">
  <div class="card-header actionbar">
    <div>
      <cds-icon shape="building"></cds-icon>
      <span>
        Betriebsstätte:
        {{ vergleich.allgemein.name.spl | ellipsize: 100 }}
      </span>
    </div>
    <div>
      <div class="btn-group list-action-buttons">
        <button (click)="back()" class="btn btn-sm btn-secondary-outline">
          <cds-icon shape="times" aria-hidden="true"></cds-icon>
          Abbrechen
        </button>
        <button
          class="btn btn-sm btn-primary"
          [disabled]="!canUebernehmen()"
          (click)="uebernahmeDialogOpen = true"
          data-cy="uebernehmen"
        >
          <cds-icon shape="floppy" aria-hidden="true"></cds-icon>
          Übernehmen
        </button>
      </div>
    </div>
  </div>
  <div class="card-block" *ngIf="vergleich.hasChanges">
    <clr-accordion clrAccordionMultiPanel="true">
      <clr-accordion-panel data-cy="allgemeinAccordion">
        <clr-accordion-title
          >Allgemein ({{ countAllgemein() }})
        </clr-accordion-title>
        <clr-accordion-content *clrIfExpanded>
          <div class="clr-row">
            <div class="clr-col-3"></div>
            <div class="clr-col-4">SPL</div>
            <div class="clr-col-4">SPB</div>
            <div class="clr-col-1">Übernahme</div>
          </div>
          <app-vergleichszeile
            label="Name"
            [spl]="vergleich.allgemein.name.spl"
            [spb]="vergleich.allgemein.name.spb"
            [isEqual]="vergleich.allgemein.name.equal"
            [(checkValue)]="nameUebernehmen"
            data-cy="name"
          ></app-vergleichszeile>
          <app-vergleichszeile
            label="Inbetriebnahme"
            [spl]="vergleich.allgemein.inbetriebnahme.spl | date"
            [spb]="vergleich.allgemein.inbetriebnahme.spb | date"
            [isEqual]="vergleich.allgemein.inbetriebnahme.equal"
            [(checkValue)]="inbetriebnahmeUebernehmen"
          ></app-vergleichszeile>
          <app-vergleichszeile
            label="Betriebsstatus"
            [spl]="vergleich.allgemein.betriebsstatus.spl?.ktext"
            [spb]="vergleich.allgemein.betriebsstatus.spb?.ktext"
            [isEqual]="vergleich.allgemein.betriebsstatus.equal"
            [(checkValue)]="betriebsstatusUebernehmen"
          ></app-vergleichszeile>
          <app-vergleichszeile
            label="Seit"
            [spl]="vergleich.allgemein.betriebsstatusSeit.spl | date"
            [spb]="vergleich.allgemein.betriebsstatusSeit.spb | date"
            [isEqual]="vergleich.allgemein.betriebsstatusSeit.equal"
            [(checkValue)]="betriebsstatusSeitUebernehmen"
          ></app-vergleichszeile>
          <app-vergleichszeile
            label="NACE-Code"
            [spl]="vergleich.allgemein.naceCode.spl?.ktext"
            [spb]="vergleich.allgemein.naceCode.spb?.ktext"
            [isEqual]="vergleich.allgemein.naceCode.equal"
            [(checkValue)]="naceCodeUebernehmen"
          ></app-vergleichszeile>
          <app-vergleichszeile
            label="Flusseinzugsgebiet"
            [spl]="vergleich.allgemein.flusseinzuggebiet.spl?.ktext"
            [spb]="vergleich.allgemein.flusseinzuggebiet.spb?.ktext"
            [isEqual]="vergleich.allgemein.flusseinzuggebiet.equal"
            [(checkValue)]="flusseinzugsgebietUebernehmen"
          ></app-vergleichszeile>
          <app-vergleichszeile
            label="Geo-Punkt"
            [spl]="getGeoPunktText(vergleich.allgemein.geoPunkt.spl)"
            [spb]="getGeoPunktText(vergleich.allgemein.geoPunkt.spb)"
            [isEqual]="vergleich.allgemein.geoPunkt.equal"
            [(checkValue)]="geoPunktUebernehmen"
          ></app-vergleichszeile>
          <app-vergleichszeile
            label="Direkteinleiter"
            [spl]="vergleich.allgemein.direkteinleiter.spl"
            [spb]="vergleich.allgemein.direkteinleiter.spb"
            [isEqual]="vergleich.allgemein.direkteinleiter.equal"
            [(checkValue)]="direkteinleiterUebernehmen"
          ></app-vergleichszeile>
          <app-vergleichszeile
            label="Indirekteinleiter"
            [spl]="vergleich.allgemein.indirekteinleiter.spl"
            [spb]="vergleich.allgemein.indirekteinleiter.spb"
            [isEqual]="vergleich.allgemein.indirekteinleiter.equal"
            [(checkValue)]="indirekteinleiterUebernehmen"
          ></app-vergleichszeile>
        </clr-accordion-content>
      </clr-accordion-panel>

      <clr-accordion-panel>
        <clr-accordion-title
          >Allgemein Abfallerzeuger-Nr. ({{ countAllgemeinAbfallerzeugerNr() }})
        </clr-accordion-title>
        <clr-accordion-content *clrIfExpanded>
          <app-vergleichstabelle-nummern
            [nummern]="vergleich.allgemein.abfallerzeugerNummern"
            [isEqual]="countAllgemeinAbfallerzeugerNr() === 0"
            [(checkValue)]="abfallerzeugerNummernUebernehmen"
          ></app-vergleichstabelle-nummern>
        </clr-accordion-content>
      </clr-accordion-panel>

      <clr-accordion-panel>
        <clr-accordion-title
          >Allgemein Einleiter-Nr. ({{ countAllgemeinEinleiterNr() }})
        </clr-accordion-title>
        <clr-accordion-content *clrIfExpanded>
          <app-vergleichstabelle-nummern
            [nummern]="vergleich.allgemein.einleiterNummern"
            [isEqual]="countAllgemeinEinleiterNr() === 0"
            [(checkValue)]="einleiterNummernUebernehmen"
          ></app-vergleichstabelle-nummern>
        </clr-accordion-content>
      </clr-accordion-panel>

      <clr-accordion-panel data-cy="adresseAccordion">
        <clr-accordion-title
          >Adresse ({{ countAdresse() }})
        </clr-accordion-title>
        <clr-accordion-content *clrIfExpanded>
          <div class="clr-row">
            <div class="clr-col-3"></div>
            <div class="clr-col-4">SPL</div>
            <div class="clr-col-4">SPB</div>
            <div class="clr-col-1">Übernahme</div>
          </div>
          <app-vergleichszeile
            label="Strasse"
            [spl]="vergleich.adresse.strasse.spl"
            [spb]="vergleich.adresse.strasse.spb"
            [isEqual]="vergleich.adresse.strasse.equal"
            [(checkValue)]="strasseUebernehmen"
          ></app-vergleichszeile>
          <app-vergleichszeile
            label="Nr."
            [spl]="vergleich.adresse.hausNr.spl"
            [spb]="vergleich.adresse.hausNr.spb"
            [isEqual]="vergleich.adresse.hausNr.equal"
            [(checkValue)]="hausNrUebernehmen"
          ></app-vergleichszeile>
          <app-vergleichszeile
            label="PLZ"
            [spl]="vergleich.adresse.plz.spl"
            [spb]="vergleich.adresse.plz.spb"
            [isEqual]="vergleich.adresse.plz.equal"
            [(checkValue)]="plzUebernehmen"
            data-cy="plz"
          ></app-vergleichszeile>
          <app-vergleichszeile
            label="Ort"
            [spl]="vergleich.adresse.ort.spl"
            [spb]="vergleich.adresse.ort.spb"
            [isEqual]="vergleich.adresse.ort.equal"
            [(checkValue)]="ortUebernehmen"
            data-cy="ort"
          ></app-vergleichszeile>
          <app-vergleichszeile
            label="Ortsteil"
            [spl]="vergleich.adresse.ortsteil.spl"
            [spb]="vergleich.adresse.ortsteil.spb"
            [isEqual]="vergleich.adresse.ortsteil.equal"
            [(checkValue)]="ortsteilUebernehmen"
          ></app-vergleichszeile>
          <app-vergleichszeile
            label="Staat"
            [spl]="vergleich.adresse.landIsoCode.spl?.ktext"
            [spb]="vergleich.adresse.landIsoCode.spb?.ktext"
            [isEqual]="vergleich.adresse.landIsoCode.equal"
            [(checkValue)]="landIsoCodeUebernehmen"
          ></app-vergleichszeile>
          <app-vergleichszeile
            label="Postfach"
            [spl]="vergleich.adresse.postfach.spl"
            [spb]="vergleich.adresse.postfach.spb"
            [isEqual]="vergleich.adresse.postfach.equal"
            [(checkValue)]="postfachUebernehmen"
          ></app-vergleichszeile>
          <app-vergleichszeile
            label="Postfach PLZ"
            [spl]="vergleich.adresse.postfachPlz.spl"
            [spb]="vergleich.adresse.postfachPlz.spb"
            [isEqual]="vergleich.adresse.postfachPlz.equal"
            [(checkValue)]="postfachPlzUebernehmen"
          ></app-vergleichszeile>
        </clr-accordion-content>
      </clr-accordion-panel>

      <clr-accordion-panel>
        <clr-accordion-title
          >Kommunikation ({{ countKommunikation() }})
        </clr-accordion-title>
        <clr-accordion-content *clrIfExpanded>
          <app-vergleichstabelle-kommunikation
            [kommunikationsverbindungen]="vergleich.kommunikationsverbindung"
            [isEqual]="countKommunikation() === 0"
            [(checkValue)]="kommunikationsverbindungenUebernehmen"
          ></app-vergleichstabelle-kommunikation>
        </clr-accordion-content>
      </clr-accordion-panel>

      <clr-accordion-panel>
        <clr-accordion-title
          >Ansprechpersonen ({{ countAnsprechpersonen() }})
        </clr-accordion-title>
        <clr-accordion-content *clrIfExpanded>
          <app-vergleichstabelle-ansprechpartner
            [ansprechpartner]="vergleich.ansprechpartner"
            [isEqual]="countAnsprechpersonen() === 0"
            [(checkValue)]="ansprechpartnerUebernehmen"
          ></app-vergleichstabelle-ansprechpartner>
        </clr-accordion-content>
      </clr-accordion-panel>
    </clr-accordion>
  </div>
  <div class="card-block" *ngIf="!vergleich.hasChanges">
    <span>
      Es existieren keine Änderungen der Betriebsstätte durch den Betreiber oder
      die Änderungen wurden bereits übernommen.
    </span>
  </div>
</div>

<app-uebernehme-anlagen-liste></app-uebernehme-anlagen-liste>

<app-uebernehme-quellen-liste
  *ngIf="quellenDisplay"
></app-uebernehme-quellen-liste>

<app-uebernahme-dialog
  [(open)]="uebernahmeDialogOpen"
  [ortChanged]="ortUebernehmen"
  (uebernehmenOut)="uebernehmen($event)"
></app-uebernahme-dialog>
