<div class="pt-0">
  <app-suche
    [showLandIfGesamtadmin]="true"
    (searchChanged)="searchattributes$.next($event)"
  ></app-suche>
</div>

<div class="card m-0">
  <div class="card-header actionbar">
    <div>
      <cds-icon shape="file-group"></cds-icon>
      EUReg Betriebsstätten Berichte
    </div>

    <div class="buttons">
      <div class="btn-group">
        <button
          data-cy="alleMarkierenButton"
          class="btn btn-sm btn-secondary"
          (click)="alleMarkieren()"
          title="Alle Berichte markieren (gesamte Liste)"
          aria-label="Alle Berichte markieren (gesamte Liste)"
        >
          <cds-icon shape="check" aria-hidden="true"></cds-icon>
          Alle
        </button>
        <button
          class="btn btn-sm btn-secondary"
          (click)="markierungAufheben()"
          [disabled]="nothingSelected"
          title="Markierungen aufheben"
          aria-label="Markierungen aufheben"
        >
          <cds-icon shape="times" aria-hidden="true"></cds-icon>
          aufheben
        </button>
        <button
          data-cy="inDesktopSpeichernButton"
          class="btn btn-sm btn-secondary"
          (click)="inDesktopSpeichern()"
          [disabled]="nothingSelected"
          title="Markierte Berichte in den Navigationsbaum übernehmen"
          aria-label="Markierte Berichte in den Navigationsbaum übernehmen"
        >
          <cds-icon shape="tree-view" aria-hidden="true"></cds-icon>
          Navi-Baum
        </button>
      </div>
      <div
        class="btn-group"
        *ngIf="canExport || canUebernehmen || canCreateTeilbericht"
      >
        <clr-dropdown>
          <button
            type="button"
            class="btn btn-sm btn-secondary"
            clrDropdownTrigger
            data-cy="aufgaben"
          >
            Aufgaben
            <cds-icon shape="angle" direction="down"></cds-icon>
          </button>
          <clr-dropdown-menu clrPosition="bottom-right" *clrIfOpen>
            <button
              *ngIf="canImport"
              class="btn btn-sm btn-secondary"
              (click)="importDialogVisible = true"
              clrDropdownItem
              data-cy="xmlImportBtn"
            >
              XML-Import
            </button>
            <button
              *ngIf="canExport"
              [disabled]="nothingSelected"
              class="btn btn-sm btn-secondary"
              (click)="exportDialogVisible = true"
              clrDropdownItem
              data-cy="xmlExportBtn"
            >
              XML-Export
            </button>
            <button
              *ngIf="canUebernehmen"
              [disabled]="nothingSelected"
              class="btn btn-sm btn-secondary"
              (click)="openUebernehmenDialog()"
              title="Daten in anderes Jahr übernehmen"
              clrDropdownItem
            >
              In anderes Jahr übernehmen
            </button>
            <button
              *ngIf="canCreateTeilbericht"
              [disabled]="nothingSelected"
              class="btn btn-sm btn-secondary"
              (click)="createTeilbericht()"
              title="EUReg-Teilbericht erstellen"
              clrDropdownItem
            >
              EUReg-Teilbericht erstellen
            </button>
            <button
              class="btn btn-sm btn-secondary"
              (click)="komplexpruefungAusfuehren()"
              [disabled]="nothingSelected"
              clrDropdownItem
            >
              Komplexprüfung ausführen
            </button>
          </clr-dropdown-menu>
        </clr-dropdown>
      </div>
    </div>
  </div>

  <div class="card-block">
    <clr-datagrid
      (clrDgRefresh)="onDatagridStateChanged($event)"
      [clrDgLoading]="loading$ | async"
      [(clrDgSelected)]="selectedIds"
    >
      <clr-dg-column
        *ngIf="showLandColumn"
        [clrDgSortBy]="euRegBetriebsstaetteColumns.LAND"
      >
        Land
      </clr-dg-column>
      <clr-dg-column
        [clrDgSortBy]="euRegBetriebsstaetteColumns.ZUSTAENDIGE_BEHOERDE"
      >
        Zuständige Behörde
      </clr-dg-column>
      <clr-dg-column
        [clrDgSortBy]="euRegBetriebsstaetteColumns.BETRIEBSSTAETTEN_NUMMER"
      >
        Betriebsstätten-Nr.
      </clr-dg-column>
      <clr-dg-column
        [clrDgSortBy]="euRegBetriebsstaetteColumns.NAME"
        [clrDgSortOrder]="SortOrder.ASC"
      >
        Name
      </clr-dg-column>
      <clr-dg-column [clrDgSortBy]="euRegBetriebsstaetteColumns.PLZ">
        PLZ
      </clr-dg-column>
      <clr-dg-column [clrDgSortBy]="euRegBetriebsstaetteColumns.ORT">
        Ort
      </clr-dg-column>
      <clr-dg-column [clrDgSortBy]="euRegBetriebsstaetteColumns.BETRIEBSSTATUS">
        Betriebsstatus
      </clr-dg-column>
      <clr-dg-column
        [clrDgSortBy]="euRegBetriebsstaetteColumns.PRUEFUNGSFEHLER"
      >
        Prüfungsfehler
      </clr-dg-column>
      <clr-dg-column>Aktionen</clr-dg-column>
      <clr-dg-placeholder>Keine Ergebnisse gefunden</clr-dg-placeholder>

      <clr-dg-row
        *ngFor="let bericht of euRegBetriebsstaettenPage?.content"
        [clrDgItem]="bericht.id"
        data-cy="bstBerichtRow"
      >
        <clr-dg-cell *ngIf="showLandColumn">{{ bericht.land }}</clr-dg-cell>
        <clr-dg-cell>{{ bericht.zustaendigeBehoerde }}</clr-dg-cell>
        <clr-dg-cell>{{ bericht.nummer }}</clr-dg-cell>
        <clr-dg-cell>{{ bericht.name }}</clr-dg-cell>
        <clr-dg-cell>{{ bericht.plz }}</clr-dg-cell>
        <clr-dg-cell>{{ bericht.ort }}</clr-dg-cell>
        <clr-dg-cell>{{ bericht.betriebsstatus }}</clr-dg-cell>
        <clr-dg-cell>{{ getPruefungsfehler(bericht) }}</clr-dg-cell>
        <clr-dg-cell>
          <button
            [attr.data-cy]="bericht.nummer"
            class="btn btn-icon btn-primary-outline"
            (click)="navigate(bericht)"
            aria-label="Bericht öffnen"
            title="Bericht öffnen"
          >
            <cds-icon shape="eye" aria-hidden="true"></cds-icon>
          </button>
          <button
            *ngIf="bericht.pruefungVorhanden"
            (click)="komplexpruefungDownload(bericht.bstId, bericht.nummer)"
            class="btn btn-icon btn-primary-outline"
            aria-label="letztes Komplexprüfungsprotokoll herunterladen"
            title="letztes Komplexprüfungsprotokoll herunterladen"
          >
            <cds-icon shape="list" aria-hidden="true"></cds-icon>
          </button>
        </clr-dg-cell>
      </clr-dg-row>

      <clr-dg-footer>
        <clr-dg-pagination
          #pagination
          [(clrDgPage)]="currentPage"
          [clrDgPageSize]="20"
          [clrDgTotalItems]="euRegBetriebsstaettenPage?.totalElements"
        >
          <clr-dg-page-size [clrPageSizeOptions]="[20, 50, 500]"
            >Berichte pro Seite
          </clr-dg-page-size>
          {{ pagination.firstItem + 1 }} - {{ pagination.lastItem + 1 }} von
          {{ pagination.totalItems }} Berichten
        </clr-dg-pagination>
      </clr-dg-footer>
    </clr-datagrid>
  </div>
</div>

<app-daten-in-anderes-jahr-uebernehmen-modal
  [(open)]="uebernehmenDialogOpen"
  zuUebernehmendeDaten="EuRegistry Berichtsdaten"
  [berichtsjahrListe]="berichtsjahrListe"
  (berichtsJahrSelected)="inJahrUebernehmen($event)"
  *ngIf="canUebernehmen"
></app-daten-in-anderes-jahr-uebernehmen-modal>

<app-export-berichtsdaten-modal
  *ngIf="canExport"
  [(open)]="exportDialogVisible"
  [selectedIds]="selectedIds"
></app-export-berichtsdaten-modal>

<app-import-modal
  *ngIf="canImport"
  [(open)]="importDialogVisible"
  [berichtsjahr]="currentBerichtsjahr$ | async"
  [importService]="euregImportAdapter"
  title="EuReg-Berichte für {{
    (currentBerichtsjahr$ | async)?.ktext
  }} importieren"
></app-import-modal>
