<clr-combobox-container>
  <label>Behörden filtern</label>
  <clr-combobox
    [clrMulti]="true"
    [(ngModel)]="selectedItems"
    (ngModelChange)="selectedOptionsChanged()"
  >
    <ng-container *clrOptionSelected="let selected">
      {{ selected?.ktext }}
    </ng-container>

    <clr-options>
      <clr-option *clrOptionItems="let option of options" [clrValue]="option">
        {{ option.ktext }}
      </clr-option>
    </clr-options>
  </clr-combobox>
  <clr-control-helper
    >Mehrfachauswahl bitte über Pfeiltasten und Enter</clr-control-helper
  >
</clr-combobox-container>
