<div class="card m-0">
  <div class="card-header">
    <cds-icon shape="building"></cds-icon>
    Stammdaten
  </div>
  <div class="card-block">
    <div class="clr-form clr-form-compact">
      <div class="clr-form-control">
        <label class="clr-control-label"
          >Betriebsstätten-Nr
          <app-tooltip>Betriebsstättennummer</app-tooltip>
        </label>
        <div class="clr-control-inline">
          {{ betriebsstaetteInfo.betriebsstaetteNr }}
        </div>
      </div>
      <div class="clr-form-control">
        <label class="clr-control-label"
          >Local-ID
          <app-tooltip
            >Local ID für InspireId eines fallweise generierten Objektes
            ProductionInstallation oder ProductionInstallationPart
          </app-tooltip>
        </label>
        <div class="clr-control-inline">{{ betriebsstaetteInfo.localId }}</div>
      </div>
      <div class="clr-form-control">
        <label class="clr-control-label">Name</label>
        <div class="clr-control-inline">{{ betriebsstaetteInfo.name }}</div>
      </div>
      <div class="clr-form-control">
        <label class="clr-control-label">Ort</label>
        <div class="clr-control-inline">{{ betriebsstaetteInfo.ort }}</div>
      </div>
      <div class="clr-form-control">
        <label class="clr-control-label">Vorschriften</label>
        <div class="clr-control-inline">{{ getVorschriften() }}</div>
      </div>
      <div class="clr-form-control">
        <label class="clr-control-label">Betriebsstatus</label>
        <div class="clr-control-inline">
          {{ betriebsstaetteInfo.betriebsstatus }}
        </div>
      </div>
      <div class="clr-form-control">
        <label class="clr-control-label">Betriebsstatus seit</label>
        <div class="clr-control-inline">
          {{ betriebsstaetteInfo.betriebsstatusSeit | date: "mediumDate" }}
        </div>
      </div>
    </div>
  </div>

  <div class="card-footer">
    <button class="btn btn-sm btn-link" (click)="navigate(betriebsstaetteInfo)">
      Zu den Stammdaten
    </button>
  </div>
</div>
