<form clrForm [formGroup]="form" [clrLabelSize]="3">
  <span class="clr-sr-only"
    >Durch das Durchtabben dieses Formulars werden Validierungshinweise
    vorgelesen.</span
  >

  <clr-input-container>
    <label>Nummer</label>
    <input
      clrInput
      type="text"
      formControlName="betriebsstaetteNr"
      required
      readonly
    />
  </clr-input-container>

  <clr-input-container>
    <label>Name</label>
    <input
      clrInput
      type="text"
      placeholder="Name"
      formControlName="name"
      required
      class="input-full-width"
      data-cy="name"
    />
    <clr-control-error>Name wird benötigt (max. Länge 250)</clr-control-error>
  </clr-input-container>

  <clr-input-container>
    <label>Zuständige Behörde</label>
    <input
      clrInput
      type="text"
      formControlName="zustaendigeBehoerde"
      readonly
    />
  </clr-input-container>

  <clr-input-container>
    <label>AKZ</label>
    <input
      clrInput
      type="text"
      size="25"
      placeholder="Aufgabenbereichskennzahl"
      formControlName="akz"
      readonly
    />
    <clr-control-error>(max. Länge 14)</clr-control-error>
  </clr-input-container>

  <clr-date-container>
    <label>Inbetriebnahme</label>
    <input
      type="date"
      clrDate
      formControlName="inbetriebnahme"
      data-cy="inbetriebnahme"
    />
    <clr-control-error *clrIfError="'date'">
      Bitte gültiges Datum eingeben.
    </clr-control-error>
  </clr-date-container>

  <clr-select-container>
    <label>Betriebsstatus</label>
    <app-referenz-select
      clrSelect
      formControlName="betriebsstatus"
      required
      data-cy="betriebsstatus"
      [referenzliste]="betriebsstatusListe.values"
    ></app-referenz-select>
    <clr-control-error>Betriebsstatus wird benötigt</clr-control-error>
  </clr-select-container>

  <clr-date-container>
    <label
      >Seit
      <app-tooltip>Datum der letzten Änderung des Betriebsstatus</app-tooltip>
    </label>
    <input
      type="date"
      clrDate
      formControlName="betriebsstatusSeit"
      [max]="today"
    />
    <clr-control-error *clrIfError="'date'"
      >Bitte gültiges Datum eingeben.
    </clr-control-error>
  </clr-date-container>

  <clr-combobox-container class="input-full-width">
    <label>NACE-Code</label>
    <clr-combobox formControlName="naceCode">
      <clr-options>
        <clr-option
          *clrOptionItems="let code of naceCodeListe.values; field: 'ktext'"
          [clrValue]="code"
          >{{ code.ktext }}</clr-option
        >
      </clr-options>
    </clr-combobox>
    <clr-control-helper>
      Zur Anzeige der gesamten Liste bitte Suchfeld leeren.
    </clr-control-helper>
  </clr-combobox-container>

  <clr-select-container>
    <label>Flusseinzugsgebiet</label>
    <app-referenz-select
      clrSelect
      formControlName="flusseinzugsgebiet"
      [referenzliste]="flusseinzugsgebietListe.values"
    >
    </app-referenz-select>
  </clr-select-container>

  <app-geo-punkt
    [form]="geoPunktForm"
    [epsgCodeListe]="epsgCodeListe"
  ></app-geo-punkt>

  <clr-control-container>
    <label>Abfallerzeuger-Nr.</label>
    <!-- Das Attribut [class.clr-input]="false" ist ein workaround für Clarity,
          da die Klasse ungewollte Eigenschaften bereitstellt, aber clrControl
          für Validierung und a18y benötigt wird -->
    <app-input-list
      clrControl
      [class.clr-input]="false"
      formControlName="abfallerzeugerNummern"
      data-cy="abfall"
    ></app-input-list>
    <clr-control-helper
      >Beginnen Sie, Text zu schreiben. Enter-Taste oder '+' fügt hinzu.
    </clr-control-helper>
  </clr-control-container>

  <clr-control-container>
    <label>Einleiter-Nr.</label>
    <app-input-list
      clrControl
      [class.clr-input]="false"
      formControlName="einleiterNummern"
    ></app-input-list>
    <clr-control-helper
      >Beginnen Sie, Text zu schreiben. Enter-Taste oder '+' fügt hinzu.
    </clr-control-helper>
  </clr-control-container>

  <clr-toggle-container>
    <label>Einleiterinformationen</label>
    <clr-toggle-wrapper>
      <label>Direkteinleiter</label>
      <input type="checkbox" clrToggle formControlName="direkteinleiter" />
    </clr-toggle-wrapper>
    <clr-toggle-wrapper>
      <label>Indirekteinleiter</label>
      <input type="checkbox" clrToggle formControlName="indirekteinleiter" />
    </clr-toggle-wrapper>
  </clr-toggle-container>
</form>
