<div class="card m-0">
  <div class="card-header actionbar">
    <div>
      <cds-icon shape="view-list"></cds-icon>
      Behörden
    </div>
    <div class="buttons">
      <div class="btn-group">
        <button
          class="btn btn-sm btn-secondary"
          (click)="alleMarkieren()"
          title="Alle Behörden markieren (gesamte Liste)"
          aria-label="Alle Behörden markieren (gesamte Liste)"
        >
          <cds-icon shape="check" aria-hidden="true"></cds-icon>
          Alle
        </button>
        <button
          class="btn btn-sm btn-secondary"
          (click)="markierungAufheben()"
          [disabled]="hatMarkierung()"
          title="Markierungen aufheben"
          aria-label="Markierungen aufheben"
        >
          <cds-icon shape="times" aria-hidden="true"></cds-icon>
          aufheben
        </button>
      </div>

      <button
        *ngIf="canDelete"
        class="btn btn-sm btn-secondary"
        (click)="openMarkierteLoeschenDialog()"
        [disabled]="hatMarkierung()"
        title="Markierte Behörden löschen"
      >
        <cds-icon shape="trash" aria-hidden="true"></cds-icon>
        Löschen
      </button>

      <div class="btn-group">
        <clr-dropdown>
          <button
            data-cy="aufgabenDropdown"
            type="button"
            class="btn btn-sm btn-secondary"
            clrDropdownTrigger
          >
            Aufgaben
            <cds-icon
              shape="angle"
              direction="down"
              aria-hidden="true"
            ></cds-icon>
          </button>
          <clr-dropdown-menu clrPosition="bottom-left" *clrIfOpen>
            <button
              data-cy="importModalOpen"
              class="btn btn-sm btn-secondary"
              *ngIf="canImport"
              (click)="importModalOpen = true"
              clrDropdownItem
            >
              XML-Import
            </button>
            <button
              class="btn btn-sm btn-secondary"
              [disabled]="hatMarkierung()"
              clrDropdownItem
              (click)="openExportDialog()"
            >
              XML-Export
            </button>
          </clr-dropdown-menu>
        </clr-dropdown>
      </div>

      <button
        *ngIf="canWrite"
        type="button"
        class="btn btn-sm btn-primary"
        [routerLink]="['neu']"
        data-cy="create-behoerde-btn"
      >
        <cds-icon shape="plus" aria-hidden="true"></cds-icon>
        Behörde hinzufügen
      </button>
    </div>
  </div>

  <div class="card-block pt-0 pb-4">
    <clr-datagrid [(clrDgSelected)]="selected" class="datagrid-compact">
      <clr-dg-column clrDgField="land">Land</clr-dg-column>
      <clr-dg-column clrDgField="kreis">Kreis</clr-dg-column>
      <clr-dg-column
        clrDgField="schluessel"
        [clrDgSortOrder]="SortOrder.ASC"
        data-cy="schluessel-col"
      >
        Schlüssel
      </clr-dg-column>
      <clr-dg-column clrDgField="bezeichnung">Bezeichnung</clr-dg-column>
      <clr-dg-column clrDgField="gueltigVon" clrDgColType="number">
        Gültig von
      </clr-dg-column>
      <clr-dg-column clrDgField="gueltigBis" clrDgColType="number">
        Gültig bis
      </clr-dg-column>
      <clr-dg-column>Aktionen</clr-dg-column>
      <clr-dg-placeholder>Keine Ergebnisse gefunden</clr-dg-placeholder>
      <clr-dg-row
        *clrDgItems="let behoerde of behoerdenListe"
        [clrDgItem]="behoerde"
        data-cy="behoerde-row"
      >
        <clr-dg-cell>{{ behoerde.land }}</clr-dg-cell>
        <clr-dg-cell>{{ behoerde.kreis }}</clr-dg-cell>
        <clr-dg-cell>{{ behoerde.schluessel }}</clr-dg-cell>
        <clr-dg-cell>{{ behoerde.bezeichnung }}</clr-dg-cell>
        <clr-dg-cell>{{ behoerde.gueltigVon }}</clr-dg-cell>
        <clr-dg-cell>{{ behoerde.gueltigBis }}</clr-dg-cell>
        <clr-dg-cell>
          <button
            class="btn btn-icon btn-primary-outline"
            [routerLink]="[behoerde.id]"
            aria-label="Behörde Öffnen"
            title="Behörde Öffnen"
          >
            <cds-icon shape="eye" aria-hidden="true"></cds-icon>
          </button>

          <button
            *ngIf="canWrite"
            class="btn btn-icon btn-primary-outline"
            (click)="kopieren(behoerde.id)"
            aria-label="Behörde Kopieren"
            title="Behörde Kopieren"
            data-cy="copy-btn"
          >
            <cds-icon shape="copy" aria-hidden="true"></cds-icon>
          </button>

          <button
            *ngIf="canDelete"
            class="btn btn-icon btn-primary-outline"
            (click)="openLoeschenDialog(behoerde.id)"
            aria-label="Behörde Löschen"
            title="Behörde Löschen"
          >
            <cds-icon shape="trash" aria-hidden="true"></cds-icon>
          </button>
        </clr-dg-cell>
      </clr-dg-row>

      <clr-dg-footer>
        <clr-dg-pagination
          #pagination
          [clrDgPageSize]="20"
          [clrDgTotalItems]="behoerdenListe?.length"
        >
          <clr-dg-page-size [clrPageSizeOptions]="[20, 50, 500]"
            >Behörden pro Seite
          </clr-dg-page-size>
          {{ pagination.firstItem + 1 }} - {{ pagination.lastItem + 1 }} von
          {{ pagination.totalItems }} Behörden
        </clr-dg-pagination>
      </clr-dg-footer>
    </clr-datagrid>
  </div>
</div>

<clr-modal [(clrModalOpen)]="loeschenDialog" [clrModalClosable]="false">
  <h3 class="modal-title">
    {{ behoerdenId ? "Behörde" : "Behörden" }} Löschen?
  </h3>
  <div class="modal-body">
    <p>
      Es werden alle Daten der
      {{ behoerdenId ? "Behörde" : "Behörden" }} gelöscht! Behörden können nur
      gelöscht werden, wenn sie nicht bereits verwendet werden.
    </p>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline"
      (click)="closeLoeschenDialog()"
    >
      Abbrechen
    </button>
    <button
      *ngIf="behoerdenId"
      [clrLoading]="loescht"
      type="button"
      class="btn btn-warning"
      (click)="deleteBehoerde()"
    >
      Löschen
    </button>
    <button
      *ngIf="!behoerdenId"
      [clrLoading]="loescht"
      type="button"
      class="btn btn-warning"
      (click)="deleteBehoerden()"
    >
      {{ selected?.length }}
      {{ selected?.length === 1 ? "Behörde" : "Behörden" }} Löschen
    </button>
  </div>
</clr-modal>

<clr-modal [(clrModalOpen)]="exportDialogOpen" [clrModalClosable]="false">
  <h3 class="modal-title">Behörden XML-Export</h3>
  <div class="modal-body">
    Soll der XML-Export von {{ selected?.length }} Behörde{{
      selected?.length > 1 ? "n" : ""
    }}
    gestartet werden?
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-secondary"
      (click)="closeExportDialog()"
    >
      Abbrechen
    </button>
    <button type="button" class="btn btn-primary" (click)="startExport()">
      Export starten
    </button>
  </div>
</clr-modal>

<app-import-modal
  [(open)]="importModalOpen"
  title="Behörden Importieren"
  [importService]="behoerdenImportAdapter"
>
</app-import-modal>
