.action-wrapper {
  margin-top: 1.25rem;
}

.actionbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.buttons {
  display: flex;
  align-items: center;
}

.box-row {
  display: flex;
  justify-content: center;
}

.bube-spinner-md {
  height: 1.8rem;
  width: 1.8rem;
  min-height: 1.8rem;
  min-width: 1.8rem;
}

.small-font {
  font-size: 12px;
  text-align: center;
  line-height: normal;
  word-break: break-word;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}
