<clr-modal
  [clrModalOpen]="open"
  (clrModalOpenChange)="changeOpen($event)"
  [clrModalClosable]="false"
>
  <h3 class="modal-title">{{ title }}</h3>
  <div class="modal-body">
    <clr-alert *ngIf="alert" [clrAlertType]="alert.type">
      <clr-alert-item>
        <span class="alert-text">
          {{ alert.text }}
        </span>
      </clr-alert-item>
    </clr-alert>

    <a
      *ngIf="showUpload"
      (dragover)="dragover($event)"
      (drop)="drop($event)"
      (click)="onUploadClicked()"
      (keydown.enter)="onUploadClicked()"
      class="card clickable mt-1"
      tabindex="0"
    >
      <div class="card-block">
        <div class="box-row pt-4">
          <cds-icon
            *ngIf="!loading"
            shape="upload"
            size="24"
            class="is-info"
          ></cds-icon>
          <clr-spinner
            *ngIf="loading"
            [clrInline]="true"
            class="bube-spinner-md"
          ></clr-spinner>
        </div>
        <div class="box-row pt-1 pb-2">
          <p>{{ infoText }}</p>
        </div>
        <input
          data-cy="fileUploadInput"
          #fileUploadInput
          type="file"
          accept=".xml"
          style="display: none"
          [disabled]="uploadRunning"
          (change)="onUploadChanged($event.target.files)"
        />
      </div>
    </a>
    <a
      *ngIf="!showUpload"
      (click)="dateiLoeschen()"
      (keydown.enter)="dateiLoeschen()"
      class="card clickable mt-1"
      tabindex="0"
    >
      <div class="card-block">
        <div class="box-row pt-4">
          <cds-icon
            shape="file"
            size="36"
            class="is-info"
            aria-hidden="true"
          ></cds-icon>
        </div>
        <div class="box-row pb-2">
          <strong>{{ fileName }}</strong>
        </div>
        <div class="box-row">(Klicken, um Datei zu löschen)</div>
      </div>
    </a>

    <div
      *ngIf="existingDateiName"
      class="clr-row ml-1 mr-1 mt-1"
      style="justify-content: space-evenly"
    >
      <span
        >Es ist bereits eine Datei hochgeladen worden: '<strong>{{
          existingDateiName
        }}</strong
        >'. Welche Datei soll für den Import verwendet werden?</span
      >
      <a
        (click)="nichtUeberschreiben()"
        (keydown.enter)="nichtUeberschreiben()"
        class="card clickable clr-col-5 mt-1 center"
        tabindex="0"
      >
        <div class="card-block">
          <div class="box-row">
            <cds-icon
              shape="file"
              size="30"
              status="danger"
              aria-hidden="true"
            ></cds-icon>
          </div>
          <div class="box-row small-font">
            <span
              ><strong>{{ existingDateiName }}</strong
              ><br />(alt)</span
            >
          </div>
        </div>
      </a>
      <a
        (click)="ueberschreiben()"
        (keydown.enter)="ueberschreiben()"
        class="card clickable clr-col-5 mt-1 center"
        tabindex="0"
      >
        <div class="card-block">
          <div class="box-row">
            <cds-icon
              shape="file"
              size="30"
              status="success"
              aria-hidden="true"
            ></cds-icon>
          </div>
          <div class="box-row small-font">
            <span
              ><strong>{{ toBeUploaded.name }}</strong
              ><br />(neu)</span
            >
          </div>
        </div>
      </a>
    </div>

    <div *ngIf="showHinweise">
      <h4>Validierungshinweise:</h4>
      <clr-accordion>
        <clr-accordion-panel *ngIf="validierungsFehler.length > 0">
          <clr-accordion-title>Fehler</clr-accordion-title>
          <clr-accordion-content *clrIfExpanded>
            <ol>
              <li *ngFor="let hinweis of validierungsFehler">
                {{ hinweis.hinweis }}
              </li>
            </ol>
          </clr-accordion-content>
        </clr-accordion-panel>
        <clr-accordion-panel *ngIf="validierungsWarnungen.length > 0">
          <clr-accordion-title>Warnungen</clr-accordion-title>
          <clr-accordion-content *clrIfExpanded>
            <ol>
              <li *ngFor="let hinweis of validierungsWarnungen">
                {{ hinweis.hinweis }}
              </li>
            </ol>
          </clr-accordion-content>
        </clr-accordion-panel>
      </clr-accordion>
    </div>

    <div *ngIf="importBereit">
      <p>
        Nach dem Klicken auf 'Import starten' schließt sich das Fenster und der
        Import wird im Hintergrund ausgeführt.
      </p>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline" (click)="closeImportDialog()">
      Abbrechen
    </button>
    <button
      data-cy="importStartenBtn"
      type="button"
      class="btn btn-success"
      (click)="startImport()"
      [disabled]="!importBereit"
      [clrLoading]="loading"
    >
      Import starten
    </button>
  </div>
</clr-modal>
