<div class="card m-0">
  <div class="card-header actionbar">
    <div>
      <cds-icon shape="cloud"></cds-icon>
      <span>
        Quelle:
        {{ vergleich.name.spl | ellipsize: 100 }}
      </span>
    </div>
    <div>
      <div class="btn-group list-action-buttons">
        <button class="btn btn-sm btn-secondary-outline" (click)="back()">
          <cds-icon shape="times" aria-hidden="true"></cds-icon>
          Abbrechen
        </button>
        <button
          class="btn btn-sm btn-primary"
          [disabled]="!canUebernehmen()"
          (click)="uebernahmeDialogOpen = true"
          data-cy="uebernehmen"
        >
          <cds-icon shape="floppy" aria-hidden="true"></cds-icon>
          Übernehmen
        </button>
      </div>
    </div>
  </div>
  <div class="card-block">
    <div class="clr-row">
      <div class="clr-col-3"></div>
      <div class="clr-col-4">SPL</div>
      <div class="clr-col-4">SPB</div>
      <div class="clr-col-1">Übernahme</div>
    </div>
    <app-vergleichszeile
      label="Nummer"
      [spl]="vergleich.quelleNr.spl"
      [spb]="vergleich.quelleNr.spb"
      [isEqual]="vergleich.quelleNr.equal"
      [(checkValue)]="quelleNrUebernehmen"
    ></app-vergleichszeile>
    <app-vergleichszeile
      label="Name"
      [spl]="vergleich.name.spl"
      [spb]="vergleich.name.spb"
      [isEqual]="vergleich.name.equal"
      [(checkValue)]="nameUebernehmen"
    ></app-vergleichszeile>
    <app-vergleichszeile
      label="Geo-Punkt"
      [spl]="getGeoPunktText(vergleich.geoPunkt.spl)"
      [spb]="getGeoPunktText(vergleich.geoPunkt.spb)"
      [isEqual]="vergleich.geoPunkt.equal"
      [(checkValue)]="geoPunktUebernemen"
    ></app-vergleichszeile>
    <app-vergleichszeile
      label="Fläche [m²]"
      [spl]="vergleich.flaeche.spl | number"
      [spb]="vergleich.flaeche.spb | number"
      [isEqual]="vergleich.flaeche.equal"
      [(checkValue)]="flaecheUebernehmen"
    ></app-vergleichszeile>
    <app-vergleichszeile
      label="Länge [m]"
      [spl]="vergleich.laenge.spl | number"
      [spb]="vergleich.laenge.spb | number"
      [isEqual]="vergleich.laenge.equal"
      [(checkValue)]="laengeUebernehmen"
    ></app-vergleichszeile>
    <app-vergleichszeile
      label="Breite [m]"
      [spl]="vergleich.breite.spl | number"
      [spb]="vergleich.breite.spb | number"
      [isEqual]="vergleich.breite.equal"
      [(checkValue)]="breiteUebernehmen"
    ></app-vergleichszeile>
    <app-vergleichszeile
      label="Durchmesser [m]"
      [spl]="vergleich.durchmesser.spl | number"
      [spb]="vergleich.durchmesser.spb | number"
      [isEqual]="vergleich.durchmesser.equal"
      [(checkValue)]="durchmesserUebernehmen"
    ></app-vergleichszeile>
    <app-vergleichszeile
      label="Bauhöhe [m]"
      [spl]="vergleich.bauhoehe.spl | number"
      [spb]="vergleich.bauhoehe.spb | number"
      [isEqual]="vergleich.bauhoehe.equal"
      [(checkValue)]="bauhoeheUebernehmen"
    ></app-vergleichszeile>
  </div>
</div>

<app-uebernahme-dialog
  [(open)]="uebernahmeDialogOpen"
  (uebernehmenOut)="uebernehmen($event)"
></app-uebernahme-dialog>
