<select
  clrSelect
  [attr.required]="required"
  [formControl]="control"
  [compareWith]="byIdComparison"
>
  <!-- Extra option für die Anzeige von ungültig gewordenen Referenzen -->
  <option *ngIf="ungueltigeReferenz" [ngValue]="control.value">
    {{ control.value.ktext }}
  </option>
  <option *ngIf="required == null || control.value == null" [ngValue]="null">
    Bitte wählen
  </option>
  <option *ngFor="let referenz of referenzliste" [ngValue]="referenz">
    {{ referenz.ktext }}
  </option>
</select>
