<clr-modal
  [clrModalOpen]="open"
  (clrModalOpenChange)="open = $event"
  [clrModalClosable]="false"
  data-cy="passwordModal"
>
  <h3 class="modal-title">Temporäres Passwort wurde vergeben</h3>
  <div class="modal-body">
    <clr-alert
      [clrAlertClosable]="false"
      clrAlertIcon="warning-standard"
      clrAlertType="warning"
    >
      <clr-alert-item>
        Sie haben einen Benutzer ohne E-Mail Adresse angelegt. Damit der
        Benutzer sich anmelden kann, muss ihm ein temporäres Passwort geschickt
        werden!
      </clr-alert-item>
    </clr-alert>
    <div style="justify-content: center; display: flex">
      <clr-alert
        class="small-absolute"
        *ngIf="showKopiertAlert | async"
        clrAlertIcon="success-standard"
        clrAlertType="success"
        [clrAlertClosable]="false"
      >
        <clr-alert-item>Kopiert</clr-alert-item>
      </clr-alert>
    </div>
    <p>Folgendes Passwort wurde generiert:</p>
    <div class="pt-2 pb-1">
      <div class="text-center">
        <span data-cy="tempPassword">
          <strong>
            {{ tempPassword }}
          </strong>
        </span>
        <button
          class="btn btn-icon btn-link"
          (click)="copyToClipboard()"
          aria-label="In die Zwischenablage kopieren"
          title="In die Zwischenablage kopieren"
          data-cy="copyTempPasswordBtn"
        >
          <cds-icon shape="copy" aria-hidden="true"></cds-icon>
        </button>
      </div>
    </div>
    <p>
      <strong>Achtung:</strong> Nach dem Schließen dieses Fensters kann nicht
      mehr auf das Passwort zugegriffen werden!
    </p>
    <div class="pt-2">
      <clr-checkbox-wrapper data-cy="tempPasswordCheckbox">
        <input
          type="checkbox"
          clrCheckbox
          required
          [(ngModel)]="tempPwAccepted"
        />
        <label>Ich habe das Passwort kopiert oder sicher abgelegt.</label>
      </clr-checkbox-wrapper>
    </div>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      title="{{ !tempPwAccepted ? 'Bitte bestätigen Sie die Checkbox' : '' }}"
      [disabled]="!tempPwAccepted"
      class="btn btn-primary"
      (click)="close()"
      data-cy="tempPasswordAck"
    >
      Ok
    </button>
  </div>
</clr-modal>
