<div [formGroup]="form">
  <clr-alert
    *ngIf="form.touched && form.hasError('atLeastOneRole')"
    clrAlertType="danger"
    [clrAlertClosable]="false"
  >
    Es muss mindestens eine Rolle ausgewählt werden
  </clr-alert>
  <clr-select-container *ngIf="bearbeiter.hasRolle(Rolle.LAND_READ)">
    <label>
      Land
      <app-tooltip>
        "löschen" beinhaltet "schreiben", "schreiben" beinhaltet "lesen"
      </app-tooltip>
    </label>
    <select clrSelect formControlName="land">
      <option *ngFor="let option of landOptions" [ngValue]="option.rolle">
        {{ option.displayText }}
      </option>
    </select>
  </clr-select-container>
  <clr-select-container *ngIf="bearbeiter.hasRolle(Rolle.BEHOERDE_READ)">
    <label>
      Behörde
      <app-tooltip>
        "löschen" beinhaltet "schreiben", "schreiben" beinhaltet "lesen"
      </app-tooltip>
    </label>
    <select clrSelect formControlName="behoerde">
      <option *ngFor="let option of behoerdeOptions" [ngValue]="option.rolle">
        {{ option.displayText }}
      </option>
    </select>
  </clr-select-container>
  <clr-select-container
    *ngIf="bearbeiter.hasRolle(Rolle.REFERENZLISTEN_BUND_READ)"
  >
    <label>
      Referenzlisten, bundeseinheitliche
      <app-tooltip>
        "löschen" beinhaltet "schreiben", "schreiben" beinhaltet "lesen"
      </app-tooltip>
    </label>
    <select clrSelect formControlName="referenzenBund">
      <option
        *ngFor="let option of referenzenBundOptions"
        [ngValue]="option.rolle"
      >
        {{ option.displayText }}
      </option>
    </select>
  </clr-select-container>
  <clr-select-container
    *ngIf="bearbeiter.hasRolle(Rolle.REFERENZLISTEN_LAND_READ)"
  >
    <label>
      Referenzlisten, landesspezifische
      <app-tooltip>
        "löschen" beinhaltet "schreiben", "schreiben" beinhaltet "lesen"
      </app-tooltip>
    </label>
    <select clrSelect formControlName="referenzenLand">
      <option
        *ngFor="let option of referenzenLandOptions"
        [ngValue]="option.rolle"
      >
        {{ option.displayText }}
      </option>
    </select>
  </clr-select-container>
  <clr-select-container
    *ngIf="bearbeiter.hasRolle(Rolle.BENUTZERVERWALTUNG_READ)"
  >
    <label>
      Benutzerverwaltung
      <app-tooltip>
        "löschen" beinhaltet "schreiben", "schreiben" beinhaltet "lesen"
      </app-tooltip>
    </label>
    <select clrSelect formControlName="benutzerverwaltung">
      <option
        *ngFor="let option of benutzerverwaltungOptions"
        [ngValue]="option.rolle"
      >
        {{ option.displayText }}
      </option>
    </select>
  </clr-select-container>
  <clr-toggle-container *ngIf="bearbeiter.hasRolle(Rolle.ADMIN)">
    <label>
      Admin
      <app-tooltip>
        Beinhaltet die Rollen Behörde, Land, Benutzerverwaltung und
        Referenzlisten (Land) jeweils lesen, schreiben und löschen
      </app-tooltip>
    </label>
    <clr-toggle-wrapper>
      <input clrToggle type="checkbox" formControlName="admin" />
    </clr-toggle-wrapper>
  </clr-toggle-container>
  <clr-toggle-container *ngIf="bearbeiter.hasRolle(Rolle.GESAMTADMIN)">
    <label>
      Gesamtadmin
      <app-tooltip>
        Beinhaltet die Rollen Admin und Referenzlisten (Bund) lesen, schreiben
        und löschen
      </app-tooltip>
    </label>
    <clr-toggle-wrapper>
      <input clrToggle type="checkbox" formControlName="gesamtadmin" />
    </clr-toggle-wrapper>
  </clr-toggle-container>
</div>
