<button class="btn btn-link btn-sm" (click)="navigateBackToParent()">
  < Zurück zum Betriebsstättenbericht
</button>
<div class="card m-0">
  <div class="card-header actionbar">
    <div>
      <cds-icon shape="list"></cds-icon>
      EUReg Berichtsdaten
      {{ isAnlageBericht ? "zur Anlage" : "zum Anlageteil" }}:
      {{ euRegAnlage?.anlagenInfo.name }}
    </div>
    <div>
      <div class="btn-group list-action-buttons">
        <button
          *ngIf="canWrite"
          (click)="reset()"
          class="btn btn-sm btn-secondary-outline"
          [disabled]="this.form.pristine"
        >
          <cds-icon shape="times" aria-hidden="true"></cds-icon>
          Verwerfen
        </button>
        <button
          *ngIf="canWrite"
          (click)="save()"
          class="btn btn-sm btn-primary"
          [disabled]="this.form.pristine"
          data-cy="saveAnlage"
        >
          <cds-icon shape="floppy" aria-hidden="true"></cds-icon>
          Speichern
        </button>
      </div>
    </div>
  </div>

  <div class="card-block">
    <clr-tabs clrLayout="horizontal">
      <clr-tab>
        <button clrTabLink>
          Allgemein
          <cds-icon
            class="is-error"
            *ngIf="allgemeinForm.invalid"
            shape="error-standard"
            status="danger"
            aria-label="Validierungsfehler"
          ></cds-icon>
        </button>
        <ng-template [(clrIfActive)]="allgemeinReiterActive">
          <clr-tab-content>
            <app-anlagen-bericht-allgemein
              [form]="allgemeinForm"
              [saveAttempt]="saveAttempt"
              [behoerdenListe]="behoerdenListe"
              [bearbeitungsstatusListe]="bearbeitungsstatusListe"
              [anwendbareBvtListe]="anwendbareBVTListe"
              [kapitelIeRlListe]="kapitelIeRlListe"
              [bearbeitungsstatusSeit]="
                euRegAnlage.berichtsdaten.bearbeitungsstatusSeit
              "
            ></app-anlagen-bericht-allgemein>
          </clr-tab-content>
        </ng-template>
      </clr-tab>
      <clr-tab>
        <button clrTabLink>
          Genehmigung
          <cds-icon
            class="is-error"
            *ngIf="genehmigungForm.invalid"
            shape="error-standard"
            status="danger"
            aria-label="Validierungsfehler"
          ></cds-icon>
        </button>
        <clr-tab-content *clrIfActive>
          <app-anlagen-bericht-genehmigungen
            [saveAttempt]="saveAttempt"
            [form]="genehmigungForm"
            [zustaendigeBehoerde]="zustaendigeBehoerde"
          ></app-anlagen-bericht-genehmigungen>
        </clr-tab-content>
      </clr-tab>
      <clr-tab>
        <button clrTabLink>
          BVT-Ausnahmen
          <cds-icon
            class="is-error"
            *ngIf="bvtAusnahmenForm.invalid"
            shape="error-standard"
            status="danger"
            aria-label="Validierungsfehler"
          ></cds-icon>
        </button>
        <clr-tab-content *clrIfActive>
          <app-anlagen-bericht-bvt-ausnahmen
            [formArray]="bvtAusnahmenForm"
            [emissionswertAusnahmenListe]="emissionswertAusnahmenListe"
            [zustaendigeBehoerde]="zustaendigeBehoerde"
          ></app-anlagen-bericht-bvt-ausnahmen>
        </clr-tab-content>
      </clr-tab>
      <clr-tab>
        <button clrTabLink>
          Strengere Genehmigungsauflagen
          <cds-icon
            class="is-error"
            *ngIf="auflagenForm.invalid"
            shape="error-standard"
            status="danger"
            aria-label="Validierungsfehler"
          ></cds-icon>
        </button>
        <clr-tab-content *clrIfActive>
          <app-anlagen-bericht-auflagen
            [formArray]="auflagenForm"
            [emissionswertListe]="emissionswertAusnahmenListe"
          ></app-anlagen-bericht-auflagen>
        </clr-tab-content>
      </clr-tab>
      <clr-tab *ngIf="hasBImSCHV13 || hasBImSCHV17">
        <button clrTabLink>
          13./17. BImSchV
          <cds-icon
            class="is-error"
            *ngIf="feuerungsanlageForm.invalid"
            shape="error-standard"
            status="danger"
            aria-label="Validierungsfehler"
          ></cds-icon>
        </button>
        <clr-tab-content *clrIfActive>
          <app-anlagen-bericht-feuerungsanlage
            [form]="feuerungsanlageForm"
            [saveAttempt]="saveAttempt"
            [hat17BImSchV]="euRegAnlage.anlagenInfo.bimschv17"
            [hat13BImSchV]="euRegAnlage.anlagenInfo.bimschv13"
            [ieAusnahmenListe]="ausnahmenArt31bis35Liste"
          >
          </app-anlagen-bericht-feuerungsanlage>
        </clr-tab-content>
      </clr-tab>
      <clr-tab *ngIf="hasBImSCHV17">
        <button clrTabLink>
          Spezielle Bedingungen
          <cds-icon
            class="is-error"
            *ngIf="spezielleBedingungenForm.invalid"
            shape="error-standard"
            status="danger"
            aria-label="Validierungsfehler"
          ></cds-icon>
        </button>
        <clr-tab-content *clrIfActive>
          <app-anlagen-bericht-spezielle-bedingungen
            [formArray]="spezielleBedingungenForm"
            [spezielleBedingungArtListe]="spezielleBedingungArtListe"
            [zustaendigeBehoerde]="zustaendigeBehoerde"
          >
          </app-anlagen-bericht-spezielle-bedingungen>
        </clr-tab-content>
      </clr-tab>
    </clr-tabs>
  </div>

  <div class="card-footer" style="font-size: 10px">
    Erfassung am:
    <em>{{ euRegAnlage?.ersteErfassung | date: "short" }}</em> | letzte Änderung
    am: <em>{{ euRegAnlage?.letzteAenderung | date: "short" }}</em> | Land:
    <em>{{ displayLand }}</em>
  </div>
</div>
