<div class="card">
  <div class="card-header actionbar">
    <div>
      <cds-icon shape="factory"></cds-icon>
      Anlagenteile
    </div>
    <div class="list-action-buttons">
      <button
        *ngIf="canDelete"
        class="btn btn-sm btn-secondary"
        (click)="openMarkierteLoeschenDialog()"
        [disabled]="nothingSelected"
        title="Markierte Anlagenteile löschen"
      >
        <cds-icon shape="trash" aria-hidden="true"></cds-icon>
        Löschen
      </button>
      <button
        *ngIf="canWrite"
        type="button"
        class="btn btn-sm btn-secondary"
        [disabled]="neueAnlage()"
        [routerLink]="['anlagenteil', 'neu']"
        data-cy="createAnlagenteil"
      >
        <cds-icon shape="plus" aria-hidden="true"></cds-icon>
        Anlagenteil hinzufügen
      </button>
    </div>
  </div>
  <div class="card-block pt-0 pb-4">
    <clr-datagrid
      class="datagrid-compact"
      [clrDgLoading]="loading"
      [(clrDgSelected)]="selected"
    >
      <clr-dg-column [clrDgField]="'nummer'" [clrDgSortOrder]="SortOrder.ASC">
        Anlagenteil-Nr.
      </clr-dg-column>
      <clr-dg-column [clrDgField]="'name'"> Name</clr-dg-column>
      <clr-dg-column [clrDgField]="'betriebsstatus'">
        Betriebsstatus
      </clr-dg-column>
      <clr-dg-column [clrDgField]="'letzteAenderungBetreiber'">
        Änderung Betreiber
      </clr-dg-column>
      <clr-dg-column>Aktionen</clr-dg-column>
      <clr-dg-placeholder>Keine Ergebnisse gefunden</clr-dg-placeholder>
      <clr-dg-row
        *clrDgItems="let anlage of anlagenteilListe"
        [clrDgItem]="anlage"
        data-cy="anlagenteilRow"
      >
        <clr-dg-cell>{{ anlage.nummer }}</clr-dg-cell>
        <clr-dg-cell>{{ anlage.name }}</clr-dg-cell>
        <clr-dg-cell>{{ anlage.betriebsstatus }}</clr-dg-cell>
        <clr-dg-cell>{{
          anlage.letzteAenderungBetreiber | date: "short"
        }}</clr-dg-cell>
        <clr-dg-cell>
          <button
            class="btn btn-icon btn-primary-outline"
            [routerLink]="['anlagenteil', 'nummer', anlage.nummer]"
            aria-label="Anlagenteil öffnen"
            title="Anlagenteil öffnen"
          >
            <cds-icon shape="eye" aria-hidden="true"></cds-icon>
          </button>
          <button
            *ngIf="canDelete"
            class="btn btn-icon btn-primary-outline"
            (click)="openLoeschenDialog(anlage.id)"
            aria-label="Anlagenteil löschen"
            title="Anlagenteil löschen"
          >
            <cds-icon shape="trash" aria-hidden="true"></cds-icon>
          </button>
        </clr-dg-cell>
      </clr-dg-row>

      <clr-dg-footer>
        <clr-dg-pagination
          #pagination
          [clrDgPageSize]="10"
          [clrDgTotalItems]="anlagenteilListe?.length"
        >
          <clr-dg-page-size [clrPageSizeOptions]="[10, 20, 50, 100]"
            >Anlagenteile pro Seite
          </clr-dg-page-size>
          {{ pagination.firstItem + 1 }} - {{ pagination.lastItem + 1 }} von
          {{ pagination.totalItems }} Anlagenteile
        </clr-dg-pagination>
      </clr-dg-footer>
    </clr-datagrid>
  </div>
</div>

<clr-modal [(clrModalOpen)]="loeschenDialog" [clrModalClosable]="false">
  <h3 class="modal-title">
    {{ anlagenteilId ? "Anlagenteil" : "Anlagenteile" }} Löschen?
  </h3>
  <div class="modal-body">
    <p>
      Es werden alle Daten
      {{ anlagenteilId ? "des Anlagenteils" : "der Anlagenteile" }}
      einschließlich Berichtsdaten gelöscht!
    </p>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline"
      (click)="closeLoeschenDialog()"
    >
      Abbrechen
    </button>
    <button
      *ngIf="anlagenteilId"
      type="button"
      class="btn btn-warning"
      (click)="deleteAnlagenteil()"
    >
      Löschen
    </button>
    <button
      *ngIf="!anlagenteilId"
      [clrLoading]="loescht"
      type="button"
      class="btn btn-warning"
      (click)="deleteAnlagenteile()"
    >
      {{ selected.length }}
      {{ selected.length === 1 ? "Anlagenteil" : "Anlagenteile" }} Löschen
    </button>
  </div>
</clr-modal>
