<section class="pb-4">
  <clr-datagrid
    class="datagrid-compact"
    *ngIf="formArray.length > 0; else keineDaten"
  >
    <clr-dg-column>Leistung</clr-dg-column>
    <clr-dg-column>Einheit</clr-dg-column>
    <clr-dg-column>Bezug</clr-dg-column>
    <clr-dg-column>Klasse</clr-dg-column>
    <clr-dg-column>Aktionen</clr-dg-column>
    <clr-dg-placeholder>Keine Ergebnisse gefunden</clr-dg-placeholder>
    <clr-dg-row
      *clrDgItems="let leistungControl of formArray.controls; index as i"
    >
      <clr-dg-cell>
        <cds-icon
          class="is-error"
          *ngIf="leistungControl.invalid"
          shape="error-standard"
          status="danger"
          aria-label="Validierungsfehler"
        ></cds-icon
        >{{ leistungControl.value.leistung | number }}</clr-dg-cell
      >
      <clr-dg-cell>{{ leistungControl.value.einheit.ktext }}</clr-dg-cell>
      <clr-dg-cell>{{ leistungControl.value.bezug }}</clr-dg-cell>
      <clr-dg-cell>{{
        leistungsklasseDisplayText[leistungControl.value.klasse]
      }}</clr-dg-cell>
      <clr-dg-cell>
        <button
          class="btn btn-icon btn-primary-outline"
          aria-label="Bearbeiten"
          [disabled]="!canWrite"
          (click)="bearbeiten(i)"
        >
          <cds-icon shape="note"></cds-icon>
        </button>
        <button
          class="btn btn-icon btn-primary-outline"
          aria-label="Löschen"
          [disabled]="!canWrite"
          (click)="loeschen(i)"
        >
          <cds-icon shape="trash"></cds-icon>
        </button>
      </clr-dg-cell>
    </clr-dg-row>
  </clr-datagrid>
  <section class="pt-2">
    <button
      *ngIf="canWrite"
      class="btn btn-secondary-outline"
      (click)="neu()"
      data-cy="neu"
    >
      <cds-icon shape="plus"></cds-icon>
      Neu
    </button>
  </section>
</section>

<!-- BEARBEITEN MODAL -->
<clr-modal
  *ngIf="leistungenForm"
  [(clrModalOpen)]="editModalOpen"
  [clrModalClosable]="false"
>
  <h3 class="modal-title">
    Leistung {{ editExistingIndex != null ? "bearbeiten" : "hinzufügen" }}
  </h3>
  <div class="modal-body">
    <form clrForm [formGroup]="leistungenForm">
      <span class="clr-sr-only">
        Durch das Durchtabben dieses Formulars werden Validierungshinweise
        vorgelesen.
      </span>

      <clr-input-container>
        <label>Leistung</label>
        <input
          clrInput
          type="number"
          name="leistung"
          formControlName="leistung"
          placeholder="Leistung"
          size="40"
          required
          data-cy="leistungswert"
        />
        <clr-control-error *clrIfError="'required'"
          >Leistung wird benötigt!
        </clr-control-error>
        <clr-control-error *clrIfError="'min'; error as err"
          >Muss mindestens {{ err.min }} sein!
        </clr-control-error>
        <clr-control-error *clrIfError="'preDecimalError'; error as err"
          >Maximal {{ err.maxPredecimalLength }}
          Vorkammastellen!
        </clr-control-error>
        <clr-control-error *clrIfError="'decimalError'; error as err">
          Maximal {{ err.maxDecimalLength }} Nachkommastellen!
        </clr-control-error>
      </clr-input-container>

      <clr-combobox-container>
        <label>Einheit</label>
        <clr-combobox formControlName="einheit" required>
          <clr-options data-cy="einheit-options">
            <clr-option
              *clrOptionItems="
                let einheit of einheitenListe.values;
                field: 'ktext'
              "
              [clrValue]="einheit"
              >{{ einheit.ktext }}</clr-option
            >
          </clr-options>
        </clr-combobox>
        <clr-control-helper>
          Zur Anzeige der gesamten Liste bitte Suchfeld leeren.
        </clr-control-helper>
        <clr-control-error *clrIfError="'required'"
          >Einheit wird benötigt</clr-control-error
        >
        <clr-control-error *clrIfError="'invalidReference'; error as error">
          Es wurden ungültige Referenzen gefunden: {{ error.ktext }}
        </clr-control-error>
      </clr-combobox-container>

      <clr-input-container>
        <label>Bezug</label>
        <input
          clrInput
          type="text"
          size="40"
          name="bezug"
          formControlName="bezug"
          placeholder="Bezug"
          data-cy="Bezug"
        />
        <clr-control-helper
          >Für Feuerungswärmeleistung “FWL“ oder “Feuerungswärmeleistung“
          angeben</clr-control-helper
        >
        <clr-control-error *clrIfError="'maxlength'; error as err"
          >Bezug darf maximal {{ err.requiredLength }} Zeichen beinhalten!
        </clr-control-error>
      </clr-input-container>

      <clr-select-container>
        <label>Klasse</label>
        <select clrSelect name="klasse" formControlName="klasse">
          <option [ngValue]="null">Bitte wählen</option>
          <option
            *ngFor="let klasse of leistungsklasseListe"
            [ngValue]="klasse"
          >
            {{ leistungsklasseDisplayText[klasse] }}
          </option>
        </select>
        <clr-control-error *clrIfError="'invalidReference'; error as error">
          Es wurden ungültige Referenzen gefunden:{{ error.ktext }}
        </clr-control-error>
      </clr-select-container>
    </form>
  </div>
  <div class="modal-footer">
    <button class="btn btn-outline" type="button" (click)="abbrechen()">
      Abbrechen
    </button>
    <button
      class="btn btn-primary"
      type="button"
      [disabled]="leistungenForm.pristine"
      (click)="uebernehmen()"
      data-cy="save"
    >
      Übernehmen
    </button>
  </div>
</clr-modal>

<ng-template #keineDaten>
  <div class="pt-5">
    Keine Daten vorhanden.
    {{ canWrite ? 'Klicken Sie auf das "+", um Einträge hinzuzufügen.' : "" }}
  </div>
</ng-template>
