<div class="card m-0">
  <div class="card-header actionbar">
    <div>
      <cds-icon shape="shield-check"></cds-icon>
      Regeln
    </div>

    <div class="buttons">
      <div class="btn-group">
        <button
          class="btn btn-sm btn-secondary"
          (click)="alleMarkieren()"
          title="Alle Regeln markieren (gesamte Liste)"
          aria-label="Alle Regeln markieren (gesamte Liste)"
        >
          <cds-icon shape="check" aria-hidden="true"></cds-icon>
          Alle
        </button>
        <button
          class="btn btn-sm btn-secondary"
          (click)="markierungAufheben()"
          [disabled]="hatKeineMarkierung()"
          title="Markierungen aufheben"
          aria-label="Markierungen aufheben"
        >
          <cds-icon shape="times" aria-hidden="true"></cds-icon>
          aufheben
        </button>
      </div>

      <div class="btn-group" *ngIf="canTypAendern">
        <clr-dropdown>
          <button
            type="button"
            class="btn btn-sm btn-secondary"
            clrDropdownTrigger
            [disabled]="hatKeineMarkierungFuerTypAenderung()"
          >
            Typ für mein Land ändern
            <cds-icon shape="angle" direction="down"></cds-icon>
          </button>
          <clr-dropdown-menu clrPosition="bottom-left" *clrIfOpen>
            <button
              class="btn btn-sm btn-secondary"
              (click)="typAendern(TypEnum.FEHLER)"
              *ngIf="true"
              clrDropdownItem
            >
              Fehler
            </button>
            <button
              class="btn btn-sm btn-secondary"
              (click)="typAendern(TypEnum.WARNUNG)"
              clrDropdownItem
            >
              Warnung
            </button>
            <button
              class="btn btn-sm btn-secondary"
              (click)="typAendern(TypEnum.IGNORIERT)"
              clrDropdownItem
            >
              Ignoriert
            </button>
          </clr-dropdown-menu>
        </clr-dropdown>
      </div>

      <div class="btn-group list-action-buttons">
        <button
          *ngIf="isGesamtadmin"
          type="button"
          class="btn btn-sm btn-secondary"
          (click)="openGemeindekoordinatenImport()"
        >
          Gemeindekoordinaten Import
        </button>
      </div>

      <div class="btn-group list-action-buttons">
        <button
          *ngIf="canHinzufuegen"
          [routerLink]="['neu']"
          type="button"
          class="btn btn-sm btn-primary"
          data-cy="createRegel"
        >
          <cds-icon shape="plus" aria-hidden="true"></cds-icon>
          Regel hinzufügen
        </button>
      </div>
    </div>
  </div>

  <div class="card-block pt-0 pb-4">
    <clr-datagrid [(clrDgSelected)]="selected" class="datagrid-compact">
      <clr-dg-column clrDgField="nummer" [clrDgSortOrder]="SortOrder.ASC">
        Nummer
      </clr-dg-column>
      <clr-dg-column clrDgField="land">Land</clr-dg-column>
      <clr-dg-column clrDgField="objekte">Objekte</clr-dg-column>
      <clr-dg-column clrDgField="gruppe">Gruppe</clr-dg-column>
      <clr-dg-column clrDgField="typ">Typ</clr-dg-column>
      <clr-dg-column>Typ Änderung BL</clr-dg-column>
      <clr-dg-column clrDgField="typBundeseinheitlich">
        Bundeseinheitlich
        <clr-dg-filter>
          <app-datagrid-boolean-filter
            property="typBundeseinheitlich"
          ></app-datagrid-boolean-filter>
        </clr-dg-filter>
      </clr-dg-column>
      <clr-dg-column clrDgField="beschreibung">Beschreibung</clr-dg-column>
      <clr-dg-column clrDgField="gueltigVon" clrDgColType="number">
        Gültig von
      </clr-dg-column>
      <clr-dg-column clrDgField="gueltigBis" clrDgColType="number">
        Gültig bis
      </clr-dg-column>
      <clr-dg-column>Aktionen</clr-dg-column>
      <clr-dg-placeholder>Keine Ergebnisse gefunden</clr-dg-placeholder>
      <clr-dg-row *clrDgItems="let regel of regelliste" [clrDgItem]="regel">
        <clr-dg-cell>{{ regel.nummer }}</clr-dg-cell>
        <clr-dg-cell>{{ regel.land }}</clr-dg-cell>
        <clr-dg-cell>{{ getObjekte(regel) }}</clr-dg-cell>
        <clr-dg-cell>{{ regel.gruppe }}</clr-dg-cell>
        <clr-dg-cell>{{ regel.typ }}</clr-dg-cell>
        <clr-dg-cell>{{ getTypAenderungen(regel) }}</clr-dg-cell>
        <clr-dg-cell>{{ getBundeseinheitlich(regel) }}</clr-dg-cell>
        <clr-dg-cell>{{ regel.beschreibung }}</clr-dg-cell>
        <clr-dg-cell>{{ regel.gueltigVon }}</clr-dg-cell>
        <clr-dg-cell>{{ regel.gueltigBis }}</clr-dg-cell>
        <clr-dg-cell>
          <button
            class="btn btn-icon btn-primary-outline"
            [routerLink]="[regel.nummer]"
            aria-label="Regel öffnen"
            title="Regel öffnen"
          >
            <cds-icon shape="eye" aria-hidden="true"></cds-icon>
          </button>
          <button
            *ngIf="canCopy(regel)"
            class="btn btn-icon btn-primary-outline"
            (click)="kopieren(regel)"
            aria-label="Regel Kopieren"
            title="Regel Kopieren"
          >
            <cds-icon shape="copy" aria-hidden="true"></cds-icon>
          </button>
          <button
            *ngIf="canDelete(regel)"
            class="btn btn-icon btn-primary-outline"
            (click)="openLoeschenDialog(regel)"
            aria-label="Regel Löschen"
            title="Regel Löschen"
          >
            <cds-icon shape="trash" aria-hidden="true"></cds-icon>
          </button>
        </clr-dg-cell>
      </clr-dg-row>

      <clr-dg-footer>
        <clr-dg-pagination
          #pagination
          [clrDgPageSize]="20"
          [clrDgTotalItems]="regelliste?.length"
        >
          <clr-dg-page-size [clrPageSizeOptions]="[20, 50, 500]"
            >Regeln pro Seite
          </clr-dg-page-size>
          {{ pagination.firstItem + 1 }} - {{ pagination.lastItem + 1 }} von
          {{ pagination.totalItems }} Regeln
        </clr-dg-pagination>
      </clr-dg-footer>
    </clr-datagrid>
  </div>
</div>

<!-- Löschen Modal -->
<clr-modal [(clrModalOpen)]="loeschenDialog" [clrModalClosable]="false">
  <h3 class="modal-title">Regel Löschen?</h3>
  <div class="modal-body">
    <p>Die Regel wird gelöscht!</p>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline"
      (click)="closeLoeschenDialog()"
    >
      Abbrechen
    </button>
    <button type="button" class="btn btn-warning" (click)="deleteRegel()">
      Löschen
    </button>
  </div>
</clr-modal>

<!-- Gemeindekoordinaten Import Modal -->
<app-gemeindekoordinaten-import-modal
  (starteKoordinatenImportEvent)="gemeindekoordinatenImport($event)"
  [(open)]="gemeindekoordinatenImportDialog"
  [berichtsjahrListe]="berichtsjahrListe"
>
</app-gemeindekoordinaten-import-modal>
