<clr-modal
  [clrModalOpen]="open"
  (clrModalOpenChange)="open = $event"
  [clrModalClosable]="false"
  clrModalSize="lg"
>
  <h3 class="modal-title">Temporäre Passwörter vergeben</h3>
  <div class="modal-body">
    <p>
      Folgende Einmalpasswörter wurden generiert und können für die
      Erstanmeldung genutzt werden.
    </p>

    <clr-alert
      class="small-absolute"
      [(clrAlertClosed)]="hideKopiertAlert"
      clrAlertType="success"
    >
      <clr-alert-item>Kopiert</clr-alert-item>
    </clr-alert>

    <clr-datagrid [clrDgLoading]="!benutzer" class="user-table">
      <clr-dg-column>Benutzerkennung</clr-dg-column>
      <clr-dg-column>Name</clr-dg-column>
      <clr-dg-column>Temporäres Passwort</clr-dg-column>

      <clr-dg-row *ngFor="let row of benutzer">
        <clr-dg-cell>{{ row.benutzername }}</clr-dg-cell>
        <clr-dg-cell>{{ row.vorname }} {{ row.nachname }}</clr-dg-cell>
        <clr-dg-cell>
          {{ row.tempPassword }}
          <button
            class="btn btn-sm btn-icon btn-link"
            (click)="copyToClipboard(row.tempPassword)"
            aria-label="In die Zwischenablage kopieren"
            title="In die Zwischenablage kopieren"
          >
            <cds-icon shape="copy" aria-hidden="true"></cds-icon>
          </button>
        </clr-dg-cell>
      </clr-dg-row>
    </clr-datagrid>

    <button class="btn btn-sm" [disabled]="!benutzer" (click)="downloadCsv()">
      <cds-icon shape="download" aria-hidden="true"></cds-icon>
      Alle als CSV herunterladen
    </button>

    <p>
      <strong>Achtung:</strong>
      Nach dem Schließen dieses Fensters kann nicht mehr auf die Passwörter
      zugegriffen werden!
    </p>

    <clr-checkbox-wrapper>
      <input type="checkbox" clrCheckbox required [(ngModel)]="acknowledged" />
      <label>Ich habe die Passwörter kopiert oder sicher abgelegt.</label>
    </clr-checkbox-wrapper>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      title="{{ acknowledged ? '' : 'Bitte bestätigen Sie die Checkbox' }}"
      [disabled]="!acknowledged"
      class="btn btn-primary"
      (click)="open = false"
    >
      Ok
    </button>
  </div>
</clr-modal>
