<form clrForm [formGroup]="form">
  <span class="clr-sr-only">
    Durch das Durchtabben dieses Formulars werden Validierungshinweise
    vorgelesen.
  </span>

  <clr-input-container>
    <label>Nummer</label>
    <input
      clrInput
      type="text"
      placeholder="Nummer"
      formControlName="anlageNr"
      required
      data-cy="anlageNr"
      class="input-full-width"
    />
    <clr-control-error>Nummer wird benötigt (max. Länge 20)</clr-control-error>
  </clr-input-container>

  <clr-input-container>
    <label>Name</label>
    <input
      clrInput
      type="text"
      placeholder="Name"
      formControlName="name"
      required
      class="input-full-width"
      data-cy="anlageName"
    />
    <clr-control-error>Name wird benötigt (max. Länge 120)</clr-control-error>
  </clr-input-container>

  <clr-date-container data-cy="inbetriebnahme">
    <label>Inbetriebnahme</label>
    <input type="date" clrDate formControlName="inbetriebnahme" />
    <clr-control-error *clrIfError="'date'">
      Bitte gültiges Datum eingeben.
    </clr-control-error>
  </clr-date-container>

  <clr-select-container>
    <label>Betriebsstatus</label>
    <app-referenz-select
      clrSelect
      [referenzliste]="betriebsstatusListe.values"
      formControlName="betriebsstatus"
    ></app-referenz-select>
  </clr-select-container>

  <clr-date-container data-cy="betriebsstatusSeit">
    <label>
      Seit
      <app-tooltip>Datum der letzten Änderung des Betriebsstatus</app-tooltip>
    </label>
    <input
      type="date"
      clrDate
      formControlName="betriebsstatusSeit"
      [max]="today"
    />
    <clr-control-error *clrIfError="'date'">
      Bitte gültiges Datum eingeben.
    </clr-control-error>
  </clr-date-container>

  <app-geo-punkt
    [form]="geoPunktForm"
    [epsgCodeListe]="epsgCodeListe"
  ></app-geo-punkt>
</form>
