<div class="card">
  <div class="card-header actionbar">
    <div>
      <cds-icon shape="cloud"></cds-icon>
      Quellen
    </div>
    <div class="list-action-buttons">
      <button
        *ngIf="canDelete"
        class="btn btn-sm btn-secondary"
        (click)="openMarkierteLoeschenDialog()"
        [disabled]="nothingSelected"
        title="Markierte Quellen löschen"
      >
        <cds-icon shape="trash" aria-hidden="true"></cds-icon>
        Löschen
      </button>
      <button
        *ngIf="canWrite"
        type="button"
        class="btn btn-sm btn-secondary"
        [disabled]="neueBetriebsstaette()"
        [routerLink]="['quelle', 'neu']"
        data-cy="createQuelle"
      >
        <cds-icon shape="plus" aria-hidden="true"></cds-icon>
        Quelle hinzufügen
      </button>
    </div>
  </div>

  <div class="card-block pt-0 pb-4">
    <clr-datagrid
      class="datagrid-compact"
      [clrDgLoading]="loading"
      [(clrDgSelected)]="selected"
    >
      <clr-dg-column [clrDgField]="'nummer'" [clrDgSortOrder]="SortOrder.ASC"
        >Quellen-Nr.
      </clr-dg-column>
      <clr-dg-column [clrDgField]="'name'">Name</clr-dg-column>
      <clr-dg-column [clrDgField]="'aenderungBetreiber'"
        >Änderung Betreiber
      </clr-dg-column>
      <clr-dg-column>Aktionen</clr-dg-column>
      <clr-dg-placeholder>Keine Ergebnisse gefunden</clr-dg-placeholder>
      <clr-dg-row
        *clrDgItems="let quelle of quellenListe"
        [clrDgItem]="quelle"
        data-cy="quelleRow"
      >
        <clr-dg-cell>{{ quelle.nummer }}</clr-dg-cell>
        <clr-dg-cell>{{ quelle.name }}</clr-dg-cell>
        <clr-dg-cell>{{
          quelle.letzteAenderungBetreiber | date: "short"
        }}</clr-dg-cell>
        <clr-dg-cell>
          <button
            class="btn btn-icon btn-primary-outline"
            [routerLink]="['quelle', 'nummer', quelle.nummer]"
            aria-label="Quelle öffnen"
            title="Quelle öffnen"
          >
            <cds-icon shape="eye" aria-hidden="true"></cds-icon>
          </button>
          <button
            *ngIf="canDelete"
            class="btn btn-icon btn-primary-outline"
            (click)="openLoeschenDialog(quelle.id)"
            aria-label="Quelle löschen"
            title="Quelle löschen"
          >
            <cds-icon shape="trash" aria-hidden="true"></cds-icon>
          </button>
        </clr-dg-cell>
      </clr-dg-row>

      <clr-dg-footer>
        <clr-dg-pagination
          #pagination
          [clrDgPageSize]="20"
          [clrDgTotalItems]="quellenListe?.length"
        >
          <clr-dg-page-size [clrPageSizeOptions]="[20, 50, 500]"
            >Quellen pro Seite
          </clr-dg-page-size>
          {{ pagination.firstItem + 1 }} - {{ pagination.lastItem + 1 }} von
          {{ pagination.totalItems }} Quellen
        </clr-dg-pagination>
      </clr-dg-footer>
    </clr-datagrid>
  </div>
</div>

<clr-modal [(clrModalOpen)]="loeschenDialog" [clrModalClosable]="false">
  <h3 class="modal-title">{{ quelleId ? "Quelle" : "Quellen" }} Löschen?</h3>
  <div class="modal-body">
    <p>
      Es werden alle Daten der {{ quelleId ? "Quelle" : "Quellen" }} gelöscht!
    </p>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline"
      (click)="closeLoeschenDialog()"
    >
      Abbrechen
    </button>
    <button
      *ngIf="quelleId"
      type="button"
      class="btn btn-warning"
      (click)="deleteQuelle()"
    >
      Löschen
    </button>
    <button
      *ngIf="!quelleId"
      [clrLoading]="loescht"
      type="button"
      class="btn btn-warning"
      (click)="deleteQuellen()"
    >
      {{ selected.length }}
      {{ selected.length === 1 ? "Quelle" : "Quellen" }} Löschen
    </button>
  </div>
</clr-modal>
