<clr-main-container>
  <div *ngIf="loading" class="progress loop" data-cy="app-loading">
    <progress></progress>
    <div class="loading-overlay"></div>
  </div>
  <app-alert data-cy="alertContainer"></app-alert>
  <app-toolbar></app-toolbar>
  <router-outlet></router-outlet>
  <div class="footer"></div>
</clr-main-container>
