.loading-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

.main-container {
  overflow-x: hidden;
}

// Keine Funktionalität, versteckt aber, dass wir Platz für den Alert benötigen
.footer {
  height: inherit;
  max-height: 4rem;
  background: var(--clr-vertical-nav-bg-color, #e8e8e8);
}
