<div class="clr-row">
  <button class="btn btn-link btn-sm" (click)="navigateBackToUebersicht()">
    < Zurück zur Übersicht
  </button>
</div>
<div class="clr-row">
  <div class="card m-0 clr-col-xl-9 clr-col-12">
    <div class="card-header actionbar">
      <div>
        <cds-icon shape="shield-check"></cds-icon>
        {{ isNeu ? "Regel hinzufügen" : "Regel " + regel.nummer }}
      </div>
      <div>
        <div class="btn-group list-action-buttons">
          <button
            *ngIf="canWrite"
            (click)="reset()"
            class="btn btn-sm btn-secondary-outline"
            [disabled]="form.pristine"
          >
            <cds-icon shape="times" aria-hidden="true"></cds-icon>
            Verwerfen
          </button>

          <button
            *ngIf="canWrite"
            (click)="save()"
            class="btn btn-sm btn-primary"
            [disabled]="(canSave | async) === false"
            data-cy="saveRegel"
          >
            <cds-icon shape="floppy" aria-hidden="true"></cds-icon>
            Speichern
          </button>
        </div>
      </div>
    </div>
    <div class="card-block">
      <form clrForm [formGroup]="form">
        <span class="clr-sr-only"
          >Durch das Durchtabben dieses Formulars werden Validierungshinweise
          vorgelesen.</span
        >

        <clr-select-container *ngIf="isGesamtadmin">
          <label>Land</label>
          <select clrSelect formControlName="land" required>
            <option
              *ngFor="let land of LandProperties | keyvalue"
              [value]="land.value.nr"
            >
              {{ land.value.display }}
            </option>
          </select>
        </clr-select-container>

        <clr-input-container>
          <label>Beschreibung</label>
          <input
            class="input-full-width"
            clrInput
            formControlName="beschreibung"
            placeholder="Beschreibung"
            data-cy="beschreibung"
          />
          <clr-control-error
            >Beschreibung wird benötigt (max. Länge 2000)
          </clr-control-error>
        </clr-input-container>

        <clr-textarea-container class="input-full-width">
          <label
            >Code<br />
            <button
              (click)="openApiHelp()"
              class="btn btn-secondary btn-secondary-outline btn-sm"
            >
              Hilfe
            </button>
          </label>
          <textarea
            class="regel-code"
            clrTextarea
            formControlName="code"
            placeholder="Regelcode"
            rows="4"
            cols="120"
            data-cy="code"
          ></textarea>
          <clr-control-error
            >Code wird benötigt (max. Länge 4000)
          </clr-control-error>
        </clr-textarea-container>

        <clr-input-container>
          <label>Fehlertext</label>
          <input
            class="input-full-width"
            clrInput
            formControlName="fehlertext"
            placeholder="Fehlertext"
            data-cy="fehlertext"
          />
          <clr-control-error
            >Fehlertext wird benötigt (max. Länge 255)
          </clr-control-error>
        </clr-input-container>

        <clr-combobox-container>
          <label>Objekte</label>
          <clr-combobox
            formControlName="objekte"
            clrMulti="true"
            data-cy="objekte"
          >
            <ng-container *clrOptionSelected="let selected">
              {{ objekteDisplayText[selected] }}
            </ng-container>
            <clr-options>
              <clr-option
                *clrOptionItems="let objekt of objekteListe"
                [clrValue]="objekt"
              >
                {{ objekteDisplayText[objekt] }}
              </clr-option>
            </clr-options>
          </clr-combobox>
          <clr-control-helper
            >Beginnen Sie, Text zu schreiben oder wählen Sie aus.
          </clr-control-helper>
          <clr-control-error>Objekte werden benötigt</clr-control-error>
        </clr-combobox-container>

        <clr-select-container *ngIf="isGesamtadmin">
          <label>Gruppe</label>
          <select clrSelect name="gruppe" formControlName="gruppe" required>
            <option *ngFor="let gruppe of regelGruppeListe" [ngValue]="gruppe">
              {{ regelGruppeDisplayText[gruppe] }}
            </option>
          </select>
          <clr-control-error>Gruppe wird benötigt</clr-control-error>
        </clr-select-container>

        <clr-select-container>
          <label>Typ</label>
          <select clrSelect name="typ" formControlName="typ" required>
            <option *ngFor="let typ of regelTypListe" [ngValue]="typ">
              {{ regelTypDisplayText[typ] }}
            </option>
          </select>
          <clr-control-error>Typ wird benötigt</clr-control-error>
        </clr-select-container>

        <clr-toggle-container *ngIf="isGesamtadmin">
          <label>Typ bundeseinheitlich</label>
          <clr-toggle-wrapper>
            <label>{{ form.value.typBundeseinheitlich ? "Ja" : "Nein" }}</label>
            <input
              clrToggle
              formControlName="typBundeseinheitlich"
              type="checkbox"
            />
          </clr-toggle-wrapper>
        </clr-toggle-container>

        <clr-input-container>
          <label>Gültig von</label>
          <input clrInput type="number" required formControlName="gueltigVon" />
          <clr-control-error
            >Gültig von wird benötigt (min: 1900, max: 9999)
          </clr-control-error>
        </clr-input-container>

        <clr-input-container>
          <label>Gültig bis</label>
          <input clrInput type="number" required formControlName="gueltigBis" />
          <clr-control-error
            >Gültig bis wird benötigt (min: 1900, max: 9999)
          </clr-control-error>
        </clr-input-container>
      </form>
    </div>

    <div class="card-footer" style="font-size: 10px">
      letzte Änderung am: <em>{{ regel.letzteAenderung | date: "short" }}</em> |
      Land:
      <em>{{ displayLand }}</em>
    </div>
  </div>
  <div class="clr-col-xl-3 clr-col-12">
    <app-regel-test
      [code]="form.value.code"
      [regelObjekte]="form.value.objekte"
      (fehlerfreiEvent)="setFehlerfrei($event)"
    ></app-regel-test>
  </div>
</div>
