<section class="pb-4">
  <clr-datagrid
    class="datagrid-compact"
    *ngIf="formArray?.length > 0; else keineDaten"
  >
    <clr-dg-column>Emissionswert strengere</clr-dg-column>
    <clr-dg-column>Nach Art. 18 IE-RL</clr-dg-column>
    <clr-dg-column>Nach Art. 14 (4) IE-RL</clr-dg-column>
    <clr-dg-column>Aktionen</clr-dg-column>
    <clr-dg-placeholder>Keine Ergebnisse gefunden</clr-dg-placeholder>
    <clr-dg-row
      *clrDgItems="let auflageControl of formArray.controls; index as i"
    >
      <clr-dg-cell>
        <cds-icon
          class="is-error"
          *ngIf="auflageControl.invalid"
          shape="error-standard"
          status="danger"
          aria-label="Validierungsfehler"
        ></cds-icon>
        {{ auflageControl.value.emissionswert.ktext }}
      </clr-dg-cell>
      <clr-dg-cell>
        {{ auflageControl.value.nachArt18 ? "Ja" : "Nein" }}
      </clr-dg-cell>
      <clr-dg-cell>
        {{ auflageControl.value.nachArt14 ? "Ja" : "Nein" }}
      </clr-dg-cell>
      <clr-dg-cell>
        <button
          class="btn btn-icon btn-primary-outline"
          aria-label="Bearbeiten"
          [disabled]="!canWrite"
          (click)="bearbeiten(i)"
        >
          <cds-icon shape="note"></cds-icon>
        </button>
        <button
          *ngIf="canDelete"
          class="btn btn-icon btn-primary-outline"
          aria-label="Löschen"
          [disabled]="!canWrite"
          (click)="loeschen(i)"
        >
          <cds-icon shape="trash"></cds-icon>
        </button>
      </clr-dg-cell>
    </clr-dg-row>
  </clr-datagrid>
  <section class="pt-2">
    <button *ngIf="canWrite" class="btn btn-secondary-outline" (click)="neu()">
      <cds-icon shape="plus"></cds-icon>
      Neu
    </button>
  </section>
</section>

<!-- BEARBEITEN MODAL -->
<clr-modal
  *ngIf="auflageForm"
  [(clrModalOpen)]="editModalOpen"
  [clrModalClosable]="false"
  clrModalSize="lg"
>
  <h3 class="modal-title">
    Strengere Genehmigungsauflage
    {{ this.editExistingIndex != null ? "bearbeiten" : "hinzufügen" }}
  </h3>
  <div class="modal-body">
    <form clrForm [formGroup]="auflageForm">
      <span class="clr-sr-only">
        Durch das Durchtabben dieses Formulars werden Validierungshinweise
        vorgelesen.
      </span>

      <clr-combobox-container>
        <label
          >Emissionswert strengere Auflage
          <app-tooltip [positionBottom]="true">
            BVT-assoziierter Emissionswert
          </app-tooltip>
        </label>
        <clr-combobox formControlName="emissionswert" required>
          <clr-options>
            <clr-option
              *clrOptionItems="
                let emissionswert of emissionswertListe.values;
                field: 'ktext'
              "
              [clrValue]="emissionswert"
              >{{ emissionswert.ktext }}</clr-option
            >
          </clr-options>
        </clr-combobox>
        <clr-control-error *clrIfError="'required'"
          >Strengerer Emissionswert muss angegeben werden
        </clr-control-error>
        <clr-control-error *clrIfError="'invalidReference'; error as error">
          Es wurden ungültige Referenzen gefunden: {{ error.ktext }}
        </clr-control-error>
        <clr-control-helper>
          Zur Anzeige der gesamten Liste bitte Suchfeld leeren.
        </clr-control-helper>
      </clr-combobox-container>

      <clr-toggle-container>
        <label
          >Nach Art. 18 IE-RL
          <app-tooltip>
            Gibt es strengere Auflagen nach Art. 18 IE-RL?
          </app-tooltip>
        </label>
        <clr-toggle-wrapper>
          <input clrToggle type="checkbox" formControlName="nachArt18" />
          <label>{{ auflageForm.value.nachArt18 ? "Ja" : "Nein" }}</label>
        </clr-toggle-wrapper>
      </clr-toggle-container>

      <clr-toggle-container>
        <label
          >Nach Art. 14 (4) IE-RL
          <app-tooltip>
            Gibt es strengere Auflagen nach Art. 14 (4) IE-RL?
          </app-tooltip>
        </label>
        <clr-toggle-wrapper>
          <input clrToggle type="checkbox" formControlName="nachArt14" />
          <label>{{ auflageForm.value.nachArt14 ? "Ja" : "Nein" }}</label>
        </clr-toggle-wrapper>
      </clr-toggle-container>
    </form>
  </div>
  <div class="modal-footer">
    <button class="btn btn-outline" type="button" (click)="abbrechen()">
      Abbrechen
    </button>
    <button
      class="btn btn-primary"
      type="button"
      [disabled]="auflageForm.pristine"
      (click)="uebernehmen()"
    >
      Übernehmen
    </button>
  </div>
</clr-modal>

<ng-template #keineDaten>
  <div class="pt-5">
    Keine Daten vorhanden.
    {{ canWrite ? 'Klicken Sie auf das "+", um Einträge hinzuzufügen.' : "" }}
  </div>
</ng-template>
