<div class="card m-0">
  <div class="card-header actionbar">
    <div>
      <cds-icon shape="building"></cds-icon>
      <ng-container
        *ngIf="isNeu && !betriebsstaetteForm.value.allgemein?.name; else title"
      >
        Neue Betriebsstätte erfassen
      </ng-container>
      <ng-template #title
        ><span>
          Betriebsstätte:
          {{ betriebsstaetteForm.value.allgemein?.name | ellipsize: 100 }}
        </span></ng-template
      >
    </div>
    <div>
      <div class="btn-group list-action-buttons">
        <div class="btn-group">
          <clr-dropdown>
            <button
              *ngIf="canWrite && !isNeu"
              type="button"
              class="btn btn-sm btn-secondary"
              clrDropdownTrigger
              data-cy="aufgabenUebernahme"
            >
              <cds-icon
                *ngIf="betriebsstaette.schreibsperreBetreiber"
                shape="lock"
                aria-hidden="true"
              ></cds-icon>
              Änderungen Betreiber
              <cds-icon shape="angle" direction="down"></cds-icon>
            </button>
            <clr-dropdown-menu clrPosition="bottom-right" *clrIfOpen>
              <button
                *ngIf="!betriebsstaette.schreibsperreBetreiber"
                (click)="betreiberdatenSperren()"
                title="Stammdaten Betreiber sperren"
                aria-label="Stammdaten Betreiber sperren"
                class="btn btn-sm btn-secondary"
                clrDropdownItem
              >
                Sperren
              </button>
              <button
                *ngIf="betriebsstaette.schreibsperreBetreiber"
                (click)="betreiberdatenEntsperren()"
                class="btn btn-sm btn-secondary"
                title="Stammdaten Betreiber entsperren"
                aria-label="Stammdaten Betreiber entsperren"
                clrDropdownItem
              >
                Entsperren
              </button>
              <button
                (click)="betreiberdatenUebernehmen()"
                class="btn btn-sm btn-secondary"
                [disabled]="betriebsstaette.letzteAenderungBetreiber == null"
                title="Stammdaten Betreiber übernehmen"
                aria-label="Stammdaten Betreiber übernehmen"
                clrDropdownItem
              >
                Übernehmen
              </button>
              <button
                (click)="uebernahmeAbschliessenDialogOpen = true"
                class="btn btn-sm btn-secondary-outline"
                [disabled]="!betriebsstaette.letzteAenderungBetreiber"
                clrDropdownItem
              >
                Übernahme abschließen
              </button>
            </clr-dropdown-menu>
          </clr-dropdown>
        </div>
        <button
          *ngIf="canWrite"
          (click)="reset()"
          class="btn btn-sm btn-secondary-outline"
          [disabled]="this.betriebsstaetteForm.pristine"
        >
          <cds-icon shape="times" aria-hidden="true"></cds-icon>
          Verwerfen
        </button>
        <button
          *ngIf="canWrite"
          (click)="save()"
          class="btn btn-sm btn-primary"
          [disabled]="this.betriebsstaetteForm.pristine"
          data-cy="saveBetriebsstaette"
        >
          <cds-icon shape="floppy" aria-hidden="true"></cds-icon>
          Speichern
        </button>
      </div>
    </div>
  </div>
  <div class="card-block">
    <clr-tabs clrLayout="horizontal">
      <clr-tab>
        <button clrTabLink id="allgemein" data-cy="tabAllgemein">
          Allgemein
          <cds-icon
            class="is-error"
            *ngIf="allgemeinForm.invalid"
            shape="error-standard"
            status="danger"
            aria-label="Validierungsfehler"
          ></cds-icon>
        </button>
        <clr-tab-content *clrIfActive="true">
          <div class="reiter">
            <app-betriebsstaette-allgemein
              [form]="allgemeinForm"
              [saveAttempt]="saveAttempt"
            >
            </app-betriebsstaette-allgemein>
          </div>
        </clr-tab-content>
      </clr-tab>

      <clr-tab>
        <button clrTabLink id="adresse" data-cy="tabAdresse">
          Adresse
          <cds-icon
            class="is-error"
            *ngIf="adresseForm.invalid"
            shape="error-standard"
            status="danger"
            aria-label="Validierungsfehler"
          ></cds-icon>
        </button>
        <clr-tab-content *clrIfActive>
          <app-adresse
            [form]="adresseForm"
            [saveAttempt]="saveAttempt"
            [isoCodes]="isoCodes"
            [vertraulichkeitsgruende]="vertraulichkeitsgruende"
          >
          </app-adresse>
        </clr-tab-content>
      </clr-tab>

      <clr-tab>
        <button clrTabLink id="kommunikation">
          Kommunikation
          <cds-icon
            class="is-error"
            *ngIf="kommunikationForm.invalid"
            shape="error-standard"
            status="danger"
            aria-label="Validierungsfehler"
          ></cds-icon>
        </button>
        <clr-tab-content *clrIfActive>
          <app-kommunikation
            [formArray]="kommunikationForm"
            [kommunikationsTypen]="kommunikationsTypen"
          ></app-kommunikation>
        </clr-tab-content>
      </clr-tab>

      <clr-tab>
        <button clrTabLink id="ansprechpartner">
          Ansprechpersonen
          <cds-icon
            class="is-error"
            *ngIf="ansprechpartnerForm.invalid"
            shape="error-standard"
            status="danger"
            aria-label="Validierungsfehler"
          ></cds-icon>
        </button>
        <clr-tab-content *clrIfActive>
          <app-ansprechpartner
            [formArray]="ansprechpartnerForm"
            [kommunikationsTypen]="kommunikationsTypen"
            [funktionen]="funktionen"
          ></app-ansprechpartner>
        </clr-tab-content>
      </clr-tab>

      <clr-tab>
        <button clrTabLink>
          Weitere zuständige Behörden
          <cds-icon
            class="is-error"
            *ngIf="zustaendigeBehoerdenForm.invalid"
            shape="error-standard"
            status="danger"
            aria-label="Validierungsfehler"
          ></cds-icon>
        </button>
        <clr-tab-content *clrIfActive>
          <app-zustaendige-behoerden
            [formArray]="zustaendigeBehoerdenForm"
          ></app-zustaendige-behoerden>
        </clr-tab-content>
      </clr-tab>
    </clr-tabs>
  </div>
  <div class="card-footer" style="font-size: 10px">
    Erfassung am:
    <em>{{ betriebsstaette.ersteErfassung | date: "short" }}</em> | letzte
    Änderung am:
    <em>{{ betriebsstaette.letzteAenderung | date: "short" }}</em> |
    Betreiberdaten übernommen:
    <em>{{ betriebsstaette.betreiberdatenUebernommen ? "Ja" : "Nein" }}</em> |
    Anlagenkataster: <em>{{ betriebsstaette.referenzAnlagenkataster }}</em> |
    Land: <em>{{ displayLand }}</em>
  </div>
</div>

<clr-modal
  [(clrModalOpen)]="uebernahmeAbschliessenDialogOpen"
  [clrModalClosable]="false"
>
  <h3 class="modal-title">Betreiberdaten Übernahme abschließen</h3>
  <div class="modal-body">
    <span>Wollen Sie Übernahme der Betreiberdaten abschließen?</span>
    <br />
    <span
      >Achtung: Alle bisher nicht betrachteten Stammdaten-Änderungen des
      Betreibers werden gelöscht.</span
    >
  </div>
  <div class="modal-footer">
    <button
      class="btn btn-outline"
      type="button"
      (click)="uebernahmeAbschliessenDialogOpen = false"
    >
      Abbrechen
    </button>
    <button
      class="btn btn-primary"
      type="button"
      (click)="abschliessen()"
      data-cy="uebernehmenDialogButton"
    >
      Übernehmen
    </button>
  </div>
</clr-modal>
