.action-wrapper {
  margin-top: 1.25rem;
}

.actionbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.reiter {
  height: 650px;
  overflow-y: auto;
  overflow-x: hidden;
}
