<div class="clr-row">
  <div class="clr-col-3">{{ label }}:</div>
  <div class="clr-col-4">{{ spl }}</div>

  <div *ngIf="!isEqual" class="clr-col-4">{{ spb }}</div>
  <div *ngIf="!isEqual" class="clr-col-1">
    <clr-checkbox-wrapper>
      <input
        type="checkbox"
        clrCheckbox
        [(ngModel)]="checkValue"
        (change)="updateValue()"
      />
    </clr-checkbox-wrapper>
  </div>
</div>
