<form clrForm [formGroup]="form">
  <clr-input-container class="input-full-width">
    <label>Name</label>
    <input clrInput type="text" formControlName="name" required />
  </clr-input-container>
</form>
