<div class="card m-0">
  <div class="card-header actionbar">
    <div>
      <cds-icon shape="building"></cds-icon>
      Betriebsstätten
    </div>

    <div class="buttons">
      <div class="btn-group">
        <button
          class="btn btn-sm btn-secondary"
          (click)="alleMarkieren()"
          title="Alle Betriebsstätten markieren (gesamte Liste)"
          aria-label="Alle Betriebsstätten markieren (gesamte Liste)"
          data-cy="alleMarkieren"
        >
          <cds-icon shape="check" aria-hidden="true"></cds-icon>
          Alle
        </button>
        <button
          class="btn btn-sm btn-secondary"
          (click)="markierungAufheben()"
          [disabled]="nothingSelected"
          title="Markierungen aufheben"
          aria-label="Markierungen aufheben"
        >
          <cds-icon shape="times" aria-hidden="true"></cds-icon>
          aufheben
        </button>

        <button
          class="btn btn-sm btn-secondary"
          (click)="inDesktopSpeichern()"
          [disabled]="nothingSelected"
          title="Markierte Betriebsstätten in den Navigationsbaum übernehmen"
          aria-label="Markierte Betriebsstätten in den Navigationsbaum übernehmen"
          data-cy="addToNaviBaumBtn"
        >
          <cds-icon shape="tree-view" aria-hidden="true"></cds-icon>
          Navi-Baum
        </button>
      </div>
    </div>
  </div>

  <div class="card-block pt-0 pb-4">
    <clr-datagrid
      (clrDgRefresh)="onDatagridStateChanged($event)"
      class="datagrid-compact"
      [clrDgLoading]="loading"
      [(clrDgSelected)]="selectedIds"
    >
      <clr-dg-column>Betriebsstätten-Nr.</clr-dg-column>
      <clr-dg-column>Name</clr-dg-column>
      <clr-dg-column>Straße / Hausnr.</clr-dg-column>
      <clr-dg-column>PLZ</clr-dg-column>
      <clr-dg-column>Ort</clr-dg-column>
      <clr-dg-column>Zuständige Behörde</clr-dg-column>
      <clr-dg-column>AKZ</clr-dg-column>
      <clr-dg-column>Betriebsstatus</clr-dg-column>
      <clr-dg-column>Aktionen</clr-dg-column>
      <clr-dg-placeholder>Keine Ergebnisse gefunden</clr-dg-placeholder>
      <clr-dg-row
        *ngFor="let betriebsstaette of betriebsstaettenPage?.content"
        [clrDgItem]="betriebsstaette.id"
        data-cy="betriebsstaetteRow"
      >
        <clr-dg-cell>{{ betriebsstaette.nummer }}</clr-dg-cell>
        <clr-dg-cell>{{ betriebsstaette.name }}</clr-dg-cell>
        <clr-dg-cell
          >{{ betriebsstaette.adresseStrasse }}
          {{ betriebsstaette.adresseHausNr }}</clr-dg-cell
        >
        <clr-dg-cell>{{ betriebsstaette.adressePlz }}</clr-dg-cell>
        <clr-dg-cell>{{ betriebsstaette.adresseOrt }}</clr-dg-cell>
        <clr-dg-cell>{{ betriebsstaette.zustaendigeBehoerde }}</clr-dg-cell>
        <clr-dg-cell>{{ betriebsstaette.akz }}</clr-dg-cell>
        <clr-dg-cell>{{ betriebsstaette.betriebsstatus }}</clr-dg-cell>
        <clr-dg-cell>
          <button
            class="btn btn-icon btn-primary-outline"
            [routerLink]="[
              'betriebsstaette',
              'land',
              betriebsstaette.land,
              'nummer',
              betriebsstaette.nummer
            ]"
            aria-label="Betriebsstätte öffnen"
            title="Betriebsstätte öffnen"
            data-cy="oeffneBetriebsstaette"
          >
            <cds-icon shape="eye" aria-hidden="true"></cds-icon>
          </button>
        </clr-dg-cell>
      </clr-dg-row>

      <clr-dg-footer>
        <clr-dg-pagination
          #pagination
          [(clrDgPage)]="currentPage"
          [clrDgPageSize]="20"
          [clrDgTotalItems]="betriebsstaettenPage?.totalElements"
        >
          <clr-dg-page-size [clrPageSizeOptions]="[20, 50, 500]"
            >Betriebsstätten pro Seite
          </clr-dg-page-size>
          {{ pagination.firstItem + 1 }} - {{ pagination.lastItem + 1 }} von
          {{ pagination.totalItems }} Betriebsstätten
        </clr-dg-pagination>
      </clr-dg-footer>
    </clr-datagrid>
  </div>
</div>
