<div class="card m-0">
  <div class="card-header actionbar">
    <div>
      <cds-icon shape="list"></cds-icon>
      EUReg Berichtsdaten zur BST:
      {{ euRegBetriebsstaette.betriebsstaetteInfo?.name }}
    </div>
    <div>
      <div class="btn-group list-action-buttons">
        <button
          *ngIf="canWrite"
          (click)="reset()"
          class="btn btn-sm btn-secondary-outline"
          [disabled]="form.pristine"
        >
          <cds-icon shape="times" aria-hidden="true"></cds-icon>
          Verwerfen
        </button>

        <button
          *ngIf="canWrite"
          (click)="save()"
          class="btn btn-sm btn-primary"
          [disabled]="form.pristine"
          data-cy="saveBericht"
        >
          <cds-icon shape="floppy" aria-hidden="true"></cds-icon>
          Speichern
        </button>
      </div>
    </div>
  </div>
  <div class="card-block">
    <form clrForm [formGroup]="form" [clrLabelSize]="3">
      <span class="clr-sr-only">
        Durch das Durchtabben dieses Formulars werden Validierungshinweise
        vorgelesen.
      </span>

      <clr-combobox-container class="input-full-width">
        <label>Zuständige Behörde</label>
        <clr-combobox formControlName="zustaendigeBehoerde">
          <clr-options>
            <clr-option
              *clrOptionItems="
                let behoerde of behoerdenListe.values;
                field: 'ktext'
              "
              [clrValue]="behoerde"
            >
              {{ behoerde.ktext }}
            </clr-option>
          </clr-options>
        </clr-combobox>
        <clr-control-helper>
          Zur Anzeige der gesamten Liste bitte Suchfeld leeren.
        </clr-control-helper>
        <clr-control-error *clrIfError="'required'"
          >Zuständige Behörde wird benötigt
        </clr-control-error>
        <clr-control-error *clrIfError="'invalidReference'; error as error">
          Es wurden ungültige Referenzen gefunden: {{ error.ktext }}
        </clr-control-error>
      </clr-combobox-container>

      <clr-input-container>
        <label>AKZ</label>
        <input
          clrInput
          class="input-full-width"
          type="text"
          placeholder="Aufgabenbereichskennzahl"
          formControlName="akz"
          data-cy="akz"
        />
        <clr-control-error *clrIfError="'maxlength'; error as err">
          (max. Länge {{ err.requiredLength }})
        </clr-control-error>
      </clr-input-container>

      <clr-select-container>
        <label
          >Bearbeitungsstatus
          <app-tooltip>Bearbeitungsstatus des Berichtes</app-tooltip>
        </label>
        <app-referenz-select
          clrSelect
          [referenzliste]="bearbeitungsstatusListe"
          formControlName="bearbeitungsstatus"
          required
        ></app-referenz-select>
        <clr-control-helper
          >Datum der letzten Änderung
          {{
            euRegBetriebsstaette.berichtsdaten.bearbeitungsstatusSeit
              | date: "mediumDate"
          }}</clr-control-helper
        >
        <clr-control-error *clrIfError="'required'">
          Bearbeitungsstatus wird benötigt
        </clr-control-error>
        <clr-control-error *clrIfError="'invalidReference'; error as error">
          Es wurden ungültige Referenzen gefunden: {{ error.ktext }}
        </clr-control-error>
      </clr-select-container>

      <clr-textarea-container class="input-full-width">
        <label>Bemerkung</label>
        <textarea
          clrTextarea
          formControlName="bemerkung"
          placeholder="Bemerkungen"
          rows="2"
        ></textarea>
      </clr-textarea-container>
    </form>
  </div>

  <div class="card-footer" style="font-size: 10px">
    Erfassung am:
    <em>{{ euRegBetriebsstaette.ersteErfassung | date: "short" }}</em> | letzte
    Änderung am:
    <em>{{ euRegBetriebsstaette.letzteAenderung | date: "short" }}</em> | Land:
    <em>{{ displayLand }}</em>
  </div>
</div>
