.action-wrapper {
  margin-top: 1.25rem;
}

.actionbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.buttons {
  display: flex;
  align-items: center;
}

.box-row {
  display: flex;
  justify-content: center;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}
