<div class="card m-0">
  <div class="card-header actionbar">
    <div>
      <cds-icon shape="view-list"></cds-icon>
      Parameter
    </div>
  </div>

  <div class="card-block pt-0 pb-4">
    <clr-datagrid class="datagrid-compact">
      <clr-dg-column
        [clrDgField]="'schluessel'"
        [clrDgSortOrder]="SortOrder.ASC"
        >Schlüssel</clr-dg-column
      >
      <clr-dg-column [clrDgField]="'text'">Inhalt</clr-dg-column>
      <clr-dg-column [clrDgField]="'fuerBehoerden'"
        >Behörde
        <clr-dg-filter>
          <app-datagrid-boolean-filter
            property="fuerBehoerden"
          ></app-datagrid-boolean-filter> </clr-dg-filter
      ></clr-dg-column>
      <clr-dg-column [clrDgField]="'typ'">Typ</clr-dg-column>
      <clr-dg-column>Aktionen</clr-dg-column>
      <clr-dg-placeholder>Keine Ergebnisse gefunden</clr-dg-placeholder>
      <clr-dg-row
        data-cy="parameter-row"
        *clrDgItems="let param of parameterliste"
      >
        <clr-dg-cell>{{ param.schluessel }}</clr-dg-cell>
        <clr-dg-cell>{{ param.text }}</clr-dg-cell>
        <clr-dg-cell>{{ isFuerBehoerde(param.fuerBehoerden) }}</clr-dg-cell>
        <clr-dg-cell>{{ param.typ }}</clr-dg-cell>
        <clr-dg-cell>
          <button
            class="btn btn-icon btn-primary-outline"
            [routerLink]="['./werte', param.schluessel]"
            aria-label="Parameterwerte öffnen"
            title="Parameterwerte öffnen"
          >
            <cds-icon shape="eye" aria-hidden="true"></cds-icon>
          </button>
        </clr-dg-cell>
      </clr-dg-row>
    </clr-datagrid>
  </div>
</div>
